<h1>Getting Started</h1>

<p>To start using ShipUI make sure you're using angular 19 or newer.</p>

<sh-alert class="primary">
  It's
  <strong>signal</strong>
  based and
  <strong>zoneless</strong>
  compliant.
</sh-alert>

<h3>Base setup</h3>

<p>Install</p>
<app-highlight lang="html" [content]="`npm i -S @ship-ui/core`" />

<p>Add styles inside your src/styles.scss</p>
<app-highlight lang="scss" [content]="`@use '@ship-ui/core/styles';`" />

<p>
  Inside your
  <code>angular.json</code>
  file you need to add the ship assets to your assets array this is to add the ship default font
</p>

<app-highlight
  lang="ts"
  [content]="
    `
  &quot;assets&quot;: [
    &quot;src/assets&quot;,
    {
      &quot;glob&quot;: &quot;**/*&quot;,
      &quot;input&quot;: &quot;./node_modules/@ship-ui/core/assets&quot;,
      &quot;output&quot;: &quot;./ship-ui-assets/&quot;
    }
  ]
  `
  " />

<h3>Setup Icons</h3>
<p>
  Ship comes with a custom CLI for subsetting and auto generating an icon font currently we support
  <a href="https://phosphoricons.com/" target="_blank" rel="noopener noreferrer">Phospher icons</a>
</p>

<app-highlight
  lang="html"
  [content]="
    `\<!-- Add to the head of your index.html -->
\<link rel=&quot;stylesheet&quot; href=&quot;/ship.css&quot; /\>`
  " />

<p>Add following scripts to your package.json scripts</p>
<app-highlight lang="ts" [content]="SCRIPTS" />

<p>Now update your current start and build scripts</p>
<app-highlight lang="ts" [content]="UPDATE_SCRIPTS" />
