<sh-button-group [(value)]="renderingType" class="type-b">
  <button value="hsl">
    <sh-icon>circle</sh-icon>
    HSL Wheel
  </button>
  <button value="rgb">
    <sh-icon>circle</sh-icon>
    RGB
  </button>
  <button value="grid">
    <sh-icon>circle</sh-icon>
    Grid
  </button>
  <button value="hue">
    <sh-icon>circle</sh-icon>
    Hue
  </button>
  <button value="saturation">
    <sh-icon>circle</sh-icon>
    Saturation
  </button>
  <button value="alpha">
    <sh-icon>circle</sh-icon>
    Alpha
  </button>
</sh-button-group>

@if (renderingType() === 'hsl') {
  <sh-toggle [(checked)]="showDarkColors" color="primary" variant="raised">Show dark colors</sh-toggle>
}

@if (renderingType() === 'grid' || renderingType() === 'rgb') {
  <!-- <sh-range-slider unit="%" class="primary raised">
  <label>ngModel</label>
  <input type="range" min="0" [max]="360" [(ngModel)]="gridHue" />
</sh-range-slider>
 -->

  <sh-color-picker renderingType="hue" (currentColor)="selectedHue.set($event.hue)" />
}

@if (renderingType() === 'hue' || renderingType() === 'saturation' || renderingType() === 'alpha') {
  <sh-toggle [(checked)]="direction" color="primary" variant="raised">Direction</sh-toggle>
}

<sh-color-picker
  [renderingType]="renderingType()"
  [showDarkColors]="showDarkColors()"
  [direction]="direction() ? 'vertical' : 'horizontal'"
  [hue]="selectedHue()"
  (currentColor)="currentColor.set($event)" />

<div class="colors">
  <div class="swatch" [style.background]="currentColor()?.hex"></div>

  <div class="color-text">
    <p>RGB: {{ currentColor()?.rgb }}</p>
    <p>RGBA: {{ currentColor()?.rgba }}</p>
    <p>HEX: {{ currentColor()?.hex }}</p>
    <p>HEX8: {{ currentColor()?.hex8 }}</p>
    <p>HSL: {{ currentColor()?.hsl }}</p>
    <p>HSLA: {{ currentColor()?.hsla }}</p>
    <p>Hue: {{ currentColor()?.hue }}</p>
    <p>Saturation: {{ currentColor()?.saturation }}</p>
    <p>Alpha: {{ currentColor()?.alpha }}</p>
  </div>
</div>
<!-- <pre>{{ currentColor() | json }}</pre> -->

<div class="example-element">
  <h3>Color Picker Input Demo</h3>
  <sh-toggle [(checked)]="showAlpha" color="primary" variant="raised">Enable Alpha</sh-toggle>
  <sh-button-group [(value)]="inputRenderType" class="type-b">
    <button value="hsl">HSL</button>
    <button value="rgb">
      <sh-icon>circle</sh-icon>
      RGB
    </button>
    <button value="hex">
      <sh-icon>circle</sh-icon>
      Hex
    </button>
  </sh-button-group>

  <sh-color-picker-input [format]="computedRenderType()" [renderingType]="inputRenderType() === 'hsl' ? 'hsl' : 'rgb'">
    <label>Pick a color</label>
    <input type="text" [value]="inputValue()" (input)="inputValue.set($any($event.target).value)" />
  </sh-color-picker-input>
  <p>Input Value: {{ inputValue() }}</p>
</div>
