@use '../showcase' as *;
:host {
  @extend %showcase-host;
}

h3 {
  margin: 0;
  font: var(--title-30);
}

.example {
  display: flex;
  flex-direction: column;
  gap: p2r(20);
}

.tab-content {
  margin-top: p2r(24);
  display: flex;
  flex-direction: column;
  gap: p2r(24);
}
