<div class="todo-list">
  <spk-list spk-sortable (afterDrop)="reorderTodo($event)">
    @for (todo of todos(); track $index) {
      <div spk-action-item draggable="true" [class.active]="todo.done" (click)="toggleTodo($index)">
        <spk-icon sort-handle>arrows-out-line-vertical</spk-icon>
        {{ todo.title }}
        <spk-checkbox [class.active]="todo.done" class="primary raised" />
      </div>
    }
  </spk-list>
</div>

<div class="wrap">
  <section>
    <h4>Basic</h4>
    <div class="elements">
      <spk-checkbox [class.active]="false" />
      <spk-checkbox [class.active]="true" />
      <spk-checkbox [class.active]="true" class="indeterminate" />

      <spk-checkbox [class.active]="false" class="primary" />
      <spk-checkbox [class.active]="true" class="primary" />
      <spk-checkbox [class.active]="true" class="primary indeterminate" />

      <spk-checkbox [class.active]="false" class="accent" />
      <spk-checkbox [class.active]="true" class="accent" />
      <spk-checkbox [class.active]="true" class="accent indeterminate" />

      <spk-checkbox [class.active]="false" class="tertiary" />
      <spk-checkbox [class.active]="true" class="tertiary" />
      <spk-checkbox [class.active]="true" class="tertiary indeterminate" />

      <spk-checkbox [class.active]="false" class="warn" />
      <spk-checkbox [class.active]="true" class="warn" />
      <spk-checkbox [class.active]="true" class="warn indeterminate" />

      <spk-checkbox [class.active]="false" class="success" />
      <spk-checkbox [class.active]="true" class="success" />
      <spk-checkbox [class.active]="true" class="success indeterminate" />
    </div>
  </section>

  <section>
    <h4>Outlined</h4>
    <div class="elements">
      <spk-checkbox [class.active]="false" class="outlined" />
      <spk-checkbox [class.active]="true" class="outlined" />
      <spk-checkbox [class.active]="true" class="outlined indeterminate" />

      <spk-checkbox [class.active]="false" class="outlined primary" />
      <spk-checkbox [class.active]="true" class="outlined primary" />
      <spk-checkbox [class.active]="true" class="outlined primary indeterminate" />

      <spk-checkbox [class.active]="false" class="outlined accent" />
      <spk-checkbox [class.active]="true" class="outlined accent" />
      <spk-checkbox [class.active]="true" class="outlined accent indeterminate" />

      <spk-checkbox [class.active]="false" class="outlined tertiary" />
      <spk-checkbox [class.active]="true" class="outlined tertiary" />
      <spk-checkbox [class.active]="true" class="outlined tertiary indeterminate" />

      <spk-checkbox [class.active]="false" class="outlined warn" />
      <spk-checkbox [class.active]="true" class="outlined warn" />
      <spk-checkbox [class.active]="true" class="outlined warn indeterminate" />

      <spk-checkbox [class.active]="false" class="outlined success" />
      <spk-checkbox [class.active]="true" class="outlined success" />
      <spk-checkbox [class.active]="true" class="outlined success indeterminate" />
    </div>
  </section>

  <section>
    <h4>Flat</h4>
    <div class="elements">
      <spk-checkbox [class.active]="false" class="flat" />
      <spk-checkbox [class.active]="true" class="flat" />
      <spk-checkbox [class.active]="true" class="flat indeterminate" />

      <spk-checkbox [class.active]="false" class="flat primary" />
      <spk-checkbox [class.active]="true" class="flat primary" />
      <spk-checkbox [class.active]="true" class="flat primary indeterminate" />

      <spk-checkbox [class.active]="false" class="flat accent" />
      <spk-checkbox [class.active]="true" class="flat accent" />
      <spk-checkbox [class.active]="true" class="flat accent indeterminate" />

      <spk-checkbox [class.active]="false" class="flat tertiary" />
      <spk-checkbox [class.active]="true" class="flat tertiary" />
      <spk-checkbox [class.active]="true" class="flat tertiary indeterminate" />

      <spk-checkbox [class.active]="false" class="flat warn" />
      <spk-checkbox [class.active]="true" class="flat warn" />
      <spk-checkbox [class.active]="true" class="flat warn indeterminate" />

      <spk-checkbox [class.active]="false" class="flat success" />
      <spk-checkbox [class.active]="true" class="flat success" />
      <spk-checkbox [class.active]="true" class="flat success indeterminate" />
    </div>
  </section>

  <section>
    <h4>Raised</h4>
    <div class="elements">
      <spk-checkbox [class.active]="false" class="raised" />
      <spk-checkbox [class.active]="true" class="raised" />
      <spk-checkbox [class.active]="true" class="raised indeterminate" />

      <spk-checkbox [class.active]="false" class="raised primary" />
      <spk-checkbox [class.active]="true" class="raised primary" />
      <spk-checkbox [class.active]="true" class="raised primary indeterminate" />

      <spk-checkbox [class.active]="false" class="raised accent" />
      <spk-checkbox [class.active]="true" class="raised accent" />
      <spk-checkbox [class.active]="true" class="raised accent indeterminate" />

      <spk-checkbox [class.active]="false" class="raised tertiary" />
      <spk-checkbox [class.active]="true" class="raised tertiary" />
      <spk-checkbox [class.active]="true" class="raised tertiary indeterminate" />

      <spk-checkbox [class.active]="false" class="raised warn" />
      <spk-checkbox [class.active]="true" class="raised warn" />
      <spk-checkbox [class.active]="true" class="raised warn indeterminate" />

      <spk-checkbox [class.active]="false" class="raised success" />
      <spk-checkbox [class.active]="true" class="raised success" />
      <spk-checkbox [class.active]="true" class="raised success indeterminate" />
    </div>
  </section>
</div>

<div>
  <h3>Working example</h3>
  <div class="example-checkbox-row">
    <h5>Basic</h5>
    <spk-checkbox [class.active]="active()" class="primary" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="accent" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="tertiary" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="warn" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="success" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>

    <h5>Outlined</h5>
    <spk-checkbox class="outlined primary">
      Lorem ipsum dolor
      <input type="checkbox" [formControl]="formCtrl" />
    </spk-checkbox>

    <pre>{{ formCtrl.value }}</pre>

    <spk-checkbox [class.active]="active()" class="outlined accent" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="outlined tertiary" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="outlined warn" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="outlined success" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>

    <h5>Flat</h5>
    <spk-checkbox [class.active]="active()" class="flat primary" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="flat accent" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="flat tertiary" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="flat warn" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="flat success" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>

    <h5>Raised</h5>
    <spk-checkbox [class.active]="active()" class="raised primary" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="raised accent" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="raised tertiary" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="raised warn" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
    <spk-checkbox [class.active]="active()" class="raised success" (click)="active.set(!active())">
      Lorem ipsum dolor
    </spk-checkbox>
  </div>
</div>
