@use 'helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(40);
  padding: p2r(40);
}

.wrap {
  display: grid;
  grid-template-columns: p2r(60 60 60 60 60);
  gap: p2r(40);
}

.elements {
  display: grid;
  grid-template-columns: p2r(20 20 20);
  gap: p2r(20 10);
}

.example-checkbox-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: p2r(10);
}
