<h1>Checkboxes</h1>

<app-property-viewer>
  <section>
    <h4>Variants</h4>
    <p>
      Checkbox variants can be set through the class ex
      <code>class="simple"</code>
      takes
      <b>simple</b>
      ,
      <b>outlined</b>
      ,
      <b>flat</b>
      , and
      <b>raised</b>
    </p>
  </section>
  <section>
    <h4>Colors</h4>
    <p>
      Checkbox colors can be set through the class ex
      <code>class="primary"</code>
      takes
      <b>primary</b>
      ,
      <b>accent</b>
      ,
      <b>warn</b>
      ,
      <b>error</b>
      , and
      <b>success</b>
    </p>
  </section>
  <section>
    <h4>Indeterminate</h4>
    <p>
      The indeterminate state can be set through the class ex
      <code>class="indeterminate"</code>
    </p>
  </section>
  <section>
    <h4>Disabled</h4>
    <p>
      The checkbox can be set to disabled through the attribute ex
      <code>[disabled]</code>
    </p>
  </section>
</app-property-viewer>

<div class="sandbox-example">
  <app-previewer
    path="/spk-checkbox/examples/checkbox-sandbox/checkbox-sandbox.component"
    title="Sandbox"
    class="no-space">
    <app-checkbox-sandbox />
  </app-previewer>
</div>

<h3>Variations</h3>

<div class="content">
  <app-previewer path="/spk-checkbox/examples/base-checkbox/base-checkbox.component" title="Base">
    <app-base-checkbox class="example" />
  </app-previewer>
  <app-previewer path="/spk-checkbox/examples/simple-checkbox/simple-checkbox.component" title="Simple">
    <app-simple-checkbox class="example" />
  </app-previewer>
  <app-previewer path="/spk-checkbox/examples/outlined-checkbox/outlined-checkbox.component" title="Outlined">
    <app-outlined-checkbox class="example" />
  </app-previewer>
  <app-previewer path="/spk-checkbox/examples/flat-checkbox/flat-checkbox.component" title="Flat">
    <app-flat-checkbox class="example" />
  </app-previewer>
  <app-previewer path="/spk-checkbox/examples/raised-checkbox/raised-checkbox.component" title="Raised">
    <app-raised-checkbox class="example" />
  </app-previewer>
</div>
