@use '../mixins/breakpoint.scss' as *;

@mixin wrapper($gap: p2r(32), $padding: p2r(32)) {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $gap;
  padding: $padding;

  @include breakpoint(-milli) {
    gap: $gap / 2;
    padding: $padding / 2;
  }
}
