@use '../mixins/breakpoint.scss' as *;
@use '../fn/p2r.scss' as *;
@use 'sass:math' as mat;

@mixin wrapper($gap: p2r(32), $padding: p2r(32)) {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $gap;
  padding: $padding;

  @include breakpoint(-milli) {
    gap: calc(#{$gap} / 2);
    padding: calc(#{$padding} / 2);
  }
}
