<sh-table [data]="dataSource()" [class]="type()">
  <div spkStickyRows>
    <tr>
      @for (col of displayedColumns(); track col) {
        <th>{{ col }}</th>
      }
    </tr>

    <tr>
      @for (col of displayedColumns(); track col) {
        <th>{{ col }}</th>
      }
    </tr>
  </div>

  @for (row of dataSource(); track $index) {
    <tr [class.sticky]="$index % 3 === 2">
      @for (col of displayedColumns(); track col) {
        <td>{{ row[col] }}</td>
      }
    </tr>
  }

  <div table-no-rows>No data available</div>
</sh-table>
