@use '../../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(20);
  padding: p2r(40);
  width: calc(100% - var(--sh-sidenav));
}

h1 {
  font: var(--title-20B);
}

h3 {
  font: var(--paragraph-10);
}

.example {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
  width: p2r(500);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: p2r(20);
}
