<header header>
  <h3 class="title-20">Welcome to duplicati</h3>
</header>

<div content>
  <p>
    duplicati is a backup client that securely stores encrypted backups on cloud storage services like Dropbox, Google
    Drive, OneDrive and many more. It works on all major operating systems and is completely free.
  </p>

  <p>
    duplicati is a backup client that securely stores encrypted backups on cloud storage services like Dropbox, Google
    Drive, OneDrive and many more. It works on all major operating systems and is completely free.
  </p>
</div>

<footer footer>
  <button spk-button class="raised primary" type="submit">Save</button>
</footer>
