<section>
  <h1 class="display-10">Display 10</h1>
  <h1 class="display-20">Display 20</h1>
  <h1 class="display-30">Display 30</h1>
  <h1 class="display-40">Display 40</h1>
  <h1 class="display-50">Display 50</h1>
</section>

<section>
  <h1 class="title-10">Title 10</h1>
  <h1 class="title-10B">Title 10B</h1>
  <br />
  <h1 class="title-20">Title 20</h1>
  <h1 class="title-20B">Title 20B</h1>
  <br />
  <h1 class="title-30">Title 30</h1>
  <h1 class="title-30B">Title 30B</h1>
</section>

<section>
  <h1 class="paragraph-10">Paragraph 10</h1>
  <h1 class="paragraph-10B">Paragraph 10B</h1>
  <br />
  <h1 class="paragraph-20">Paragraph 20</h1>
  <h1 class="paragraph-20B">Paragraph 20B</h1>
  <br />
  <h1 class="paragraph-30">Paragraph 30</h1>
  <h1 class="paragraph-30B">Paragraph 30B</h1>
  <br />
  <h1 class="paragraph-40">Paragraph 40</h1>
  <h1 class="paragraph-40B">Paragraph 40B</h1>
</section>

<section>
  <code class="code-10">
Code 10
    <br />
    <br />
{{ someJson | json }}
  </code>
  <br />
  <code class="code-20">
Code 20
    <br />
    <br />
{{ someJson | json }}
  </code>
  <br />
  <code class="code-30">
Code 30
    <br />
    <br />
{{ someJson | json }}
  </code>
</section>
