:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

section {
  position: relative;
  padding: 40px;
  border: 1px solid var(--grey-300);

  label {
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 10px 20px;
    background-color: var(--grey-50);
    font-weight: 600;
  }

  &.dark {
    border-color: var(--grey-700);

    label {
      background-color: var(--grey-900);
      color: var(--grey-contrast-900);
    }
  }
}
