<section [class.dark]="isDarkMode()">
  <label>Headlines</label>

  <h1 class="title-10">title-10</h1>
  <h2 class="title-20B">title-20B</h2>
  <h3 class="title-20">title-20</h3>
  <h4 class="title-30B">title-30B</h4>
  <h5 class="title-30B">title-30B</h5>
  <h6 class="title-30B">title-30B</h6>
</section>

<section [class.dark]="isDarkMode()">
  <label>Subtitle</label>

  <h6 class="paragraph-10">paragraph-10</h6>
  <h6 class="paragraph-20">paragraph-20</h6>
</section>

<section [class.dark]="isDarkMode()">
  <label>Body</label>

  <p class="paragraph-30B">
    paragraph-30B
    <br />
    Dolor consectetur non consequat fugiat nisi ipsum officia in elit laborum exercitation Lorem excepteur nisi. Amet
    proident labore pariatur reprehenderit deserunt duis excepteur sunt culpa adipisicing magna incididunt duis ex sit
    ex consectetur culpa amet do. Occaecat amet est cupidatat nulla cillum deserunt in aliquip deserunt. Tempor proident
    veniam ea voluptate elit anim nulla enim dolor et ad non veniam magna fugiat consequat sunt mollit. Non qui aute
    sint incididunt dolor sunt culpa officia. Ipsum exercitation aliquip voluptate aliquip Lorem velit non reprehenderit
    non consectetur veniam officia cupidatat dolor consectetur dolor cupidatat reprehenderit veniam officia. Elit quis
    irure culpa id nostrud officia veniam enim enim officia enim ipsum sunt nulla mollit mollit reprehenderit.
    Adipisicing excepteur ad et laborum eiusmod Lorem et esse dolore ipsum culpa occaecat eu consequat nulla id culpa
    cupidatat officia amet labore. Cillum cupidatat ullamco tempor ullamco exercitation anim ea laborum velit fugiat. Do
    cupidatat labore id sunt est non incididunt duis minim sint ex enim aute labore. Culpa culpa deserunt enim labore
    reprehenderit nostrud anim reprehenderit id ad eiusmod commodo dolore incididunt adipisicing id. Anim eu sit ex
    laboris ullamco in et minim quis eu reprehenderit laborum irure do cupidatat Lorem in eiusmod laborum ad est.
    Aliquip cupidatat magna ea amet veniam officia non nulla duis ut tempor reprehenderit pariatur et consectetur dolore
    eiusmod reprehenderit ut et commodo adipisicing id. Nostrud ea quis laboris cillum ad elit. Est nisi ex sit Lorem
    labore ullamco culpa occaecat cillum fugiat ullamco eu. Id laboris commodo do officia quis amet culpa velit officia
    excepteur amet tempor sint dolore sit nostrud duis cupidatat anim eu elit nostrud cillum. Enim enim in ullamco enim
    voluptate aute do consequat officia nulla elit nulla. Quis exercitation officia cillum aliquip id amet amet irure
    cillum ea cillum officia ad enim. Esse veniam cupidatat ex fugiat minim anim dolore dolore laborum.
  </p>

  <p class="paragraph-30">
    paragraph-30
    <br />
    Dolor consectetur non consequat fugiat nisi ipsum officia in elit laborum exercitation Lorem excepteur nisi. Amet
    proident labore pariatur reprehenderit deserunt duis excepteur sunt culpa adipisicing magna incididunt duis ex sit
    ex consectetur culpa amet do. Occaecat amet est cupidatat nulla cillum deserunt in aliquip deserunt. Tempor proident
    veniam ea voluptate elit anim nulla enim dolor et ad non veniam magna fugiat consequat sunt mollit. Non qui aute
    sint incididunt dolor sunt culpa officia. Ipsum exercitation aliquip voluptate aliquip Lorem velit non reprehenderit
    non consectetur veniam officia cupidatat dolor consectetur dolor cupidatat reprehenderit veniam officia. Elit quis
    irure culpa id nostrud officia veniam enim enim officia enim ipsum sunt nulla mollit mollit reprehenderit.
    Adipisicing excepteur ad et laborum eiusmod Lorem et esse dolore ipsum culpa occaecat eu consequat nulla id culpa
    cupidatat officia amet labore. Cillum cupidatat ullamco tempor ullamco exercitation anim ea laborum velit fugiat. Do
    cupidatat labore id sunt est non incididunt duis minim sint ex enim aute labore. Culpa culpa deserunt enim labore
    reprehenderit nostrud anim reprehenderit id ad eiusmod commodo dolore incididunt adipisicing id. Anim eu sit ex
    laboris ullamco in et minim quis eu reprehenderit laborum irure do cupidatat Lorem in eiusmod laborum ad est.
    Aliquip cupidatat magna ea amet veniam officia non nulla duis ut tempor reprehenderit pariatur et consectetur dolore
    eiusmod reprehenderit ut et commodo adipisicing id. Nostrud ea quis laboris cillum ad elit. Est nisi ex sit Lorem
    labore ullamco culpa occaecat cillum fugiat ullamco eu. Id laboris commodo do officia quis amet culpa velit officia
    excepteur amet tempor sint dolore sit nostrud duis cupidatat anim eu elit nostrud cillum. Enim enim in ullamco enim
    voluptate aute do consequat officia nulla elit nulla. Quis exercitation officia cillum aliquip id amet amet irure
    cillum ea cillum officia ad enim. Esse veniam cupidatat ex fugiat minim anim dolore dolore laborum.
  </p>
</section>

<section [class.dark]="isDarkMode()">
  <label>Misc</label>

  <button mat-button>mat-button</button>

  <br />
  <br />

  <div class="paragraph-40B">paragraph-40B</div>
</section>
