@use 'sass:map';
@use '@angular/material' as mat;

// COPIED FROM MATERIAL CORE
// TODO update so it matches design guidelines
$dark-primary-text: var(--dark-primary-text);
$light-primary-text: var(--light-primary-text);
// COPIED FROM MATERIAL CORE

$primary: (
  50: var(--primary-50),
  100: var(--primary-100),
  200: var(--primary-200),
  300: var(--primary-300),
  400: var(--primary-400),
  500: var(--primary-500),
  600: var(--primary-600),
  700: var(--primary-700),
  800: var(--primary-800),
  900: var(--primary-900),
  A100: var(--primary-A100),
  A200: var(--primary-A200),
  A400: var(--primary-A400),
  A700: var(--primary-A700),
  contrast: (
    50: var(--primary-contrast-50),
    100: var(--primary-contrast-100),
    200: var(--primary-contrast-200),
    300: var(--primary-contrast-300),
    400: var(--primary-contrast-400),
    500: var(--primary-contrast-500),
    600: var(--primary-contrast-600),
    700: var(--primary-contrast-700),
    800: var(--primary-contrast-800),
    900: var(--primary-contrast-900),
    A100: var(--primary-contrast-A100),
    A200: var(--primary-contrast-A200),
    A400: var(--primary-contrast-A400),
    A700: var(--primary-contrast-A700),
  ),
);

$accent: (
  50: var(--accent-50),
  100: var(--accent-100),
  200: var(--accent-200),
  300: var(--accent-300),
  400: var(--accent-400),
  500: var(--accent-500),
  600: var(--accent-600),
  700: var(--accent-700),
  800: var(--accent-800),
  900: var(--accent-900),
  A100: var(--accent-A100),
  A200: var(--accent-A200),
  A400: var(--accent-A400),
  A700: var(--accent-A700),
  contrast: (
    50: var(--accent-contrast-50),
    100: var(--accent-contrast-100),
    200: var(--accent-contrast-200),
    300: var(--accent-contrast-300),
    400: var(--accent-contrast-400),
    500: var(--accent-contrast-500),
    600: var(--accent-contrast-600),
    700: var(--accent-contrast-700),
    800: var(--accent-contrast-800),
    900: var(--accent-contrast-900),
    A100: var(--accent-contrast-A100),
    A200: var(--accent-contrast-A200),
    A400: var(--accent-contrast-A400),
    A700: var(--accent-contrast-A700),
  ),
);

$tertiary: (
  50: var(--tertiary-50),
  100: var(--tertiary-100),
  200: var(--tertiary-200),
  300: var(--tertiary-300),
  400: var(--tertiary-400),
  500: var(--tertiary-500),
  600: var(--tertiary-600),
  700: var(--tertiary-700),
  800: var(--tertiary-800),
  900: var(--tertiary-900),
  A100: var(--tertiary-A100),
  A200: var(--tertiary-A200),
  A400: var(--tertiary-A400),
  A700: var(--tertiary-A700),
  contrast: (
    50: var(--tertiary-contrast-50),
    100: var(--tertiary-contrast-100),
    200: var(--tertiary-contrast-200),
    300: var(--tertiary-contrast-300),
    400: var(--tertiary-contrast-400),
    500: var(--tertiary-contrast-500),
    600: var(--tertiary-contrast-600),
    700: var(--tertiary-contrast-700),
    800: var(--tertiary-contrast-800),
    900: var(--tertiary-contrast-900),
    A100: var(--tertiary-contrast-A100),
    A200: var(--tertiary-contrast-A200),
    A400: var(--tertiary-contrast-A400),
    A700: var(--tertiary-contrast-A700),
  ),
);

$warn: (
  50: var(--warn-50),
  100: var(--warn-100),
  200: var(--warn-200),
  300: var(--warn-300),
  400: var(--warn-400),
  500: var(--warn-500),
  600: var(--warn-600),
  700: var(--warn-700),
  800: var(--warn-800),
  900: var(--warn-900),
  A100: var(--warn-A100),
  A200: var(--warn-A200),
  A400: var(--warn-A400),
  A700: var(--warn-A700),
  contrast: (
    50: var(--warn-contrast-50),
    100: var(--warn-contrast-100),
    200: var(--warn-contrast-200),
    300: var(--warn-contrast-300),
    400: var(--warn-contrast-400),
    500: var(--warn-contrast-500),
    600: var(--warn-contrast-600),
    700: var(--warn-contrast-700),
    800: var(--warn-contrast-800),
    900: var(--warn-contrast-900),
    A100: var(--warn-contrast-A100),
    A200: var(--warn-contrast-A200),
    A400: var(--warn-contrast-A400),
    A700: var(--warn-contrast-A700),
  ),
);

$success: (
  50: var(--success-50),
  100: var(--success-100),
  200: var(--success-200),
  300: var(--success-300),
  400: var(--success-400),
  500: var(--success-500),
  600: var(--success-600),
  700: var(--success-700),
  800: var(--success-800),
  900: var(--success-900),
  A100: var(--success-A100),
  A200: var(--success-A200),
  A400: var(--success-A400),
  A700: var(--success-A700),
  contrast: (
    50: var(--success-contrast-50),
    100: var(--success-contrast-100),
    200: var(--success-contrast-200),
    300: var(--success-contrast-300),
    400: var(--success-contrast-400),
    500: var(--success-contrast-500),
    600: var(--success-contrast-600),
    700: var(--success-contrast-700),
    800: var(--success-contrast-800),
    900: var(--success-contrast-900),
    A100: var(--success-contrast-A100),
    A200: var(--success-contrast-A200),
    A400: var(--success-contrast-A400),
    A700: var(--success-contrast-A700),
  ),
);

$grey: (
  50: var(--grey-50),
  100: var(--grey-100),
  200: var(--grey-200),
  300: var(--grey-300),
  400: var(--grey-400),
  500: var(--grey-500),
  600: var(--grey-600),
  700: var(--grey-700),
  800: var(--grey-800),
  900: var(--grey-900),
  A100: var(--grey-A100),
  A200: var(--grey-A200),
  A400: var(--grey-A400),
  A700: var(--grey-A700),
  contrast: (
    50: var(--grey-contrast-50),
    100: var(--grey-contrast-100),
    200: var(--grey-contrast-200),
    300: var(--grey-contrast-300),
    400: var(--grey-contrast-400),
    500: var(--grey-contrast-500),
    600: var(--grey-contrast-600),
    700: var(--grey-contrast-700),
    800: var(--grey-contrast-800),
    900: var(--grey-contrast-900),
    A100: var(--grey-contrast-A100),
    A200: var(--grey-contrast-A200),
    A400: var(--grey-contrast-A400),
    A700: var(--grey-contrast-A700),
  ),
);

$typography-config: mat.m2-define-typography-config(
  $font-family: 'Inter Tight, sans-serif',
  $headline-1: mat.m2-define-typography-level(32px, normal, 600, 'Inter Tight, sans-serif'),
  $headline-2: mat.m2-define-typography-level(28px, normal, 600, 'Inter Tight, sans-serif'),
  $headline-3: mat.m2-define-typography-level(28px, normal, 600, 'Inter Tight, sans-serif'),
  $headline-4: mat.m2-define-typography-level(24px, normal, 600, 'Inter Tight, sans-serif'),
  $headline-5: mat.m2-define-typography-level(24px, normal, 600, 'Inter Tight, sans-serif'),
  $headline-6: mat.m2-define-typography-level(20px, normal, 600, 'Inter Tight, sans-serif'),
  $subtitle-1: mat.m2-define-typography-level(18px, normal, 600, 'Inter Tight, sans-serif'),
  $subtitle-2: mat.m2-define-typography-level(16px, normal, 600, 'Inter Tight, sans-serif'),
  $body-1: mat.m2-define-typography-level(14px, normal, 600, 'Inter Tight, sans-serif'),
  $body-2: mat.m2-define-typography-level(14px, normal, 500, 'Inter Tight, sans-serif'),
  $caption: mat.m2-define-typography-level(13px, normal, 400, 'Inter Tight, sans-serif'),
  $button: mat.m2-define-typography-level(16px, normal, 500, 'Inter Tight, sans-serif'),
);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette($primary),
      accent: mat.m2-define-palette($accent),
      tertiary: mat.m2-define-palette($tertiary),
      warn: mat.m2-define-palette($warn),
      success: mat.m2-define-palette($success),
      greys: mat.m2-define-palette($grey),
    ),
    typography: $typography-config,
  )
);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette($primary),
      accent: mat.m2-define-palette($accent),
      warn: mat.m2-define-palette($warn),
      success: mat.m2-define-palette($success),
      greys: mat.m2-define-palette($grey),
    ),
  )
);
