@use '../../../../../sparkle-ui/styles/helpers.scss' as *;

:host {
  @include wrapper();
}

spk-list {
  width: 500px;
}

.example {
  padding: 40px;
}

.l20-example {
  padding: 40px;
  background-color: var(--base-level-20);
}
