<div class="example">
  <spk-list class="primary">
    <h3 title>Basic</h3>
    <div item>
      <spk-icon>circle</spk-icon>
      Item 1
      <span suffix>⌘O</span>
    </div>
    <div item>
      <spk-icon>circle</spk-icon>
      Item 2
      <span suffix>⌘O</span>
    </div>
    <div action [class.active]="active()" (click)="active.set(!active())">
      <spk-icon>circle</spk-icon>
      Item 2
      <span suffix>⌘O</span>
    </div>
    <div item (click)="checkbox1.setValue(!checkbox1.value)">
      <spk-icon>circle</spk-icon>
      Item 3
      <spk-checkbox suffix>
        <input type="checkbox" [formControl]="checkbox1" />
      </spk-checkbox>
    </div>
    <div item (click)="checkbox2.setValue(!checkbox2.value)">
      <spk-checkbox>
        <input type="checkbox" [formControl]="checkbox2" />
      </spk-checkbox>
      Item 3
    </div>
  </spk-list>
</div>

<div class="l20-example">
  <spk-list class="base-level-20">
    <h3 title>Basic</h3>
    <div item>
      <spk-icon>circle</spk-icon>
      Item 1
      <span suffix>⌘O</span>
    </div>
    <div item>
      <spk-icon>circle</spk-icon>
      Item 2
      <span suffix>⌘O</span>
    </div>
    <div action [class.active]="active()" (click)="active.set(!active())">
      <spk-icon class="spk-primary">circle</spk-icon>
      Item 2
      <span suffix>⌘O</span>
    </div>
    <div item (click)="checkbox1.setValue(!checkbox1.value)">
      <spk-icon>circle</spk-icon>
      Item 3
      <spk-checkbox suffix>
        <input type="checkbox" [formControl]="checkbox1" />
      </spk-checkbox>
    </div>
    <div item (click)="checkbox2.setValue(!checkbox2.value)">
      <spk-icon>circle</spk-icon>
      Item 3
      <spk-checkbox>
        <input type="checkbox" [formControl]="checkbox2" />
      </spk-checkbox>
    </div>
    <a href="#" item (click)="checkbox2.setValue(!checkbox2.value)">
      <spk-icon>circle</spk-icon>
      Item 4
      <spk-checkbox>
        <input type="checkbox" [formControl]="checkbox2" />
      </spk-checkbox>
    </a>
  </spk-list>
</div>
