<h1>Table</h1>

<app-property-viewer>
  <section>
    <h4>data</h4>
    <p>
      The data array to display in the table. Is a one-way binding.
      <code>[data]</code>
      .
    </p>
  </section>

  <section>
    <h4>loading</h4>
    <p>
      Boolean. Shows a loading indicator when true.
      <code>[loading]="true"</code>
    </p>
  </section>

  <section>
    <h4>sortByColumn</h4>
    <p>
      The column to sort by. Two-way bindable via can also be used with a model signal.
      <code>[(sortByColumn)]</code>
      or
      <code>[sortByColumn]</code>
      /
      <code>(sortByColumnChange)</code>
      .
    </p>
  </section>

  <section>
    <h4>shResize</h4>
    <p>
      Makes a column resizable. Inputs:
      <code>resizable</code>
      (default: true),
      <code>minWidth</code>
      (default: 50),
      <code>maxWidth</code>
      (default: null).
    </p>

    <p>
      Can be disabled by adding class
      <code>.no-resize</code>
      to the table.
    </p>
  </section>

  <section>
    <h4>shSort</h4>
    <p>
      Makes a column sortable. Input:
      <code>shSort</code>
      (column name).
    </p>
  </section>

  <section>
    <h4>shStickyColumns</h4>
    <p>
      Makes columns sticky. Input:
      <code>shStickyColumns</code>
      ('start' or 'end', default: 'start').
    </p>
  </section>

  <section>
    <h4>CSS Classes</h4>
    <p>
      <code>.sticky</code>
      : Makes a column sticky to the left.
      <br />
      <code>.sticky-end</code>
      : Makes a column sticky to the right.
    </p>
  </section>

  <section>
    <h4>Size attribute</h4>
    <p>
      On your
      <code>&lt;th&gt;</code>
      you can add a
      <code>size</code>
      attribute to set the column width this is consumed by sh-table and used to calculate the grid-template-columns
      while also accounting for shResize.
      <br />
      <code>&lt;th size="1fr"&gt;</code>
      or
      <code>&lt;th size="min-content"&gt;</code>
      etc.
    </p>
  </section>
</app-property-viewer>

<div class="controls">
  <sh-button-group>
    <button [class.active]="type() === 'type-a'" (click)="type.set('type-a')">Type A</button>
    <button [class.active]="type() === 'type-b'" (click)="type.set('type-b')">Type B</button>
  </sh-button-group>
</div>

<app-previewer path="/tables/examples/base-table/base-table.component" title="Basic Table">
  <base-table class="example" [type]="type()" />
</app-previewer>

<app-previewer path="/tables/examples/toggle-row-table/toggle-row-table.component" title="Toggle Row Table">
  <toggle-row-table class="example" [type]="type()" />
</app-previewer>

<app-previewer path="/tables/examples/multi-sticky-table/multi-sticky-table.component" title="Multi Sticky Columns">
  <multi-sticky-table class="example" [type]="type()" />
</app-previewer>

<app-previewer path="/tables/examples/multi-table-header/multi-table-header.component" title="Resizing Table">
  <resizing-table class="example" [type]="type()" />
</app-previewer>

<app-previewer path="/tables/examples/multi-table-header/multi-table-header.component" title="Multi Table Header">
  <multi-table-header class="example" [type]="type()" />
</app-previewer>

<app-previewer path="/tables/examples/sorting-table/sorting-table.component" title="Sorting Table">
  <sorting-table class="example" [type]="type()" />
</app-previewer>
