<h1>Sparkle popovers</h1>

<section>
  <h3>Basic</h3>

  <spk-popover>
    <button>hello im a trigger plain button trigger</button>
    hello im content
  </spk-popover>
</section>

<section>
  <h3>Basic</h3>

  <spk-popover>
    <a spk-button>hello im a spk-button trigger</a>
    hello im content
  </spk-popover>
</section>

<br />
<br />
<br />
<br />

<section>
  <h3>Basic custom trigger</h3>

  <spk-popover>
    <div trigger>hello im a div trigger</div>
    hello im content
  </spk-popover>
</section>
