<h1>Popover</h1>

<p>Utility component to create popovers with auto positioning using css anchor and js as a fallback.</p>

<app-property-viewer>
  <section>
    <h4>onHover</h4>
    <p>Opens the popover on hover instead of click.</p>
  </section>
  <section>
    <h4>asMultiLayer</h4>
    <p>Enables multi-layer (nested) popover support.</p>
  </section>
  <section>
    <h4>disableOpenByClick</h4>
    <p>Disables opening the popover by clicking the trigger.</p>
  </section>
  <section>
    <h4>options</h4>
    <p>
      Popover options object:
      <code>width, height, closeOnButton and closeOnEsc</code>
      .
    </p>
  </section>
</app-property-viewer>

<div class="content">
  <h3>Examples</h3>

  <app-previewer path="/spk-popover/examples/button-popover/button-popover.component" title="Popover with Button">
    <button-popover class="example" />
  </app-previewer>

  <app-previewer
    path="/spk-popover/examples/spk-button-popover/spk-button-popover.component"
    title="Popover with spk-button">
    <spk-button-popover class="example" />
  </app-previewer>

  <app-previewer
    path="/spk-popover/examples/trigger-attribute-popover/trigger-attribute-popover.component"
    title="Popover with Trigger Attribute">
    <trigger-attribute-popover class="example" />
  </app-previewer>
</div>
