<!-- @for (icon of icons(); track $index) {
  <h3>{{ icon }}</h3>
  <spk-icon>{{ icon }}</spk-icon>
  <spk-icon>{{ icon }}-thin</spk-icon>
  <spk-icon>{{ icon }}-light</spk-icon>
  <spk-icon>{{ icon }}-fill</spk-icon>
  <spk-icon>{{ icon }}-bold</spk-icon>
} -->

<h3>Cloud-warning</h3>
<spk-icon>cloud-warning</spk-icon>
<spk-icon>cloud-warning-thin</spk-icon>
<spk-icon>cloud-warning-light</spk-icon>
<spk-icon>cloud-warning-fill</spk-icon>
<spk-icon>cloud-warning-bold</spk-icon>

<h3>Warning</h3>
<spk-icon>warning</spk-icon>
<spk-icon>warning-thin</spk-icon>
<spk-icon>warning-light</spk-icon>
<spk-icon>warning-fill</spk-icon>
<spk-icon>warning-bold</spk-icon>

<h3>Warning warning-octagon</h3>
<spk-icon>warning-octagon</spk-icon>
<spk-icon>warning-octagon-thin</spk-icon>
<spk-icon>warning-octagon-light</spk-icon>
<spk-icon>warning-octagon-fill</spk-icon>
<spk-icon>warning-octagon-bold</spk-icon>
