<button spk-button [class.small]="isSmall()" class="icon">
  <spk-icon>circle</spk-icon>
</button>
<button
  spk-button
  [class.small]="isSmall()"
  class="icon"
  aria-label="Example icon button with a vertical three dot icon">
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="icon primary" aria-label="Example icon button with a home icon">
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="icon accent" aria-label="Example icon button with a menu icon">
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="icon warn" aria-label="Example icon button with a menu icon">
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="icon error" aria-label="Example icon button with a heart icon">
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="icon success" aria-label="Example icon button with a heart icon">
  <spk-icon>circle</spk-icon>
</button>
<button
  spk-button
  [class.small]="isSmall()"
  class="icon"
  disabled
  aria-label="Example icon button with a open in new tab icon">
  <spk-icon>circle</spk-icon>
</button>
