@use './util' as *;

@mixin skin($colors, $variants) {
  sh-datepicker {
    @each $c in $colors {
      &.#{$c} {
        --dp-sel-bg: var(--#{$c}-8);
        --dp-sel-c: var(--#{$c}-c8);
      }
    }

    @if has($variants, raised) {
      &.raised {
        --dp-sel-bg: var(--base-g2);

        @each $c in $colors {
          &.#{$c} {
            --dp-sel-bg: var(--#{$c}-g2);
            --dp-sel-c: var(--#{$c}-c8);
          }
        }
      }
    }
  }
}
