@mixin skin($colors, $variants) {
  sh-stepper {
    @each $c in $colors {
      &.#{$c} {
        --step-c: var(--#{$c}-6);
        --step-radio-cbg: var(--#{$c}-1);
        --step-radio-c: var(--#{$c}-g2);
        --step-active-c: var(--#{$c}-8);
      }
    }
  }
}
