@use './util' as *;

@mixin skin($colors, $variants) {
  sh-toggle {
    &:has(input[type='checkbox']:checked),
    &.active {
      @each $c in $colors {
        &.#{$c} {
          --toggle-bg: var(--#{$c}-3);
          --togglek-bg: var(--#{$c}-8);
        }
      }
    }

    @if has($variants, outlined) {
      &.outlined {
        --toggle-bg: var(--base-1);
        --togglek-bg: var(--base-5);
        --togglek-bs: none;
        --toggle-b: 1px solid var(--base-5);

        &.active {
          --togglek-bg: var(--base-8);
          --toggle-b: 1px solid var(--base-8);

          @each $c in $colors {
            &.#{$c} {
              --togglek-bg: var(--#{$c}-8);
              --toggle-b: 1px solid var(--#{$c}-8);
            }
          }
        }
      }
    }

    @if has($variants, simple) {
      &.simple {
        --togglek-bg: var(--light-text);

        &:has(input[type='checkbox']:checked),
        &.active {
          --togglek-bg: var(--base-8);

          @each $c in $colors {
            &.#{$c} {
              --togglek-bg: var(--#{$c}-8);
              --toggle-bg: var(--#{$c}-3);
            }
          }
        }
      }
    }

    @if has($variants, flat) {
      &.flat {
        --togglek-bg: var(--light-text);

        &:has(input[type='checkbox']:checked),
        &.active {
          --togglek-bg: var(--light-text);
          --toggle-bg: var(--base-8);

          @each $c in $colors {
            &.#{$c} {
              --toggle-bg: var(--#{$c}-8);
              --togglek-bg: var(--#{$c}-c8);
            }
          }
        }
      }
    }

    @if has($variants, raised) {
      &.raised {
        --togglek-bg: var(--light-text);

        &:has(input[type='checkbox']:checked),
        &.active {
          --toggle-bg: var(--base-g2);
          --togglek-bg: var(--light-text);

          @each $c in $colors {
            &.#{$c} {
              --toggle-bg: var(--#{$c}-g2);
              --togglek-bg: var(--#{$c}-c8);
            }
          }
        }
      }
    }
  }
}
