@use 'helpers' as *;

:host {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: p2r(400) 1fr;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: p2r(20);
  gap: p2r(12);
}

.toggle-sidebar {
  position: relative;

  .cross,
  .burger {
    opacity: 1;
    transition: opacity 124ms linear;

    &.hidden {
      opacity: 0;
    }
  }

  .burger {
    position: absolute;
    inset: auto;
  }
}

.logo {
  display: flex;
  gap: p2r(12);
  align-items: center;
  justify-content: center;

  img {
    height: p2r(36);
    width: auto;
  }

  .house-mark {
    box-shadow: var(--box-shadow-20);
    border-radius: p2r(8);
  }

  .text {
    height: p2r(24);
    fill: var(--base-12);
  }
}
