<spk-sidenav [type]="sidenavType()" [(isOpen)]="isNavOpen">
  <ng-container sidenav-closed-topbar>
    <button spk-button class="outlined primary" (click)="toggleNav()">
      <spk-icon>compass</spk-icon>
    </button>
  </ng-container>

  <div sidenav>
    <header>
      <div class="logo">
        <img class="house-mark" src="/sparkle-favicon.png" alt="Sparkle Logo house mark" />
        <img class="text" src="/sparkle-logo-text.svg" alt="Sparkle Logo text" />
      </div>

      <button spk-button class="icon small" (click)="toggleBodyClass()">
        @if (isDarkMode()) {
          <spk-icon>sun</spk-icon>
        } @else {
          <spk-icon>moon</spk-icon>
        }
      </button>
    </header>

    <spk-list class="base-1">
      <spk-button-group>
        <button [class.active]="sidenavType() === ''" (click)="sidenavType.set('')">Default</button>
        <button [class.active]="sidenavType() === 'overlay'" (click)="sidenavType.set('overlay')">Overlay</button>
        <button [class.active]="sidenavType() === 'simple'" (click)="sidenavType.set('simple')">Simple</button>
      </spk-button-group>

      <h3 title>Theme</h3>

      <button action>
        <spk-icon class="spk-primary">paint-roller</spk-icon>
        Theme Editor (WIP)
      </button>
      <!-- <button action routerLink="/spk-theme-editor" routerLinkActive="active">
        <spk-icon class="spk-primary">paint-roller</spk-icon>
        Theme Editor
      </button> -->

      <button action routerLink="/spk-typography" routerLinkActive="active">
        <spk-icon class="spk-primary">text-t</spk-icon>
        Typography
      </button>

      <h3 title>Components</h3>

      <button
        action
        routerLink="/spk-expansion-panel"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">spinner-bold</spk-icon>
        Expansion Panel / Accordion
      </button>

      <button action routerLink="/spk-icons" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Icons
      </button>

      <button action routerLink="/spk-tabs" routerLinkActive="active">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Tabs
      </button>

      <button
        action
        routerLink="/spk-color-picker"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Color Picker
      </button>

      <button action routerLink="/spk-dialog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Dialog
      </button>

      <button action routerLink="/spk-popover" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Popover
      </button>

      <button action routerLink="/spk-table" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Table
      </button>

      <button action routerLink="/spk-sortable" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Sortable
      </button>

      <button action routerLink="/spk-buttons" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Buttons
      </button>

      <button
        action
        routerLink="/spk-progress-bar"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Progress Bar
      </button>

      <button action routerLink="/spk-spinner" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Spinner
      </button>

      <button action routerLink="/spk-alerts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Alerts
      </button>

      <button action routerLink="/spk-menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Menu
      </button>

      <button action routerLink="/spk-icon" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Icon
      </button>

      <button action routerLink="/spk-divider" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Divider
      </button>

      <button action routerLink="/spk-chips" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Chips
      </button>

      <button action routerLink="/spk-sidenav" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Sidenav
      </button>

      <button action routerLink="/spk-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        List
      </button>

      <button
        action
        routerLink="/spk-button-group"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Button Group
      </button>

      <button action routerLink="/spk-tooltip" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Tooltip
      </button>

      <button action routerLink="/spk-stepper" routerLinkActive="active">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Stepper
      </button>

      <button action routerLink="/spk-card" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Cards
      </button>

      <h3 title>Form fields</h3>

      <button
        action
        routerLink="/spk-file-upload"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        File Upload
      </button>

      <button action routerLink="/spk-datepicker" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Datepicker
      </button>

      <button action routerLink="/spk-toggle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Toggle
      </button>

      <button action routerLink="/spk-checkbox" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Checkbox
      </button>

      <button
        action
        routerLink="/spk-form-fields"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Form Fields
      </button>

      <button action routerLink="/spk-radio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Radio
      </button>

      <button
        action
        routerLink="/spk-range-slider"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Range Slider
      </button>

      <button action routerLink="/spk-select" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Select/Autocomplete/Multi select/Chip input
      </button>

      <!-- <button
        action
        routerLink="/spk-virtual-scroll"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon class="spk-primary">check-bold</spk-icon>
        Virtual Scroll
      </button> -->
    </spk-list>
  </div>

  <router-outlet />
</spk-sidenav>
