<sh-sidenav [class]="sidenavType()" [(isOpen)]="isNavOpen" [disableDrag]="true">
  @if (isMobile()) {
    <ng-container sidenav-closed-topbar>
      <button shButton class="simple primary toggle-sidebar" (click)="toggleNav()">
        <sh-icon class="cross" [class.hidden]="!isNavOpen()">x-bold</sh-icon>
        <sh-icon class="burger" [class.hidden]="isNavOpen()">list-bold</sh-icon>
      </button>

      <app-logo />

      <div class="actions">
        <a href="https://github.com/shipuicom/core" target="_blank" rel="noopener noreferrer">
          <sh-icon>github-logo-bold</sh-icon>
        </a>
        <button shButton class="small" (click)="toggleBodyClass()">
          @if (isDarkMode()) {
            <sh-icon>sun-bold</sh-icon>
          } @else {
            <sh-icon>moon-bold</sh-icon>
          }
        </button>
      </div>
    </ng-container>
  }

  <div sidenav>
    @if (!isMobile()) {
      <header>
        <app-logo />

        <div class="actions">
          <a href="https://github.com/shipuicom/core" target="_blank" rel="noopener noreferrer">
            <sh-icon>github-logo-bold</sh-icon>
          </a>

          <button shButton class="small theme-toggle" (click)="toggleBodyClass()">
            @if (isDarkMode()) {
              <sh-icon>sun-bold</sh-icon>
            } @else {
              <sh-icon>moon-bold</sh-icon>
            }
          </button>
        </div>
      </header>
    }

    <sh-list class="base-1">
      <h3 title>Guide</h3>

      <button action routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <sh-icon class="sh-primary">hand-waving</sh-icon>
        Welcome to Ship
      </button>

      <button
        action
        routerLink="/getting-started"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <sh-icon class="sh-primary">play</sh-icon>
        Getting Started
      </button>

      <h3 title>Theme</h3>

      <button action>
        <sh-icon class="sh-primary">paint-roller</sh-icon>
        Theme Editor (WIP)
      </button>

      <button action routerLink="/typography" routerLinkActive="active">
        <sh-icon class="sh-primary">text-t</sh-icon>
        Typography
      </button>

      <h3 title>Components</h3>

      <button action routerLink="/alerts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Alerts
      </button>

      <button action routerLink="/blueprints" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Blueprints
        <sh-icon class="small">traffic-cone</sh-icon>
      </button>

      <button action routerLink="/button-groups" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Button Groups
      </button>

      <button action routerLink="/buttons" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Buttons
      </button>

      <button action routerLink="/cards" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Cards
      </button>

      <button action routerLink="/color-pickers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Color Pickers
        <sh-icon class="small">traffic-cone</sh-icon>
      </button>

      <button action routerLink="/chips" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Chips
      </button>

      <button action routerLink="/dialogs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Dialogs
      </button>

      <button action routerLink="/dividers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Dividers
      </button>

      <button action routerLink="/event-cards" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Event Cards
      </button>

      <button action routerLink="/icons" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Icons
      </button>

      <button action routerLink="/lists" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Lists
      </button>

      <button action routerLink="/menus" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Menus
      </button>

      <button action routerLink="/progress-bars" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Progress Bars
      </button>

      <button action routerLink="/popovers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Popovers
      </button>

      <button action routerLink="/sheets" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Sheets
      </button>

      <button action routerLink="/sidenavs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Sidenavs
      </button>

      <button action routerLink="/spinners" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Spinners
      </button>

      <button action routerLink="/sortables" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Sortables
      </button>

      <button action routerLink="/steppers" routerLinkActive="active">Steppers</button>

      <button action routerLink="/tables" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Tables
      </button>

      <button action routerLink="/tabs" routerLinkActive="active">Tabs</button>

      <button action routerLink="/tooltips" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Tooltips
      </button>

      <button
        action
        routerLink="/expansion-panels"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <sh-icon class="sh-primary">spinner-bold</sh-icon>
        Expansion Panels / Accordions
      </button>

      <h3 title>Form fields</h3>

      <button action routerLink="/checkboxes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Checkboxes
      </button>

      <button action routerLink="/radio-buttons" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Radio buttons
      </button>

      <button action routerLink="/file-uploads" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        File Uploads
      </button>

      <button action routerLink="/form-fields" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Form Fields
      </button>

      <button action routerLink="/selects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Selects
      </button>

      <button action routerLink="/toggles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Toggles
      </button>

      <button action routerLink="/datepickers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Datepickers
      </button>

      <button action routerLink="/range-sliders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Range Sliders
      </button>

      <h3 title>Directives</h3>

      <button action routerLink="/input-mask" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Input Mask
      </button>

      <!-- <button
        action
        routerLink="/virtual-scroll"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <sh-icon class="sh-primary">check-bold</sh-icon>
        Virtual Scroll
      </button> -->
    </sh-list>
  </div>

  <router-outlet />
</sh-sidenav>
