<!-- Primary themed tooltip -->
<button spk-button class="primary" [spkTooltip]="'Primary themed tooltip'">
  <spk-icon>check</spk-icon>
  Primary
</button>

<!-- Accent themed tooltip -->
<button spk-button class="accent" [spkTooltip]="'Accent themed tooltip'">
  <spk-icon>star</spk-icon>
  Accent
</button>

<!-- Warn themed tooltip -->
<button spk-button class="warn" [spkTooltip]="'Warning themed tooltip'">
  <spk-icon>warning</spk-icon>
  Warning
</button>

<!-- Error themed tooltip -->
<button spk-button class="error" [spkTooltip]="'Error themed tooltip'">
  <spk-icon>warning-octagon</spk-icon>
  Error
</button>

<!-- Success themed tooltip -->
<button spk-button class="success" [spkTooltip]="'Success themed tooltip'">
  <spk-icon>check-circle</spk-icon>
  Success
</button>

<!-- Icon themed tooltips -->
<spk-icon class="primary" [spkTooltip]="'Primary icon tooltip'">info</spk-icon>
<spk-icon class="accent" [spkTooltip]="'Accent icon tooltip'">star</spk-icon>
<spk-icon class="warn" [spkTooltip]="'Warning icon tooltip'">warning</spk-icon>
<spk-icon class="error" [spkTooltip]="'Error icon tooltip'">warning-octagon</spk-icon>
<spk-icon class="success" [spkTooltip]="'Success icon tooltip'">check-circle</spk-icon>
