$sparkleCheckbox: true !default;

@if $initSparkle == true and $sparkleCheckbox == true {
  spk-checkbox {
    --box-border-width: #{p2r(1)};
    --box-border-color: var(--base-level-40);
    --box-color: var(--base-level-60);
    --box-bg: var(--base-level-30);

    display: flex;
    align-items: center;
    gap: p2r(8);
    cursor: pointer;
    user-select: none;
    position: relative;

    > input[type='checkbox'] {
      appearance: none;
      position: absolute;
      inset: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: p2r(20);
      height: p2r(20);
      cursor: pointer;
      position: relative;
      border-radius: var(--shape-1);
      border: var(--box-border-width) solid var(--box-border-color);
      background: var(--box-bg);
      font-size: p2r(12);
      color: var(--box-color);
    }

    spk-icon {
      opacity: 0;
      font-weight: bold;

      &.indeterminate-indicator {
        display: none;
      }
    }

    &.indeterminate {
      .box spk-icon {
        &.indeterminate-indicator {
          display: block;
        }

        &.default-indicator {
          display: none;
        }
      }
    }

    &:has(input[type='checkbox']:checked),
    &.active {
      spk-icon {
        opacity: 1;
      }
    }

    &.primary .box {
      --box-bg: var(--primary-level-30);
      --box-border-color: var(--primary-level-40);
      --box-color: var(--primary-500);
    }

    &.accent .box {
      --box-bg: var(--accent-level-30);
      --box-border-color: var(--accent-level-40);
      --box-color: var(--accent-500);
    }

    &.tertiary .box {
      --box-bg: var(--tertiary-level-30);
      --box-border-color: var(--tertiary-level-40);
      --box-color: var(--tertiary-500);
    }

    &.warn .box {
      --box-bg: var(--warn-level-30);
      --box-border-color: var(--warn-level-40);
      --box-color: var(--warn-500);
    }

    &.success .box {
      --box-bg: var(--success-level-30);
      --box-border-color: var(--success-level-40);
      --box-color: var(--success-500);
    }

    &.outlined {
      .box {
        --box-bg: var(--base-level-10);
      }

      &.primary,
      &.accent,
      &.tertiary,
      &.warn,
      &.success {
        .box {
          --box-bg: var(--base-level-10);
          --box-border-color: var(--base-level-40);
        }
      }
    }

    &.flat:has(input[type='checkbox']:checked),
    &.flat.active {
      @extend %flat;
    }

    &.raised:has(input[type='checkbox']:checked),
    &.raised.active {
      @extend %raised;
    }
  }

  .sparkle-popup-menu spk-option[selected] {
    spk-checkbox {
      spk-icon {
        opacity: 1;
      }

      &.flat {
        @extend %flat;
      }

      &.raised {
        @extend %raised;
      }
    }
  }

  %flat {
    .box {
      --box-border-width: 0;
      --box-bg: var(--grey-500);
      --box-color: #fff;
    }

    &.primary .box {
      --box-bg: var(--primary-500);
    }

    &.accent .box {
      --box-bg: var(--accent-500);
    }

    &.tertiary .box {
      --box-bg: var(--tertiary-500);
    }

    &.warn .box {
      --box-bg: var(--warn-500);
    }

    &.success .box {
      --box-bg: var(--success-500);
    }
  }

  %raised {
    .box {
      --box-border-width: 0;
      --box-bg: var(--base-gradient-20);
      --box-color: #fff;
    }

    &.primary .box {
      --box-bg: var(--primary-gradient-20);
    }

    &.accent .box {
      --box-bg: var(--accent-gradient-20);
    }

    &.tertiary .box {
      --box-bg: var(--tertiary-gradient-20);
    }

    &.warn .box {
      --box-bg: var(--warn-gradient-20);
    }

    &.success .box {
      --box-bg: var(--success-gradient-20);
    }
  }
}
