@use '../helpers.scss' as *;

$spkSortable: true !default;

@if $spkSortable == true {
  [spkSortable] {
    position: relative;

    &.dragging {
      [draggable] {
        transition: transform 40ms linear;
      }
    }

    [draggable] {
      height: auto;
      transform: translate(0);
      transition: none;
      z-index: 2;
      background: var(--base-1);

      &:has(:not([sort-handle])) {
        cursor: grab;
      }
    }

    .sortable-placeholder {
      position: absolute;
      top: 0;
      z-index: 1;

      &.active {
        z-index: 1;
        background-color: var(--base-6);
        border: 1px solid var(--base-8);
        opacity: 0.5;
      }
    }

    .sortable-ghost,
    .sortable-ghost.active {
      opacity: 1;
    }

    .sortable-dragged-el.active,
    .sortable-dragged-el {
      opacity: 0;
    }

    [sort-handle] {
      cursor: grab;
    }
  }
}
