$sparkleButtonGroup: false !default;

@if $sparkleButtonGroup == true {
  spk-button-group {
    --spk-button-group-bg: var(--base-level-10);
    --spk-button-group-color: var(--base-level-70);
    --spk-button-group-icon-color: var(--base-level-70);
    --spk-button-group-border-color: var(--base-level-40);
    --spk-button-group-height: #{p2r(40)};
    --spk-button-group-shape: var(--shape-2);
    --spk-button-group-font: var(--paragraph-30);

    display: inline-flex;
    border: 1px solid var(--spk-button-group-border-color);
    border-radius: var(--spk-button-group-shape);
    height: var(--spk-button-group-height);
    overflow: hidden;

    button {
      border: 0;
      flex: 1 0;
      appearance: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: p2r(8);
      position: relative;
      padding: p2r(0 12);
      transition: color 80ms linear;
      min-width: auto;
      cursor: pointer;
      outline: none;
      line-height: inherit;
      user-select: none;
      appearance: none;
      overflow: visible;
      vertical-align: middle;
      background: var(--spk-button-group-bg);
      color: var(--spk-button-group-color);
      font: var(--spk-button-group-font);
      border-left: 1px solid var(--spk-button-group-border-color);

      &:first-child {
        border-left: 0;
      }

      &:hover,
      &.active {
        --spk-button-group-color: var(--base-level-70);
        --spk-button-group-icon-color: var(--base-level-70);
        --spk-button-group-bg: var(--base-level-30);
      }
    }
  }
}
