$sparkleCheckbox: true !default;

@if $initSparkle == true and $sparkleCheckbox == true {
  spk-checkbox {
    display: flex;
    align-items: center;
    gap: p2r(8);
    cursor: pointer;
    user-select: none;
    position: relative;

    > input[type='checkbox'] {
      appearance: none;
      position: absolute;
      inset: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: p2r(20);
      height: p2r(20);
      cursor: pointer;
      position: relative;
      border-radius: var(--shape-1);
      border: 1px solid var(--base-level-40);
      background: var(--base-level-30);
      font-size: p2r(12);
      color: var(--base-level-60);
    }

    spk-icon {
      opacity: 0;
      font-weight: bold;

      &.indeterminate-indicator {
        display: none;
      }
    }

    &.indeterminate {
      .box spk-icon {
        &.indeterminate-indicator {
          display: block;
        }

        &.default-indicator {
          display: none;
        }
      }
    }

    &:has(input[type='checkbox']:checked),
    &.active {
      spk-icon {
        opacity: 1;
      }
    }

    &.primary .box {
      background: var(--primary-level-30);
      border-color: var(--primary-level-40);
      color: var(--primary-500);
    }

    &.accent .box {
      background: var(--accent-level-30);
      border-color: var(--accent-level-40);
      color: var(--accent-500);
    }

    &.tertiary .box {
      background: var(--tertiary-level-30);
      border-color: var(--tertiary-level-40);
      color: var(--tertiary-500);
    }

    &.warn .box {
      background: var(--warn-level-30);
      border-color: var(--warn-level-40);
      color: var(--warn-500);
    }

    &.success .box {
      background: var(--success-level-30);
      border-color: var(--success-level-40);
      color: var(--success-500);
    }

    &.outlined {
      .box {
        background: var(--base-level-10);
      }

      &.primary,
      &.accent,
      &.tertiary,
      &.warn,
      &.success {
        .box {
          background: var(--base-level-10);
          border-color: var(--base-level-40);
        }
      }
    }

    &.flat,
    &.raised {
      .box {
        border-color: var(--base-level-40);
        background: var(--base-level-30);
        color: #fff;
      }
    }

    &.flat:has(input[type='checkbox']:checked),
    &.flat.active {
      @extend %flat;
    }

    &.raised:has(input[type='checkbox']:checked),
    &.raised.active {
      @extend %raised;
    }
  }

  .sparkle-popup-menu spk-option[selected] {
    spk-checkbox {
      spk-icon {
        opacity: 1;
      }

      &.flat {
        @extend %flat;
      }

      &.raised {
        @extend %raised;
      }
    }
  }
}

%flat {
  .box {
    border-width: 0;
    background: var(--grey-500);
    color: #fff;
  }

  &.primary .box {
    background: var(--primary-500);
    color: #fff;
  }

  &.accent .box {
    background: var(--accent-500);
    color: #fff;
  }

  &.tertiary .box {
    background: var(--tertiary-500);
    color: #fff;
  }

  &.warn .box {
    background: var(--warn-500);
    color: #fff;
  }

  &.success .box {
    background: var(--success-500);
    color: #fff;
  }
}

%raised {
  .box {
    border-width: 0;
    background: var(--base-gradient-20);
  }

  &.primary .box {
    background: var(--primary-gradient-20);
  }

  &.accent .box {
    background: var(--accent-gradient-20);
  }

  &.tertiary .box {
    background: var(--tertiary-gradient-20);
  }

  &.warn .box {
    background: var(--warn-gradient-20);
  }

  &.success .box {
    background: var(--success-gradient-20);
  }
}
