$sparklePopover: true !default;

@if $initSparkle == true and $sparklePopover == true {
  spk-popover {
    --po-d: inherit;

    display: var(--po-d);

    .trigger {
      cursor: pointer;
      display: var(--po-d);
      position: relative;

      .trigger-wrapper {
        display: var(--po-d);

        &:empty + * {
          display: inherit;
        }

        + [spk-button] {
          display: none;
        }
      }
    }

    .overlay {
      position: fixed;
      inset: 0;
      opacity: 0;
      z-index: 1;
    }

    .popover {
      position: absolute;
      margin: 0;
      min-width: p2r(180);
      z-index: 0;
      background-color: var(--base-level-10);
      border: 1px solid var(--base-level-40);
      border-radius: var(--shape-2);
      font: var(--paragraph-30);
      color: var(--base-level-60);

      @supports (anchor-name: --anchor) {
        inset: unset;
        left: anchor(left);
        top: anchor(bottom);
        position-try-options: flip-block, flip-inline;
        position-try-fallbacks: flip-block, flip-inline;
      }
    }
  }
}
