@use '../helpers.scss' as *;

$spkCheckbox: true !default;

@if $spkCheckbox == true {
  spk-checkbox {
    --box-bw: #{p2r(1)};
    --box-bc: var(--base-4);
    --box-c: var(--base-8);
    --box-bg: var(--base-2);

    display: flex;
    align-items: center;
    gap: p2r(8);
    cursor: pointer;
    user-select: none;
    position: relative;

    > input[type='checkbox'] {
      appearance: none;
      position: absolute;
      inset: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: p2r(20);
      height: p2r(20);
      cursor: pointer;
      position: relative;
      border-radius: var(--shape-1);
      border: var(--box-bw) solid var(--box-bc);
      background: var(--box-bg);
      font-size: p2r(12);
      color: var(--box-c);
    }

    spk-icon {
      opacity: 0;
      font-weight: bold;

      &.indeterminate-indicator {
        display: none;
      }
    }

    &.indeterminate {
      .box spk-icon {
        &.indeterminate-indicator {
          display: block;
        }

        &.default-indicator {
          display: none;
        }
      }
    }

    &:has(input[type='checkbox']:checked),
    &.indeterminate,
    &.active {
      spk-icon {
        opacity: 1;
      }
    }

    &.primary {
      --box-bg: var(--primary-3);
      --box-bc: var(--primary-4);
      --box-c: var(--primary-8);
    }

    &.accent {
      --box-bg: var(--accent-3);
      --box-bc: var(--accent-4);
      --box-c: var(--accent-8);
    }

    &.warn {
      --box-bg: var(--warn-3);
      --box-bc: var(--warn-4);
      --box-c: var(--warn-8);
    }

    &.error {
      --box-bg: var(--error-3);
      --box-bc: var(--error-4);
      --box-c: var(--error-8);
    }

    &.success {
      --box-bg: var(--success-3);
      --box-bc: var(--success-4);
      --box-c: var(--success-8);
    }

    &.outlined {
      --box-bg: var(--base-1);

      &.primary,
      &.accent,
      &.warn,
      &.error,
      &.success {
        --box-bg: var(--base-1);
        --box-bc: var(--base-4);
      }
    }

    &.flat,
    &.raised {
      &.primary,
      &.accent,
      &.warn,
      &.error,
      &.success {
        --box-bc: var(--base-4);
        --box-c: var(--base-8);
        --box-bg: var(--base-2);
      }
    }

    &.flat:has(input[type='checkbox']:checked),
    &.flat.indeterminate,
    &.flat.active {
      @extend %flat;
    }

    &.raised:has(input[type='checkbox']:checked),
    &.raised.indeterminate,
    &.raised.active {
      @extend %raised;
    }
  }

  .sparkle-popup-menu spk-option[selected] {
    spk-checkbox {
      spk-icon {
        opacity: 1;
      }

      &.flat {
        @extend %flat;
      }

      &.raised {
        @extend %raised;
      }
    }
  }

  %flat {
    --box-bw: 0;
    --box-bg: var(--base-8);
    --box-c: #fff;

    &.primary {
      --box-bg: var(--primary-8);
    }

    &.accent {
      --box-bg: var(--accent-8);
    }

    &.warn {
      --box-bg: var(--warn-8);
    }

    &.error {
      --box-bg: var(--error-8);
    }

    &.success {
      --box-bg: var(--success-8);
    }
  }

  %raised {
    --box-bw: 0;
    --box-bg: var(--base-g2);
    --box-c: #fff;

    &.primary {
      --box-bg: var(--primary-g2);
    }

    &.accent {
      --box-bg: var(--accent-g2);
    }

    &.warn {
      --box-bg: var(--warn-g2);
    }

    &.error {
      --box-bg: var(--error-g2);
    }

    &.success {
      --box-bg: var(--success-g2);
    }
  }
}
