@use '../helpers.scss' as *;

$spkChip: true !default;
$spkChipShadow: false !default;

@if $spkChip == true {
  spk-chip {
    --chip-h: #{p2r(32)};
    --chip-s: #{p2r(16)};
    --chip-c: var(--base-12);
    --chip-ic: var(--base-12);
    --chip-bg: var(--base-1);
    --chip-bc: var(--base-4);

    @if $spkChipShadow != false {
      --chip-bs: var(--box-shadow-10);
    } @else {
      --chip-bs: none;
    }

    display: inline-flex;
    align-items: center;
    gap: p2r(8);
    padding: p2r(0 12);

    font: var(--paragraph-30B);
    color: var(--chip-c);
    height: var(--chip-h);
    border-radius: var(--chip-s);
    border: 1px solid var(--chip-bc);
    box-shadow: var(--chip-bs);
    background: var(--chip-bg);
    white-space: nowrap;

    spk-icon {
      color: var(--chip-ic);
      font-size: p2r(16);
      font-weight: inherit;
    }

    [avatar] {
      height: calc(var(--chip-h) - #{p2r(12)});
      width: calc(var(--chip-h) - #{p2r(12)});
      border-radius: 50%;
    }

    &.small {
      --chip-h: #{p2r(24)};
      --chip-s: #{p2r(12)};

      font: var(--paragraph-40B);
      padding: p2r(0 8);
      gap: p2r(4);

      spk-icon {
        font-size: p2r(12);
      }
    }

    &[disabled] {
      opacity: 0.5;
    }

    &[read-only],
    &[read-only='true'],
    &[readonly='true'],
    &[readonly],
    &.readonly {
      pointer-events: none;
      user-select: none;
    }

    &.primary {
      --chip-ic: var(--primary-8);
    }

    &.accent {
      --chip-ic: var(--accent-8);
    }

    &.warn {
      --chip-ic: var(--warn-8);
    }

    &.error {
      --chip-ic: var(--error-8);
    }

    &.success {
      --chip-ic: var(--success-8);
    }

    &.simple {
      border: 0;

      --chip-c: var(--base-12);

      &.primary {
        --chip-c: var(--primary-8);
      }

      &.accent {
        --chip-c: var(--accent-8);
      }

      &.warn {
        --chip-c: var(--warn-8);
      }

      &.error {
        --chip-c: var(--error-8);
      }

      &.success {
        --chip-c: var(--success-8);
      }
    }

    &.simple,
    &.outlined {
      --chip-c: var(--base-12);
      --chip-bg: var(--base-3);

      transition: color 80ms linear;

      &.primary {
        --loader-c: var(--primary-8);

        --chip-bg: var(--primary-1);
        --chip-bc: var(--primary-4);
      }

      &.accent {
        --loader-c: var(--accent-8);

        --chip-bg: var(--accent-1);
        --chip-bc: var(--accent-4);
      }

      &.warn {
        --loader-c: var(--warn-8);

        --chip-bg: var(--warn-1);
        --chip-bc: var(--warn-4);
      }

      &.error {
        --loader-c: var(--error-8);

        --chip-bg: var(--error-1);
        --chip-bc: var(--error-4);
      }

      &.success {
        --loader-c: var(--success-8);

        --chip-bg: var(--success-1);
        --chip-bc: var(--success-4);
      }
    }

    &.flat {
      --loader-c: var(--base-1);
      --chip-c: #fff;
      --chip-ic: #fff;
      --chip-bg: var(--base-8);

      border: 0;

      &.primary {
        --chip-c: var(--primary-c8);
        --chip-bg: var(--primary-8);
      }

      &.accent {
        --chip-c: var(--accent-c8);
        --chip-bg: var(--accent-8);
      }

      &.warn {
        --chip-c: var(--warn-c8);
        --chip-bg: var(--warn-8);
      }

      &.error {
        --chip-c: var(--error-c8);
        --chip-bg: var(--error-8);
      }

      &.success {
        --chip-c: var(--success-c8);
        --chip-bg: var(--success-8);
      }
    }

    &.raised {
      --loader-c: var(--base-1);
      --chip-c: #fff;
      --chip-ic: #fff;
      --chip-bg: var(--base-g6);

      border: 0;
      box-shadow: none;

      &.primary {
        --chip-c: var(--primary-c8);
        --chip-bg: var(--primary-g2);
      }

      &.accent {
        --chip-c: var(--accent-c8);
        --chip-bg: var(--accent-g2);
      }

      &.warn {
        --chip-c: var(--warn-c8);
        --chip-bg: var(--warn-g2);
      }

      &.error {
        --chip-c: var(--error-c8);
        --chip-bg: var(--error-g2);
      }

      &.success {
        --chip-c: var(--success-c8);
        --chip-bg: var(--success-g2);
      }
    }
  }
}
