@use '../helpers.scss' as *;
$spkButton: true !default;
$spkButtonShadow: false !default;

@if $spkButton == true {
  [spk-button] {
    --btn-h: #{p2r(40)};
    --btn-s: var(--shape-2);
    --btn-f: var(--paragraph-20);
    --loader-c: var(--base-8);
    --btn-c: var(--base-12);
    --btn-ic: var(--base-12);
    --btn-ir: var(0deg);
    --btn-bg: var(--base-1);
    --btn-bg-h: var(--base-2);
    --btn-bc: var(--base-4);

    @if $spkButtonShadow != false {
      --btn-bs: var(--box-shadow-10);
    } @else {
      --btn-bs: none;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    appearance: none;
    border: 0;
    background: transparent;
    position: relative;
    font: var(--btn-f);
    cursor: pointer;
    outline: none;
    text-decoration: none;

    > div {
      display: flex;
      gap: inherit;
      align-items: center;
      justify-content: center;

      align-items: center;
      justify-content: center;
      gap: p2r(8);
      position: relative;
      padding: p2r(0 12);
      transition: color 80ms linear;
      min-width: auto;
      line-height: inherit;
      user-select: none;
      appearance: none;
      overflow: visible;
      vertical-align: middle;

      border-radius: var(--btn-s);
      height: var(--btn-h);
      border: 1px solid var(--btn-bc);
      box-shadow: var(--btn-bs);

      background: var(--btn-bg);
      color: var(--btn-c);
      transition: background 75ms linear;
    }

    spk-icon {
      color: var(--btn-ic);
      rotate: var(--btn-ir);
      transition: rotate 125ms ease-in-out;
    }

    &:has(spk-icon:only-child) div {
      padding: p2r(0 9);
    }

    &:hover {
      --btn-c: var(--base-12);

      div {
        background: var(--btn-bg-h);
      }
    }

    &.loader.outlined,
    &.loader.flat,
    &.loader.raised,
    &.loader {
      color: transparent;
      width: auto;

      &:hover,
      &.primary,
      &.accent,
      &.warn,
      &.error,
      &.success {
        color: transparent;
      }

      > * {
        opacity: 0;
      }
    }

    &.rotated-icon spk-icon {
      --btn-ir: 180deg;
    }

    &.small {
      --btn-h: #{p2r(32)};
      --btn-f: var(--paragraph-30);

      div {
        padding: p2r(0 8);
        gap: p2r(4);
      }

      &:has(spk-icon:only-child) div {
        padding: p2r(0 6);
      }
    }

    &[disabled].flat,
    &[disabled].raised,
    &[disabled].outlined,
    &[disabled].icon,
    &[disabled] {
      // --btn-bg-h: var(--btn-bg);

      pointer-events: none;
      user-select: none;
      cursor: initial;

      > div {
        opacity: 0.4;
      }
    }

    &[read-only],
    &[read-only='true'],
    &[readonly='true'],
    &[readonly],
    &.readonly {
      pointer-events: none;
      user-select: none;
    }

    // Base
    &.primary {
      --btn-ic: var(--primary-8);
    }

    &.accent {
      --btn-ic: var(--accent-8);
    }

    &.warn {
      --btn-ic: var(--warn-8);
    }

    &.error {
      --btn-ic: var(--error-8);
    }

    &.success {
      --btn-ic: var(--success-8);
    }

    &.icon {
      div {
        padding: p2r(0 9);
      }

      &.small div {
        padding: p2r(0 5);
      }
    }

    &.icon,
    &.outlined {
      --btn-c: var(--base-12);
      --btn-bg: var(--base-2);
      --btn-bg-h: var(--base-3);

      div {
        transition:
          color 80ms linear,
          background 80ms linear;
      }

      &.primary {
        --loader-c: var(--primary-8);

        --btn-bg: var(--primary-1);
        --btn-bg-h: var(--primary-2);
        --btn-bc: var(--primary-4);
      }

      &.accent {
        --loader-c: var(--accent-8);

        --btn-bg: var(--accent-1);
        --btn-bg-h: var(--accent-2);
        --btn-bc: var(--accent-4);
      }

      &.warn {
        --loader-c: var(--warn-8);

        --btn-bg: var(--warn-1);
        --btn-bg-h: var(--warn-2);
        --btn-bc: var(--warn-4);
      }

      &.error {
        --loader-c: var(--error-8);

        --btn-bg: var(--error-1);
        --btn-bg-h: var(--error-2);
        --btn-bc: var(--error-4);
      }

      &.success {
        --loader-c: var(--success-8);

        --btn-bg: var(--success-1);
        --btn-bg-h: var(--success-2);
        --btn-bc: var(--success-4);
      }
    }

    &.flat {
      --loader-c: var(--base-1);
      --btn-c: #fff;
      --btn-ic: #fff;
      --btn-bg: var(--base-8);
      --btn-bg-h: #{lighten(var(--base-8), 10%)};

      div {
        border: 0;
      }

      &:has(spk-icon:only-child) div {
        padding: p2r(0 10);
      }

      &.small:has(spk-icon:only-child) div {
        padding: p2r(0 7);
      }

      &.primary {
        --btn-c: var(--primary-c8);
        --btn-bg: var(--primary-8);
        --btn-bg-h: var(--primary-7);
      }

      &.accent {
        --btn-c: var(--accent-c8);
        --btn-bg: var(--accent-8);
        --btn-bg-h: var(--accent-7);
      }

      &.warn {
        --btn-c: var(--warn-c8);
        --btn-bg: var(--warn-8);
        --btn-bg-h: var(--warn-7);
      }

      &.error {
        --btn-c: var(--error-c8);
        --btn-bg: var(--error-8);
        --btn-bg-h: var(--error-7);
      }

      &.success {
        --btn-c: var(--success-c8);
        --btn-bg: var(--success-8);
        --btn-bg-h: var(--success-7);
      }
    }

    &.raised {
      --loader-c: var(--base-1);
      --btn-c: #fff;
      --btn-ic: #fff;
      --btn-bg: var(--base-g6);
      --btn-bg-h: var(--base-g7);

      div {
        border: 0;
      }

      &:has(spk-icon:only-child) div {
        padding: p2r(0 10);
      }

      &.small:has(spk-icon:only-child) div {
        padding: p2r(0 7);
      }

      &.primary {
        --btn-c: var(--primary-c8);
        --btn-bg: var(--primary-g2);
        --btn-bg-h: var(--primary-g3);
      }

      &.accent {
        --btn-c: var(--accent-c8);
        --btn-bg: var(--accent-g2);
        --btn-bg-h: var(--accent-g3);
      }

      &.warn {
        --btn-c: var(--warn-c8);
        --btn-bg: var(--warn-g2);
        --btn-bg-h: var(--warn-g3);
      }

      &.error {
        --btn-c: var(--error-c8);
        --btn-bg: var(--error-g2);
        --btn-bg-h: var(--error-g3);
      }

      &.success {
        --btn-c: var(--success-c8);
        --btn-bg: var(--success-g2);
        --btn-bg-h: var(--success-g3);
      }
    }
  }
}
