$sparkleMenu: false !default;

@if $sparkleMenu == true {
  spk-menu {
    display: inline-block;
    position: relative;

    .menu-backdrop {
      position: absolute;
      inset: 0;
      min-width: p2r(180);
      background-color: var(--base-level-10);
      opacity: 0;
      transition: opacity 125ms linear;
    }
  }

  .sparkle-popup-menu {
    // transition:
    //   opacity 125ms linear,
    //   visibility 125ms linear;
    // opacity: 0;
    // visibility: hidden;
    position: fixed;
    min-width: p2r(180);
    z-index: 5000;
    padding: p2r(8 0);
    background-color: var(--base-level-10);
    border: 1px solid var(--base-level-40);
    border-radius: var(--shape-2);
    // margin-top: p2r(8);

    [spk-menu-title] {
      font: var(--paragraph-30);
      color: var(--base-level-60);
      padding: p2r(8 12);
      margin: p2r(0 8);
      width: calc(100% - #{p2r(16)});
      user-select: none;
    }

    [spk-menu-item] {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: p2r(32);
      margin: p2r(0 8);
      padding: p2r(0 8);
      gap: p2r(8);
      width: calc(100% - #{p2r(16)});
      border-radius: var(--shape-2);
      appearance: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      color: var(--base-level-70);

      &[disabled] {
        opacity: 0.3;
        cursor: initial;

        &:hover {
          background-color: transparent;
        }
      }

      [suffix] {
        order: 999;
        color: var(--base-level-60);
        font: var(--paragraph-30);
        justify-self: flex-end;
        display: inline-flex;
        flex: 1 0;
        justify-content: flex-end;
      }

      spk-icon {
        font-size: p2r(16);
      }

      &.active,
      &:hover {
        background-color: var(--base-level-30);
        color: var(--base-level-70);
      }
    }
  }
}
