$sparkleList: false !default;

@if $sparkleList == true {
  spk-list {
    --list-shape: var(--shape-2);
    --list-item-height: #{p2r(38)};
    --list-active-bg: var(--base-level-20);
    --list-active-box-shadow: none;

    width: 100%;
    padding: p2r(20 16);
    gap: p2r(8);
    display: flex;
    flex-direction: column;

    &.base-level-20 {
      --list-active-bg: var(--base-level-10);
      --list-active-box-shadow: var(--box-shadow-20);
    }

    [title] {
      color: var(--base-level-60R);
      margin: 0 0.75rem;
      font: var(--paragraph-30);
      line-height: 1.25rem;
    }

    [spk-action-item],
    [spk-list-item] {
      border-radius: var(--list-shape);
      padding: p2r(0 12);
      height: var(--list-item-height);
      font: var(--paragraph-30);
      color: var(--base-level-60);
      display: flex;
      align-items: center;
      gap: p2r(8);
      width: 100%;
      user-select: none;
      appearance: none;
      border: 0;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      [suffix] {
        margin-left: auto;
      }
    }

    :has(input[type='checkbox']),
    :has(input[type='radio']),
    [spk-action-item] {
      cursor: pointer;
    }

    [spk-list-item]:has(input[type='checkbox']:checked),
    [spk-action-item]:has(input[type='checkbox']:checked),
    [spk-list-item]:has(input[type='radio']:checked),
    [spk-action-item]:has(input[type='radio']:checked),
    [spk-action-item].active,
    [spk-action-item].selected {
      background-color: var(--list-active-bg);
      box-shadow: var(--list-active-box-shadow);
    }

    &.primary {
      [spk-list-item]:has(input[type='checkbox']:checked),
      [spk-action-item]:has(input[type='checkbox']:checked),
      [spk-list-item]:has(input[type='radio']:checked),
      [spk-action-item]:has(input[type='radio']:checked),
      [spk-action-item].active,
      [spk-action-item].selected {
        spk-icon:first-child {
          color: var(--primary-500);
        }
      }
    }

    &.accent {
      [spk-list-item]:has(input[type='checkbox']:checked),
      [spk-action-item]:has(input[type='checkbox']:checked),
      [spk-list-item]:has(input[type='radio']:checked),
      [spk-action-item]:has(input[type='radio']:checked),
      [spk-action-item].active,
      [spk-action-item].selected {
        spk-icon:first-child {
          color: var(--accent-500);
        }
      }
    }

    &.tertiary {
      [spk-list-item]:has(input[type='checkbox']:checked),
      [spk-action-item]:has(input[type='checkbox']:checked),
      [spk-list-item]:has(input[type='radio']:checked),
      [spk-action-item]:has(input[type='radio']:checked),
      [spk-action-item].active,
      [spk-action-item].selected {
        spk-icon:first-child {
          color: var(--tertiary-500);
        }
      }
    }

    &.warn {
      [spk-list-item]:has(input[type='checkbox']:checked),
      [spk-action-item]:has(input[type='checkbox']:checked),
      [spk-list-item]:has(input[type='radio']:checked),
      [spk-action-item]:has(input[type='radio']:checked),
      [spk-action-item].active,
      [spk-action-item].selected {
        spk-icon:first-child {
          color: var(--warn-500);
        }
      }
    }

    &.success {
      [spk-list-item]:has(input[type='checkbox']:checked),
      [spk-action-item]:has(input[type='checkbox']:checked),
      [spk-list-item]:has(input[type='radio']:checked),
      [spk-action-item]:has(input[type='radio']:checked),
      [spk-action-item].active,
      [spk-action-item].selected {
        spk-icon:first-child {
          color: var(--success-500);
        }
      }
    }
  }
}
