$sparkleDivider: true !default;

@if $initSparkle == true and $sparkleDivider == true {
  spk-divider {
    --divider-color: var(--base-level-40);
    --divider-height: #{p2r(1)};

    display: flex;
    gap: p2r(8);
    align-items: center;

    &:empty {
      gap: 0;
    }

    &::before,
    &::after {
      content: '';
      background: var(--divider-color);
      height: var(--divider-height);
      flex: 1 0;
    }
  }
}
