$sparkleDatepicker: true !default;

@if $initSparkle == true and $sparkleDatepicker == true {
  spk-datepicker {
    --sel-bg: var(--base-level-60);
    --sel-bw: 0;
    --sel-bc: transparent;
    --sel-c: #fff;
    --day-c: var(--base-level-60);
    --day-g: #{p2r(4)};
    --day-f: var(--paragraph-20);

    width: 100%;
    max-width: p2r(300);
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: p2r(4 0);
      gap: p2r(8);

      .title {
        font: var(--paragraph-20);
      }

      button {
        appearance: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: p2r(32);
        color: var(--base-level-60);

        &:focus {
          outline: none;
        }
      }
    }

    section {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: var(--day-g);

      .days,
      .weekdays {
        display: grid;
        grid-column: 1 / -1;
        gap: var(--day-g);
        grid-template-columns: subgrid;
        position: relative;

        > .days {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(7, 1fr);
          gap: var(--day-g);
          z-index: 0;
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1/1;
          cursor: pointer;
          position: relative;
          z-index: 1;
          color: var(--day-c);
          font: var(--day-f);
          user-select: none;

          &.sel {
            color: var(--sel-c);
            transition: color 75ms linear;
          }

          &.out-of-scope {
            opacity: 0.4;
          }

          &.sel-el {
            position: relative;
            top: 0;
            left: 0;
            transition:
              transform 75ms linear,
              opacity 75ms linear;
            background: var(--sel-bg);
            border-radius: 50%;
            border: var(--sel-bw) solid var(--sel-bc);
            opacity: 0;
            box-sizing: border-box;
          }
        }
      }

      .weekdays {
        > div {
          color: var(--base-level-70);
        }
      }
    }

    &.primary {
      --sel-bg: var(--primary-500);
    }

    &.accent {
      --sel-bg: var(--accent-500);
    }

    &.tertiary {
      --sel-bg: var(--tertiary-500);
    }

    &.warn {
      --sel-bg: var(--warn-500);
    }

    &.success {
      --sel-bg: var(--success-500);
    }

    &.outlined {
      --sel-bg: var(--base-level-10);
      --sel-c: var(--base-level-70);
      --sel-bw: 2px;
      --sel-bc: var(--base-level-40);

      &.primary {
        --sel-bc: var(--primary-500);
      }

      &.accent {
        --sel-bc: var(--accent-500);
      }

      &.tertiary {
        --sel-bc: var(--tertiary-500);
      }

      &.warn {
        --sel-bc: var(--warn-500);
      }

      &.success {
        --sel-bc: var(--success-500);
      }
    }

    &.raised {
      --sel-bg: var(--base-gradient-20);

      &.primary {
        --sel-bg: var(--primary-gradient-20);
      }

      &.accent {
        --sel-bg: var(--accent-gradient-20);
      }

      &.tertiary {
        --sel-bg: var(--tertiary-gradient-20);
      }

      &.warn {
        --sel-bg: var(--warn-gradient-20);
      }

      &.success {
        --sel-bg: var(--success-gradient-20);
      }
    }
  }
}
