$sparkleAlert: false !default;

@if $sparkleAlert == true {
  spk-alert {
    --spk-alert-animation-duration: 400ms;
    --spk-alert-background-color: var(--base-level-10);

    --spk-alert-border-color: var(--base-level-40);
    --spk-alert-state-icon-color: var(--base-level-70);
    --spk-alert-close-icon-color: var(--base-level-60);
    --spk-alert-title-color: var(--base-level-70);
    --spk-alert-content-color: var(--base-level-60);
    --spk-alert-box-shadow: var(--box-shadow-10);
    --spk-alert-box-shadow: light-dark(var(--box-shadow-10), var(--box-shadow-60));

    max-height: #{p2r(300)};
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    opacity: 1;
    overflow: hidden;
    transition:
      max-height var(--spk-alert-animation-duration) ease-in-out,
      transform var(--spk-alert-animation-duration) ease-in-out,
      opacity var(--spk-alert-animation-duration) ease-in-out,
      margin-bottom var(--spk-alert-animation-duration) ease-in-out,
      padding-top var(--spk-alert-animation-duration) ease-in-out,
      padding-bottom var(--spk-alert-animation-duration) ease-in-out;
    transform: translateY(0);
    box-shadow: var(--spk-alert-box-shadow);

    .spk-alert-item {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        'stateIcon title closeIcon'
        '. alertContent .';
      padding: p2r(8 12);
      align-items: flex-start;
      gap: p2r(8 12);
      border: 1px solid var(--spk-alert-border-color);
      border-radius: var(--shape-2);
      background-color: var(--spk-alert-background-color);
    }

    &.spk-alert-is-hidden {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      margin-bottom: 0;
      overflow: hidden;
      transform: translateY(-40px);

      &::before {
        opacity: 0;
      }
    }

    &.spk-alert-animate-in {
      transition: none;
      max-height: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      overflow: hidden;
      transform: translateY(0px);

      &::before {
        opacity: 0;
      }
    }

    &.spk-alert-animate-out {
      max-height: 0;
      padding: 0;
      opacity: 0;
      overflow: hidden;
      transform: translateY(-40px);

      &::before {
        opacity: 0;
      }
    }

    &.primary .spk-alert-item {
      --spk-alert-state-icon-color: var(--primary-500);
      --spk-alert-close-icon-color: var(--primary-500);
      --spk-alert-title-color: var(--primary-level-80);
      --spk-alert-content-color: var(--primary-level-80);
      --spk-alert-background-color: var(--primary-level-20);
      --spk-alert-border-color: var(--primary-level-40);
    }

    &.accent .spk-alert-item {
      --spk-alert-state-icon-color: var(--accent-500);
      --spk-alert-close-icon-color: var(--accent-500);
      --spk-alert-title-color: var(--accent-level-80);
      --spk-alert-content-color: var(--accent-level-80);
      --spk-alert-background-color: var(--accent-level-20);
      --spk-alert-border-color: var(--accent-level-40);
    }

    &.error .spk-alert-item {
      --spk-alert-state-icon-color: var(--warn-500);
      --spk-alert-close-icon-color: var(--warn-500);
      --spk-alert-title-color: var(--warn-level-80);
      --spk-alert-content-color: var(--warn-level-80);
      --spk-alert-background-color: var(--warn-level-20);
      --spk-alert-border-color: var(--warn-level-40);
    }

    &.success .spk-alert-item {
      --spk-alert-state-icon-color: var(--success-500);
      --spk-alert-close-icon-color: var(--success-500);
      --spk-alert-title-color: var(--success-level-80);
      --spk-alert-content-color: var(--success-level-80);
      --spk-alert-background-color: var(--success-level-20);
      --spk-alert-border-color: var(--success-level-40);
    }

    &.warning .spk-alert-item {
      --spk-alert-state-icon-color: var(--tertiary-500);
      --spk-alert-close-icon-color: var(--tertiary-500);
      --spk-alert-title-color: var(--tertiary-level-80);
      --spk-alert-content-color: var(--tertiary-level-80);
      --spk-alert-background-color: var(--tertiary-level-20);
      --spk-alert-border-color: var(--tertiary-level-40);
    }

    &:not(:has([spk-alert-content])) .spk-alert-item {
      grid-template-rows: auto;
      grid-template-areas: 'stateIcon title closeIcon';
    }

    &:has([spk-alert-content]) .spk-alert-item {
      background-color: var(--base-level-10);
      border: 1px solid var(--base-level-40);
      box-shadow: var(--box-shadow-50);

      .spk-alert-title {
        color: var(--base-level-70);
      }

      .spk-alert-close-icon {
        color: var(--grey-400);
      }

      .spk-alert-content {
        color: var(--base-level-60);
      }

      body.dark & {
        background-color: var(--grey-800);
        box-shadow: var(--box-shadow-50);
      }
    }

    .spk-alert-icon {
      grid-area: stateIcon;
      height: p2r(20);
      width: p2r(20);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    [spk-alert-icon],
    .spk-alert-state-icon {
      color: var(--spk-alert-state-icon-color);
    }

    .spk-alert-close-icon {
      grid-area: closeIcon;
      color: var(--spk-alert-close-icon-color);
      transform: rotate(45deg);
      transform-origin: center;
    }

    .spk-alert-title {
      grid-area: title;
      color: var(--spk-alert-title-color);
      padding-top: p2r(2);
    }

    .spk-alert-content {
      grid-area: alertContent;
      color: var(--spk-alert-content-color);

      &:empty {
        display: none;
      }
    }
  }
}
