$sparkleMenu: true !default;

@if $initSparkle == true and $sparkleMenu == true {
  spk-menu {
    display: inline-flex;
    position: relative;

    spk-popover {
      flex: 1 0;
    }

    .overlay {
      position: fixed;
      inset: 0;
      opacity: 0.1;
      z-index: 1;
      background-color: red;
    }

    .options {
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: p2r(4);

      [title] {
        font: var(--paragraph-30);
        color: var(--base-level-60);
        padding: p2r(8 12);
        margin: p2r(0 8);
        width: calc(100% - #{p2r(16)});
        user-select: none;
      }

      [item] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: p2r(32);
        margin: p2r(0 8);
        padding: p2r(0 8);
        gap: p2r(8);
        width: calc(100% - #{p2r(16)});
        border-radius: var(--shape-2);
        appearance: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: var(--base-level-70);

        &[disabled] {
          opacity: 0.3;
          cursor: initial;

          &:hover {
            background-color: transparent;
          }
        }

        [suffix] {
          order: 999;
          color: var(--base-level-60);
          font: var(--paragraph-30);
          justify-self: flex-end;
          display: inline-flex;
          flex: 1 0;
          justify-content: flex-end;
        }

        spk-icon {
          font-size: p2r(16);
        }

        &.active,
        &:hover {
          background-color: var(--base-level-30);
          color: var(--base-level-70);
        }

        &.focused {
          background-color: var(--primary-level-20);
          color: var(--base-level-70);

          &:hover {
            background-color: var(--primary-level-30);
          }
        }
      }
    }
  }
}
