$sparkleSortable: false !default;

@if $sparkleSortable == true {
  [spkSortable] {
    [sort-item] {
      background-color: blue;
    }

    [sort-handle] {
      background-color: green;
    }

    [draggable] {
      transform: translate(0);
      transition: transform 80ms linear;
    }
  }
}
