@use '../helpers.scss' as *;

$spkSelectNew: false !default;

@if $spkSelectNew == true {
  spk-select-new {
    --miw: p2r(210);

    display: flex;

    spk-form-field {
      display: flex;
      min-width: var(--miw);
    }

    spk-popover {
      flex: 1 0;

      &:has(.sparkle-options:empty) .popover {
        opacity: 0;
      }
    }

    .selected-value {
      min-width: 150px;
      color: var(--base-level-60);

      &.is-selected {
        color: var(--base-level-70);
      }
    }

    .input {
      position: relative;

      &.show-search-text {
        input {
          opacity: 1;
        }

        .selected-value {
          opacity: 0;
        }
      }

      .selected-value {
        position: absolute;
        inset: 0;
      }

      input {
        width: 100%;
        opacity: 0;
      }
    }
  }

  .sparkle-options {
    padding: p2r(8 0);
    display: flex;
    flex-direction: column;
    max-height: p2r(180);
    overflow-y: auto;
    overflow-x: hidden;

    [spk-title] {
      font: var(--paragraph-30);
      color: var(--base-level-60);
      padding: p2r(8 12);
      // margin: p2r(0 8);
      width: calc(100% - #{p2r(16)});
      user-select: none;
    }

    .option {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: p2r(32);
      margin: p2r(0 8);
      padding: p2r(0 8);
      gap: p2r(8);
      width: calc(100% - #{p2r(16)});
      border-radius: var(--shape-2);
      appearance: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      color: var(--base-level-70);
      user-select: none;

      spk-checkbox {
        margin-left: auto;
      }

      &[disabled] {
        opacity: 0.3;
        cursor: initial;

        &:hover {
          background-color: transparent;
        }
      }

      spk-icon {
        font-size: p2r(16);
      }

      &.active,
      &:checked,
      &:hover {
        background-color: var(--base-level-30);
        color: var(--base-level-70);
      }

      &.focused {
        background-color: var(--primary-level-20);
        color: var(--base-level-70);

        &:hover {
          background-color: var(--primary-level-30);
        }
      }
    }
  }
}
