$sparklePopover: true !default;

@if $initSparkle == true and $sparklePopover == true {
  spk-popover {
    --popover-display: inherit;

    display: var(--popover-display);

    .popover-trigger {
      cursor: pointer;
      display: var(--popover-display);
      position: relative;

      [spk-button] {
        display: none;
      }

      .popover-trigger-wrapper {
        display: var(--popover-display);

        &:empty + * {
          display: inherit;
        }
      }
    }

    .popover-overlay {
      position: fixed;
      inset: 0;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
    }

    .popover {
      position: absolute;
      margin: 0;
      min-width: p2r(180);
      z-index: 0;
      background-color: var(--base-level-10);
      border: 1px solid var(--base-level-40);
      border-radius: var(--shape-2);
      font: var(--paragraph-30);
      color: var(--base-level-60);

      @supports (left: anchor(left)) and (top: anchor(bottom)) {
        left: anchor(left);
        top: anchor(bottom);
        margin-top: p2r(4);
      }
    }
  }
}
