$sparkleSortable: false !default;

@if $sparkleSortable == true {
  [spkSortable] {
    position: relative;

    &.dragging {
      [draggable] {
        transition: transform 40ms linear;
      }
    }

    [draggable] {
      height: auto;
      transform: translate(0);
      transition: none;
      z-index: 2;
    }

    .spk-placeholder {
      position: absolute;
      top: 0;
      z-index: 1;
    }

    [sort-handle] {
      cursor: move;
    }
  }
}
.sorting-handle {
  /* or grab */
}
