@use '../helpers.scss' as *;

$spkVirtualScroll: false !default;

@if $spkVirtualScroll == true {
  spk-virtual-scroll {
    overflow-y: auto;
    position: relative;
    display: block;
    height: 600px;
  }
}
