$useInterTight: true !default;
$useApexcharts: true !default;

@use './core/fonts/inter-tight' with (
  $useInterTight: $useInterTight
);

@use './core/apexcharts/apexcharts' with (
  $useApexcharts: $useApexcharts
);

@use './core/core';

$spkBaseTypes: ('base', 'simple', 'raised', 'outlined', 'flat');
$spkAlert: true !default;
$spkToggle: true !default;
$spkButton: true !default;
$spkProgressBar: true !default;
$spkCheckbox: true !default;
$spkDatepicker: true !default;
$spkIcon: true !default;
$spkMenu: true !default;
$spkDivider: true !default;
$spkDialog: true !default;
$spkPopover: true !default;
$spkChip: true !default;
$spkFormField: true !default;
$spkColorPicker: true !default;
$spkSidenav: true !default;
$spkList: true !default;
$spkRadio: true !default;
$spkButtonGroup: true !default;
$spkRangeSlider: true !default;
$spkTooltip: true !default;
$spkVirtualScroll: false !default;
$spkSelect: true !default;
$spkCard: true !default;
$spkStepper: true !default;
$spkSortable: true !default;
$spkSpinner: true !default;
$spkToggleCard: true !default;
$spkTable: true !default;
$spkTabs: true !default;
$spkFileUpload: true !default;

@use './components/sparkle-alert-container.component.scss' with (
  $spkAlert: $spkAlert
);
@use './components/sparkle-alert.component.scss' with (
  $spkAlert: $spkAlert
);
@use './components/sparkle-toggle.component.scss' with (
  $spkToggle: $spkToggle
);
@use './components/sparkle-button.component.scss' with (
  $spkButton: $spkButton
);
@use './components/sparkle-progress-bar.component.scss' with (
  $spkProgressBar: $spkProgressBar
);
@use './components/sparkle-checkbox.component.scss' with (
  $spkCheckbox: $spkCheckbox
);
@use './components/sparkle-datepicker.component.scss' with (
  $spkDatepicker: $spkDatepicker
);
@use './components/sparkle-icon.component.scss' with (
  $spkIcon: $spkIcon
);
@use './components/sparkle-menu.component.scss' with (
  $spkMenu: $spkMenu
);
@use './components/sparkle-divider.component.scss' with (
  $spkDivider: $spkDivider
);
@use './components/sparkle-dialog.component.scss' with (
  $spkDialog: $spkDialog
);
@use './components/sparkle-popover.component.scss' with (
  $spkPopover: $spkPopover
);
@use './components/sparkle-chip.component.scss' with (
  $spkChip: $spkChip
);
@use './components/sparkle-form-field.component.scss' with (
  $spkFormField: $spkFormField
);
@use './components/sparkle-color-picker.component.scss' with (
  $spkColorPicker: $spkColorPicker
);
@use './components/sparkle-sidenav.component.scss' with (
  $spkSidenav: $spkSidenav
);
@use './components/sparkle-list.component.scss' with (
  $spkList: $spkList
);
@use './components/sparkle-radio.component.scss' with (
  $spkRadio: $spkRadio
);
@use './components/sparkle-button-group.component.scss' with (
  $spkButtonGroup: $spkButtonGroup
);
@use './components/sparkle-range-slider.component.scss' with (
  $spkRangeSlider: $spkRangeSlider
);
@use './components/sparkle-tooltip.component.scss' with (
  $spkTooltip: $spkTooltip
);
@use './components/sparkle-virtual-scroll.component.scss' with (
  $spkVirtualScroll: $spkVirtualScroll
);
@use './components/sparkle-select.component.scss' with (
  $spkSelect: $spkSelect
);
@use './components/sparkle-card.component.scss' with (
  $spkCard: $spkCard
);
@use './components/sparkle-stepper.component.scss' with (
  $spkStepper: $spkStepper
);
@use './components/sparkle-spinner.component.scss' with (
  $spkSpinner: $spkSpinner
);
@use './components/sparkle-sortable.component.scss' with (
  $spkSortable: $spkSortable
);
@use './components/sparkle-toggle-card.component.scss' with (
  $spkToggleCard: $spkToggleCard
);
@use './components/sparkle-table.component.scss' with (
  $spkTable: $spkTable
);
@use './components/sparkle-tabs.component.scss' with (
  $spkTabs: $spkTabs
);
@use './components/sparkle-file-upload.component.scss' with (
  $spkFileUpload: $spkFileUpload
);
