@use 'helpers' as *;

$shipThemeToggle: true !default;

@if $shipThemeToggle == true {
  ship-theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
