@use '../showcase' as *;

:host {
  @extend %tab-host;
}

table.defaults {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: p2r(6) p2r(10);
    border-bottom: 1px solid var(--base-4);
    vertical-align: top;
  }

  td:first-child {
    width: 40%;
  }

  kbd {
    font: var(--code-10);
    background: var(--base-2);
    border: 1px solid var(--base-5);
    border-radius: var(--shape-1);
    padding: p2r(1) p2r(6);
  }

  .or {
    margin: 0 p2r(6);
    color: var(--base-8);
  }
}
