<section class="palettes">
  <h1>Palettes</h1>

  @for (palette of palettes(); track palette) {
    <div class="palette">
      <h4>{{ palette }}</h4>

      <div class="colors">
        @for (color of colorsL(); track color) {
          <div class="color" [class]="'palette-' + palette + '-' + color">
            {{ color }}
          </div>
        }
      </div>
    </div>
    <mat-divider />
  }
</section>

<section class="palettes">
  <h1>Base level</h1>
  <div class="palette">
    <h4>Base level</h4>

    <div class="colors">
      @for (color of baseL(); track color) {
        <div class="color" [class]="'base-level-' + color">
          {{ color }}
        </div>
      }
    </div>
  </div>
</section>

<mat-divider />

<section class="palettes">
  <h1>Shadows</h1>

  <div class="shadows">
    @for (shadow of shadows(); track shadow) {
      <div class="shadow" [class]="'box-shadow-' + shadow">
        {{ shadow }}
      </div>
    }
  </div>
</section>

<section class="palettes">
  <h1>Shapes</h1>

  <div class="shapes">
    @for (shape of shapes(); track shape) {
      <div class="shape" [class]="'shape-' + shape">
        {{ shape }}
      </div>
    }
  </div>
</section>
