<spk-chip class="flat">
  <spk-icon>circle</spk-icon>
</spk-chip>

<spk-chip class="flat">
  <spk-icon>circle</spk-icon>
  Basic
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="flat primary">
  <spk-icon>circle</spk-icon>
  Primary
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="flat accent">
  <spk-icon>circle</spk-icon>
  Accent
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="flat warn">
  <spk-icon>circle</spk-icon>
  Warn
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="flat error">
  <spk-icon>circle</spk-icon>
  Error
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="flat success">
  <spk-icon>circle</spk-icon>
  Success
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip disabled class="flat">
  <spk-icon>circle</spk-icon>
  Disabled
  <spk-icon suffix>circle</spk-icon>
</spk-chip>
