<sh-card>
  <sh-lo-timeline [variant]="variant()">
    <sh-lo-timeline-item>
      <sh-avatar name="Alex Rivera" />
      <b>Alex Rivera invited 3 teammates</b>
      <time>2 min ago</time>
    </sh-lo-timeline-item>
    <sh-lo-timeline-item>
      <sh-icon>rocket-launch</sh-icon>
      <b>Deployed v2.4.0 to production</b>
      <time>1 hour ago</time>
      <p>14 commits, 3 contributors. No regressions reported.</p>
    </sh-lo-timeline-item>
    <sh-lo-timeline-item>
      <b>Goal "1k signups" reached</b>
      <time>Yesterday</time>
    </sh-lo-timeline-item>
  </sh-lo-timeline>
</sh-card>
