<spk-chip class="raised">
  <spk-icon>circle</spk-icon>
</spk-chip>

<spk-chip class="raised">
  <spk-icon>circle</spk-icon>
  Basic
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="raised primary">
  <spk-icon>circle</spk-icon>
  Primary
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="raised accent">
  <spk-icon>circle</spk-icon>
  Accent
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="raised warn">
  <spk-icon>circle</spk-icon>
  Warn
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="raised error">
  <spk-icon>circle</spk-icon>
  Error
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="raised success">
  <spk-icon>circle</spk-icon>
  Success
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip disabled class="raised">
  <spk-icon>circle</spk-icon>
  Disabled
  <spk-icon suffix>circle</spk-icon>
</spk-chip>
