<div class="scroller" #scroller>
  <div class="container">
    @for (alert of this.alertService().alertHistory(); track $index) {
      <sh-alert
        #alerts
        [class]="alert.type"
        [id]="alert.id"
        [alertService]="alertService()"
        [style.transition-delay]="transitionDelay($index, true)"
        [class.animate-in]="alert.animateIn"
        [class.animate-out]="alert.animateOut"
        [class.is-hidden]="this.alertService().alertHistoryIsHidden() && !alert.isOpen">
        <div title>{{ alert.title }}</div>

        @if (alert.content) {
          <div content>
            {{ alert.content }}
          </div>
        }
      </sh-alert>
    }
  </div>
</div>
<div
  class="tray"
  [class.tray-is-hidden]="!this.alertService().alertHistoryIsHidden()"
  (mouseover)="this.onMouseOver()"
  (mouseout)="this.onMouseOut()">
  <sh-icon class="small">info</sh-icon>
</div>
