<spk-alert [class.active]="active()" (click)="active.set(!active())" class="flat">Flat alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="flat primary">Primary flat alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="flat accent">Accent flat alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="flat warn">Warn flat alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="flat error">Error flat alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="flat success">Success flat alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="flat" disabled>
  Disabled flat alert
</spk-alert>
