:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.hint {
  width: 100%;
  font-size: 13px;
  color: var(--base-10);
}

pre {
  margin: 0;
  font-size: 12px;
  color: var(--base-10);
}
