@use '../../../../../../../sparkle-ui/styles/helpers.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(20);
  padding: 0;
  background-color: var(--base-3);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
  border-bottom: 1px solid var(--base-4);
  padding: p2r(20);
  background-color: var(--base-2);
}

header {
  display: flex;
  flex-direction: column;
  gap: p2r(12);

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: p2r(8);
  }
}

.sandbox {
  display: flex;
  gap: p2r(8);
  flex-wrap: wrap;
  width: p2r(900);
  height: p2r(500);
  padding: p2r(20);

  spk-sidenav {
    border: 1px solid var(--base-4);
  }
}
