<section [class.no-padding-sides]="typeActive() === 'type-b'">
  <h3>Basic table - sorted by : {{ sortByColumn() }}</h3>

  <spk-button-group>
    <button [class.active]="typeActive() === 'type-a'" (click)="typeActive.set('type-a')">Type A</button>
    <button [class.active]="typeActive() === 'type-b'" (click)="typeActive.set('type-b')">Type B</button>
  </spk-button-group>

  <spk-toggle class="primary raised" [class.active]="resizable()" (click)="resizable.set(!resizable())"></spk-toggle>

  <spk-table
    [(data)]="dataSource"
    [class.no-resize]="!resizable()"
    [class]="typeActive()"
    [loading]="isLoading()"
    [sortByColumn]="sortByColumn()">
    <tr class="sticky" table-header>
      <th class="sticky" spkResize>im sticky</th>

      @for (col of displayedColumns(); track col) {
        <th spkResize [spkSort]="col">{{ col }}</th>
      }

      <th class="sticky-end" spkResize>im sticky end</th>
    </tr>

    @for (row of dataSource(); track $index) {
      <tr [class.sticky-end]="$last" (click)="toggleRow($index)">
        <td class="sticky">im sticky</td>
        @for (col of displayedColumns(); track col) {
          <td>{{ row[col] }}</td>
        }
        <td class="sticky-end">im sticky end</td>
      </tr>

      @if ($index === openRowIndex()) {
        <tr>
          <td [style.grid-column]="'1 / -1'">hi im a secondary row</td>
        </tr>
      }
    }

    <div table-no-rows>No data available</div>
  </spk-table>
</section>
