:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;

  &.no-padding-sides {
    padding: 40px 0;
  }
}
