<button spk-button [spkTooltip]="richTooltip">
  <spk-icon>star</spk-icon>
  Rich Content
</button>

<!-- Template tooltip with rich content -->
<ng-template #richTooltip>
  <div class="tooltip-content">
    <h4>Rich Tooltip</h4>
    <p>
      This tooltip contains
      <strong>formatted content</strong>
      with multiple elements.
    </p>
    <ul>
      <li>Feature 1</li>
      <li>Feature 2</li>
      <li>Feature 3</li>
    </ul>
  </div>
</ng-template>

<spk-icon [spkTooltip]="dynamicTooltip">help</spk-icon>

<!-- Template tooltip with dynamic content -->
<ng-template #dynamicTooltip>
  <div class="tooltip-content">
    <spk-icon>info</spk-icon>
    <span>Dynamic content with icon</span>
  </div>
</ng-template>

<button spk-button [spkTooltip]="actionTooltip">
  <spk-icon>question</spk-icon>
  Confirm Action
</button>

<!-- Template tooltip with action buttons -->
<ng-template #actionTooltip>
  <div class="tooltip-content">
    <p>Would you like to proceed?</p>
    <div class="tooltip-actions">
      <button spk-button size="small">Yes</button>
      <button spk-button size="small" class="secondary">No</button>
    </div>
  </div>
</ng-template>
