<!-- Basic tooltip with string content -->
<spk-icon [spkTooltip]="'This is a basic tooltip'">circle</spk-icon>

<button spk-button [spkTooltip]="'Click me for more information'">
  <spk-icon>info</spk-icon>
  Basic Button
</button>
<!-- Button with longer tooltip text -->
<button
  spk-button
  [spkTooltip]="'This is a longer tooltip message that provides more detailed information about the action'">
  <spk-icon>download</spk-icon>
  Download
</button>

<!-- Tooltip with different content -->
<div [spkTooltip]="'Hover over this text to see a tooltip'">Hover this basic div</div>
