:host {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

div {
  padding: 0.5rem 1rem;
  border: 1px solid var(--spk-border-color);
  border-radius: var(--spk-border-radius);
  cursor: pointer;
  background: var(--spk-surface-color);
}
