<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="flat" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="flat primary" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="flat accent" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="flat warn" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="flat error" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="flat success" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="flat" disabled />
