<button (click)="close()">Close</button>
<div class="row">
  <spk-button-group>
    <button [class.active]="type() === 'none'" (click)="type.set('none')">None</button>
    <button [class.active]="type() === 'raised'" (click)="type.set('raised')">Raised</button>
    <button [class.active]="type() === 'outlined'" (click)="type.set('outlined')">Outlined</button>
  </spk-button-group>

  <spk-button-group>
    <button [class.active]="colors() === 'none'" (click)="colors.set('none')">None</button>
    <button [class.active]="colors() === 'primary'" (click)="colors.set('primary')">Primary</button>
    <button [class.active]="colors() === 'accent'" (click)="colors.set('accent')">Accent</button>
    <button [class.active]="colors() === 'tertiary'" (click)="colors.set('tertiary')">Tertiary</button>
    <button [class.active]="colors() === 'warn'" (click)="colors.set('warn')">Warn</button>
    <button [class.active]="colors() === 'success'" (click)="colors.set('success')">Success</button>
  </spk-button-group>
</div>

<h3>With date: {{ someDate() }}</h3>
<spk-datepicker [(date)]="someDate" [class]="class()" />

<h3>With other date: {{ someOtherDate() }}</h3>
<spk-datepicker [(date)]="someOtherDate" [class]="class()" />

<h3>Date picker input</h3>

<spk-datepicker-input [class]="class()">
  <label>
    Date
    <spk-icon>question</spk-icon>
  </label>

  <input type="text" id="date" tabindex="2" [formControl]="someDateCtrl" />
</spk-datepicker-input>
