<sh-event-card class="simple">
  <h3>Default</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="simple primary">
  <h3>Primary</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="simple accent">
  <h3>Accent</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="simple warn">
  <h3>Warn</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="simple error">
  <h3>Error</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="simple success">
  <h3>Success</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>
