<section>
  <h3>Basic</h3>

  <spk-tooltip message="very very very very very very very very very very very very very very very long tooltip">
    <button spk-button>
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
  </spk-tooltip>

  <spk-tooltip message="very very very very very very very very very very very very very very very long tooltip">
    <spk-icon>circle</spk-icon>
  </spk-tooltip>

  <spk-tooltip message="Hello world" class="primary" [disabled]="true">
    <button spk-button class="primary">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
  </spk-tooltip>

  <spk-tooltip message="Hello world" class="accent">
    <button spk-button class="accent">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
  </spk-tooltip>

  <spk-tooltip message="Hello world" class="warn">
    <button spk-button class="warn">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
  </spk-tooltip>

  <spk-tooltip message="Hello world" class="error">
    <button spk-button class="error">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
  </spk-tooltip>
</section>
