<spk-card class="type-c">
  <spk-tabs class="primary">
    <h3 class="title">
      {{ title() }}
    </h3>

    <button tab [class.active]="view() === 'typescript'" (click)="toggleView('typescript')">
      <spk-icon>brackets-curly</spk-icon>
      Typescript
    </button>

    <button tab [class.active]="view() === 'styles'" (click)="toggleView('styles')">
      <spk-icon>paint-brush-broad</spk-icon>
      Styles
    </button>

    <button tab [class.active]="view() === 'markup'" (click)="toggleView('markup')">
      <spk-icon>code</spk-icon>
      Markup
    </button>
  </spk-tabs>

  @if (view() !== '') {
    <div class="content">
      @defer (when (view() === 'typescript')) {
        <app-highlight-file [class.hidden]="view() !== 'typescript'" lang="ts" [path]="path()" />
      }

      @defer (when (view() === 'markup')) {
        <app-highlight-file [class.hidden]="view() !== 'markup'" lang="html" [path]="path()" />
      }

      @defer (when (view() === 'styles')) {
        <app-highlight-file [class.hidden]="view() !== 'styles'" lang="scss" [path]="path()" />
      }
    </div>
  }

  <div class="example-wrap">
    <ng-content></ng-content>
  </div>
</spk-card>
