@use '../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: block;

  &.no-space .example-wrap {
    padding: 0;
    display: block;
  }

  &.align-start .example-wrap {
    align-items: flex-start;
  }
}

sh-tabs {
  align-items: center;
  padding: p2r(0 20);
}

.title {
  flex: 1 0;
  font: var(--paragraph-20B);

  .anchor-link {
    color: inherit;
    opacity: 0.3;
    transition: all 0.2s;
    display: inline-flex;
    text-decoration: none;
    
    &:hover,
    &:focus {
      opacity: 1;
      color: var(--primary-8);
    }
    
    &.copied {
      opacity: 1;
      color: var(--success-8);
    }
  }
}

.content {
  padding: 0;
  overflow: auto;
  width: 100%;
  display: block;
  border-bottom: var(--border-10);
}

.example-wrap {
  padding: p2r(60 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.no-space {
    padding: 0;
  }
}

.description {
  padding: p2r(20);
  background-color: var(--base-2);
  border-bottom: var(--border-10);

  &:empty {
    display: none;
  }
}
