@use '../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: block;

  &.no-space .example-wrap {
    padding: 0;
    display: block;
  }

  &.align-start .example-wrap {
    align-items: flex-start;
  }
}

sh-tabs {
  align-items: center;
  padding: p2r(0 20);
}

.title {
  flex: 1 0;
  font: var(--paragraph-20B);
}

.content {
  padding: 0;
  overflow: auto;
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--base-4);
}

.example-wrap {
  padding: p2r(60 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  padding: p2r(20);
  background-color: var(--base-2);
  border-bottom: 1px solid var(--base-4);

  &:empty {
    display: none;
  }
}
