<div class="controls">
  <p>Controls</p>
  <header>
    <div class="row">
      <spk-toggle [class.active]="isSmall()" class="primary raised" (click)="isSmall.set(!isSmall())">Small</spk-toggle>
    </div>

    <div class="row">
      <spk-button-group class="small">
        <button [class.active]="colorClass() === ''" (click)="colorClass.set('')">Default</button>
        <button [class.active]="colorClass() === 'primary'" (click)="colorClass.set('primary')">Primary</button>
        <button [class.active]="colorClass() === 'accent'" (click)="colorClass.set('accent')">Accent</button>
        <button [class.active]="colorClass() === 'warn'" (click)="colorClass.set('warn')">Warn</button>
        <button [class.active]="colorClass() === 'error'" (click)="colorClass.set('error')">Error</button>
        <button [class.active]="colorClass() === 'success'" (click)="colorClass.set('success')">Success</button>
      </spk-button-group>

      <spk-button-group class="small">
        <button [class.active]="variationClass() === ''" (click)="variationClass.set('')">Default</button>
        <button [class.active]="variationClass() === 'simple'" (click)="variationClass.set('simple')">Simple</button>
        <button [class.active]="variationClass() === 'outlined'" (click)="variationClass.set('outlined')">
          Outlined
        </button>
        <button [class.active]="variationClass() === 'flat'" (click)="variationClass.set('flat')">Flat</button>
        <button [class.active]="variationClass() === 'raised'" (click)="variationClass.set('raised')">Raised</button>
      </spk-button-group>
    </div>
  </header>
</div>

<div class="sandbox">
  <spk-chip [class]="exampleClass()" [class.small]="isSmall()">
    <spk-icon>circle</spk-icon>
  </spk-chip>

  <spk-chip [class]="exampleClass()" [class.small]="isSmall()">
    <spk-icon>circle</spk-icon>
    <span>Chip</span>
  </spk-chip>

  <spk-chip [class]="exampleClass()" [class.small]="isSmall()">
    <spk-icon>circle</spk-icon>
    <span>Chip</span>
    <spk-icon>circle</spk-icon>
  </spk-chip>

  <spk-chip [class]="exampleClass()" [class.small]="isSmall()">
    <span>Chip</span>
    <spk-icon>circle</spk-icon>
  </spk-chip>

  <spk-chip [class]="exampleClass()" [class.small]="isSmall()">
    <spk-icon>circle</spk-icon>
  </spk-chip>

  <spk-chip [class]="exampleClass()" [class.small]="isSmall()">
    <spk-icon>circle</spk-icon>
    <spk-icon>circle</spk-icon>
  </spk-chip>

  <spk-chip [class]="exampleClass()" [class.small]="isSmall()">
    <span>Chip</span>
  </spk-chip>
</div>
