<spk-alert [class.active]="active()" (click)="active.set(!active())" class="outlined">Outlined alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="outlined primary">
  Primary outlined alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="outlined accent">
  Accent outlined alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="outlined warn">
  Warn outlined alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="outlined error">
  Error outlined alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="outlined success">
  Success outlined alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="outlined" disabled>
  Disabled outlined alert
</spk-alert>
