<h1>Standard size</h1>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button mat-stroked-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-stroked-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-stroked-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-stroked-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-stroked-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-stroked-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button mat-flat-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-flat-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-flat-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-flat-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-flat-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-flat-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-raised-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-raised-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button mat-raised-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button>
        <mat-icon>circle</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button mat-icon-button color="tertiary" aria-label="Example icon button with a menu icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>circle</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="tertiary" aria-label="Example icon button with a bookmark icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="tertiary" aria-label="Example icon button with a plus one icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>

<h1>Small size</h1>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button class="small" mat-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button class="small" mat-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-button class="small" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button class="small" mat-stroked-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button class="small" mat-stroked-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-stroked-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-stroked-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-stroked-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-stroked-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-stroked-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-stroked-button class="small" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button class="small" mat-flat-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button class="small" mat-flat-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-flat-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-flat-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-flat-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-flat-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-flat-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-flat-button class="small" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button class="small" mat-raised-button>
      <mat-icon>circle</mat-icon>
    </button>
    <button class="small" mat-raised-button>
      <mat-icon>circle</mat-icon>
      Basic
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-raised-button color="primary">
      <mat-icon>circle</mat-icon>
      Primary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-raised-button color="accent">
      <mat-icon>circle</mat-icon>
      Accent
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-raised-button color="tertiary">
      <mat-icon>circle</mat-icon>
      Tertiary
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-raised-button color="warn">
      <mat-icon>circle</mat-icon>
      Warn
      <mat-icon suffix>circle</mat-icon>
    </button>
    <button class="small" mat-raised-button disabled>
      <mat-icon>circle</mat-icon>
      Disabled
      <mat-icon suffix>circle</mat-icon>
    </button>
    <a mat-raised-button class="small" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button class="small" mat-icon-button>
        <mat-icon>circle</mat-icon>
      </button>
      <button class="small" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button class="small" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button class="small" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button class="small" mat-icon-button color="tertiary" aria-label="Example icon button with a menu icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button class="small" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>circle</mat-icon>
      </button>
      <button class="small" mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>circle</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button class="small" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-fab color="tertiary" aria-label="Example icon button with a bookmark icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button class="small" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-mini-fab color="tertiary" aria-label="Example icon button with a plus one icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="small" mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
