<h1>Color picker</h1>

<sh-alert class="error">
  <strong>IMPORTANT - not production ready</strong>
  <ng-container content>
    This is an early version of the color picker. It is not yet ready for production use. We will probably be changing
    the api quite a bit and could also introduce a component per render type for color selection.
  </ng-container>
</sh-alert>

<div class="content">
  <h3>Variations</h3>

  <app-previewer path="/sh-color-picker/examples/base-color-picker/base-color-picker.component" title="Base">
    <app-base-color-picker class="example" />
  </app-previewer>
</div>
