@use 'helpers' as *;

:host {
  display: block;
}

section {
  width: 200px;
  overflow: hidden;
}

button {
  anchor-name: --owner;
  position: relative;
}

.popover {
  background-color: red;
  position-anchor: --owner;
  position: absolute;
  left: anchor(left);
  top: anchor(bottom);
  margin: 0;
}
