<spk-chip class="simple">
  <spk-icon>circle</spk-icon>
</spk-chip>

<spk-chip class="simple">
  <spk-icon>circle</spk-icon>
  Basic
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="simple primary">
  <spk-icon>circle</spk-icon>
  Primary
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="simple accent">
  <spk-icon>circle</spk-icon>
  Accent
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="simple warn">
  <spk-icon>circle</spk-icon>
  Warn
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="simple error">
  <spk-icon>circle</spk-icon>
  Error
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip class="simple success">
  <spk-icon>circle</spk-icon>
  Success
  <spk-icon suffix>circle</spk-icon>
</spk-chip>

<spk-chip disabled class="simple">
  <spk-icon>circle</spk-icon>
  Disabled
  <spk-icon suffix>circle</spk-icon>
</spk-chip>
