<spk-alert [class.active]="active()" (click)="active.set(!active())" class="simple">Simple alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="simple primary">
  Primary simple alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="simple accent">
  Accent simple alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="simple warn">Warn simple alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="simple error">Error simple alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="simple success">
  Success simple alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="simple" disabled>
  Disabled simple alert
</spk-alert>
