<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon fontIcon="circle" />
        Lorem ipsum dolor
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
      sodales arcu. Praesent mauris purus, posuere ac tempus eu, consequat id
      sem. Duis tincidunt et velit et lacinia.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon fontIcon="circle" />
        Destination
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon fontIcon="circle" />
        Day of the trip
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
      sodales arcu. Praesent mauris purus, posuere ac tempus eu, consequat id
      sem. Duis tincidunt et velit et lacinia.
    </p>
  </mat-expansion-panel>
</mat-accordion>
