@use 'helpers' as *;

.controls {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
  border-bottom: 1px solid var(--base-4);
  padding: p2r(20);
  background-color: var(--base-2);

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: p2r(8);
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: p2r(12);

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: p2r(8);
  }
}

.sandbox {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
  padding: p2r(60 20);
  width: 100%;
  max-width: p2r(640);
  align-self: center;
  margin: 0 auto;
}

.files-list {
  padding: p2r(20);
}
