@use 'helpers' as *;

:host {
  display: flex;
  flex-direction: column;
}

sh-file-upload {
  width: calc(100% - #{p2r(40)});
  max-width: p2r(600);
  margin: p2r(60) auto;
}

.files-list {
  padding: p2r(20);
}
