@use '../helpers.scss' as *;

$shipPopover: true !default;

@if $shipPopover == true {
  sh-popover {
    --po-d: block;

    display: var(--po-d);

    &.multi-layer {
      .popover-content {
        position-area: right span-y-end;
      }

      .trigger .trigger-anchor {
        right: p2r(-4);
        left: p2r(-4);
        top: 0;
        bottom: 0;
      }
    }

    .trigger {
      cursor: pointer;
      display: var(--po-d);
      position: relative;

      .trigger-wrapper {
        display: var(--po-d);

        &:empty + * {
          display: inherit;
        }
      }

      .trigger-anchor {
        position: absolute;
        top: p2r(-4);
        bottom: p2r(-4);
        left: 0;
        right: 0;
        z-index: -1;
      }
    }

    .popover {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      border: 0;
      opacity: 1;
      background-color: transparent;
      z-index: -1;

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
      }
    }

    [popover]::backdrop {
      display: none;
    }

    .popover-content {
      position: absolute;
      margin: 0;
      min-width: p2r(180);
      z-index: 0;
      background-color: var(--base-1);
      border: 1px solid var(--base-4);
      border-radius: var(--shape-2);
      font: var(--paragraph-30);
      color: var(--base-8);
      padding: 0;

      @supports (anchor-name: --anchor) {
        inset: auto;
        position: fixed;
        position-area: bottom span-right;
        position-try-fallbacks: flip-block, flip-inline;
      }
    }
  }

  .full-popover sh-popover .popover-content,
  sh-popover.full .popover-content {
    width: auto;

    @supports (anchor-name: --anchor) {
      left: anchor(left);
      right: anchor(right);
    }
  }
}
