@use '../helpers.scss' as *;
$shipAlert: true !default;

@if $shipAlert == true {
  sh-alert {
    --alert-ad: 400ms;
    --alert-bs: var(--box-shadow-10);
    --alert-p: #{p2r(8 12)};

    max-height: #{p2r(300)};
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    opacity: 1;
    overflow: hidden;
    display: block;
    transition:
      max-height var(--alert-ad) ease-in-out,
      transform var(--alert-ad) ease-in-out,
      opacity var(--alert-ad) ease-in-out,
      margin-bottom var(--alert-ad) ease-in-out,
      padding-top var(--alert-ad) ease-in-out,
      padding-bottom var(--alert-ad) ease-in-out;
    transform: translateY(0);
    box-shadow: var(--alert-bs);

    &.simple {
      .content > * {
        color: var(--sheet-c);
        opacity: 0.7;
      }
    }

    &.flat,
    &.raised {
      --sheet-c: #fff;

      .content > * {
        color: var(--sheet-c);
        opacity: 0.8;
      }
    }

    .alert {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        'stateIcon title closeIcon'
        '. content .';
      padding: var(--alert-p);
      align-items: flex-start;
      gap: p2r(4 8);
    }

    .icon {
      grid-area: stateIcon;
      height: p2r(20);
      width: p2r(20);
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-of-type:not(:empty) + .icon {
        display: none;
      }
    }

    [icon],
    .state-icon {
      color: var(--alert-state-ic);
    }

    .close-icon {
      grid-area: closeIcon;
      color: var(--alert-close-ic);
      transform: rotate(45deg);
      transform-origin: center;
    }

    .title {
      grid-area: title;
      padding-top: p2r(2);
      font-weight: 500;
    }

    .content {
      grid-area: content;

      &:empty {
        display: none;
      }
    }

    &.is-hidden {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      margin-bottom: 0;
      overflow: hidden;
      transform: translateY(-40px);

      &::before {
        opacity: 0;
      }
    }

    &.animate-in {
      transition: none;
      max-height: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      overflow: hidden;
      transform: translateY(0px);

      &::before {
        opacity: 0;
      }
    }

    &.animate-out {
      max-height: 0;
      padding: 0;
      opacity: 0;
      overflow: hidden;
      transform: translateY(-40px);

      &::before {
        opacity: 0;
      }
    }

    &:has(.content:empty) .alert {
      grid-template-rows: auto;
      grid-template-areas: 'stateIcon title closeIcon';
    }

    &:has([content]) .alert {
      --alert-p: #{p2r(12)};
    }
  }
}
