@use '../helpers.scss' as *;

$shipCheckbox: true !default;

@if $shipCheckbox == true {
  sh-checkbox {
    .sh-sheet {
      --box-bw: #{p2r(1)};
      --box-c: var(--sheet-c);
      --box-bc: var(--sheet-bc);
      --box-bg: var(--sheet-bg);
      --sheet-s: var(--shape-1);
    }

    display: flex;
    align-items: center;
    gap: p2r(8);
    cursor: pointer;
    user-select: none;
    position: relative;
    border: 0;

    > input[type='checkbox'] {
      appearance: none;
      position: absolute;
      inset: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &:has(input[disabled]),
    &[disabled]:not([disabled='false']) {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
      cursor: initial;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: p2r(20);
      height: p2r(20);
      cursor: pointer;
      position: relative;
      border-radius: var(--shape-1);
      border: var(--box-bw) solid var(--box-bc);
      background: var(--box-bg);
      font-size: p2r(12);
      color: var(--box-c);

      sh-icon {
        opacity: 0;
        font-weight: bold;
        transition: opacity 75ms linear;

        &.indeterminate-indicator {
          display: none;
        }
      }
    }

    &.indeterminate {
      .box sh-icon {
        &.indeterminate-indicator {
          display: block;
        }

        &.default-indicator {
          display: none;
        }
      }
    }

    &:has(input[type='checkbox']:checked),
    &.indeterminate,
    &.active {
      .box sh-icon {
        opacity: 1;
      }
    }

    &:hover {
      .box sh-icon {
        opacity: 0.5;
      }
    }
  }
}
