@use '../helpers.scss' as *;
$shipBlueprint: true !default;

@if $shipBlueprint == true {
  sh-blueprint {
    --bp-bg: var(--base-1);
    --bp-icon-c: var(--base-6);
    --bp-stroke-c: var(--base-7);
    --bp-stroke-ca: var(--primary-8);

    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    > * {
      box-sizing: border-box;
    }

    sh-icon {
      font-size: p2r(16);
      color: var(--bp-icon-c);
    }

    .validation-errors {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: p2r(16);
    }

    .midpoint-div {
      position: absolute;
      background-color: var(--base-2);
      border: 1px solid var(--base-4);
      padding: p2r(8);
      gap: p2r(8);
      border-radius: var(--shape-2);
      transform: translate(-50%, -50%);
      z-index: 100;
      display: flex;
      align-items: center;
      cursor: pointer;

      sh-icon {
        color: var(--base-12);
      }
    }

    .canvas-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &.hovering-connection {
        cursor: pointer;
      }

      &.locked {
        .node {
          pointer-events: none;
        }
      }
    }

    .action-panel {
      position: absolute;
      top: p2r(8);
      right: p2r(8);
      gap: p2r(8);
      display: flex;
      align-items: center;
      z-index: 1000;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .nodes-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      will-change: transform;
    }
    .canvas {
      height: 100%;
      width: 100%;
      background-color: var(--bp-bg);
      overflow: hidden;
      touch-action: none;
      position: relative;
    }

    .grid {
      position: absolute;
      inset: 0;
      will-change: transform;
    }

    .tile {
      position: absolute;
      box-sizing: border-box;
      width: 800px;
      height: 800px;
      background-image:
        repeating-linear-gradient(0deg, var(--bp-grid-c) 0 2px, transparent 2px 100%),
        repeating-linear-gradient(90deg, var(--bp-grid-c) 0 2px, transparent 2px 100%);
      background-size: 20px 20px;
    }

    .node {
      position: absolute;
      min-width: 150px;
      // min-height: 100px;
      padding: 0;
      transition: box-shadow 0.2s ease-in-out;
      box-shadow: var(--box-shadow-10);
      will-change: transform;

      display: flex;
      flex-direction: column;

      header {
        padding: p2r(8);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--base-2);
        border-bottom: 1px solid var(--base-4);
        cursor: grab;
        user-select: none;

        &:active {
          cursor: grabbing;
        }
      }

      &:has(header:hover) {
        box-shadow: 0 0 10px 2px var(--primary-6);
      }
    }

    .ports {
      padding: p2r(8 0);
      display: flex;
      gap: p2r(8);
    }

    .inputs,
    .outputs {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1 0;
      height: 100%;
    }

    .inputs {
      .port {
        border-radius: 0 50% 50% 0;
        border-left-width: 0;
      }
    }

    .outputs {
      align-items: flex-end;

      .port {
        border-radius: 50% 0 0 50%;
        border-right-width: 0;
      }
    }

    .port-wrap {
      display: flex;
      gap: p2r(4);
      align-items: center;
    }

    .port {
      width: p2r(12);
      height: p2r(12);
      background-color: var(--bp-stroke-c);
      border-radius: 50%;
      border: 1px solid var(--base-8);
      cursor: pointer;
      position: relative;
    }

    .port:hover {
      background-color: var(--bp-stroke-ca);
    }

    .port-name {
      font: var(--paragraph-40);
      color: var(--base-12);
      white-space: nowrap;
    }

    .svg-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .connections-svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .connection-path {
      stroke: var(--bp-stroke-c);
      stroke-width: 3;
      fill: none;
      pointer-events: none;
    }

    .drag-path {
      stroke: var(--bp-stroke-ca);
      stroke-width: 3;
      fill: none;
      stroke-dasharray: 5, 5;
      pointer-events: none;
    }
  }
}
