@use '../helpers.scss' as *;

$shipCard: true !default;

@if $shipCard == true {
  sh-card {
    --card-bg: var(--base-1);
    --card-ibg: var(--base-2);
    --card-bc: var(--base-4);
    --card-sh: var(--box-shadow-10);
    --card-p: #{p2r(24)};
    --card-shp: #{p2r(8)};

    display: block;
    padding: var(--card-p);
    position: relative;
    z-index: 0;
    border: 1px solid var(--card-bc);
    box-shadow: var(--card-sh);
    border-radius: var(--shape-3);
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      background-color: var(--card-bg);
      inset: 0;
      z-index: -2;
    }

    &:after {
      background-color: var(--card-ibg);
      border-radius: var(--shape-2);
      inset: var(--card-shp);
      z-index: -1;
    }

    &.type-b {
      --card-bg: var(--base-2);
      --card-ibg: var(--base-1);
      --card-sh: none;
      --card-shp: #{p2r(4)};
    }

    &.type-c {
      --card-bg: transparent;
      --card-ibg: var(--card-bg);
      --card-p: 0;
    }
  }
}
