@use '../helpers.scss' as *;

$shipMenu: true !default;

@if $shipMenu == true {
  sh-menu {
    --menu-mh: #{p2r(320)};

    display: inline-flex;
    position: relative;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.stretch {
      width: 100%;

      [trigger] > * {
        width: 100%;
      }
    }

    &.has-search {
      sh-popover .options {
        [title] {
          position: sticky;
          border-bottom: 1px solid var(--base-4);
        }
      }

      .form-field-wrap {
        margin: p2r(8 8 0);
      }

      .options {
        margin: p2r(4 0 0);
      }
    }

    &.multi-layer {
      [trigger] {
        &:has(sh-icon.open-indicator) {
          &.is-open .open-indicator {
            transform: translateY(-50%) rotate(-90deg);
          }
        }

        &:has(sh-icon.open-indicator) {
          display: flex;

          .open-indicator {
            right: p2r(16);
          }
        }
        button:first-child {
          margin-top: 0;
        }
      }
    }

    [trigger]:has(sh-icon.open-indicator) {
      position: relative;

      > :first-child {
        padding-right: p2r(32);
      }

      .open-indicator {
        position: absolute;
        right: p2r(8);
        top: 50%;
        transform: translateY(-50%);
        color: var(--base-8);
        font-size: p2r(16);
        font-weight: inherit;
        pointer-events: none;
        transition: transform 75ms ease-in-out;
      }

      &.is-open .open-indicator {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    sh-popover {
      flex: 1 0;

      .popover {
        padding: 0;
      }

      .popover-content {
        overflow: hidden;
      }

      .form-field-wrap {
        sh-form-field {
          z-index: 10;
          background-color: var(--base-1);

          &.hidden {
            opacity: 0;
            height: 0;
            width: 0;
            min-width: 0;
            min-height: 0;
            margin: 0;
          }
        }
      }
    }

    sh-popover .options {
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: p2r(4);
      padding: 0;
      margin: 0;
      max-height: var(--menu-mh);
      overflow: auto;

      sh-menu:first-child,
      button:first-child {
        margin-top: p2r(8);
      }

      &.searching {
        button[disabled] {
          display: none;
        }

        button[value='0'] {
          display: none;
        }

        > *:not(button) {
          display: none;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        min-height: p2r(4);
        order: 9999999;
      }

      [title] {
        font: var(--paragraph-30);
        color: var(--base-8);
        padding: p2r(8 12);
        margin: 0;
        user-select: none;
        position: relative;
        top: 0;
        z-index: 10;
        background-color: var(--base-1);
      }

      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        // min-height: p2r(32);
        height: min-content;
        margin: p2r(0 8);
        padding: p2r(4 8);
        gap: p2r(0 8);
        width: calc(100% - #{p2r(16)});
        border-radius: var(--shape-2);
        appearance: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: var(--base-12);
        transition: transform 125ms linear;
        transform: scale(1);

        &:active {
          transform: scale(0.98);
        }

        &[disabled] {
          opacity: 0.3;
          cursor: initial;

          &:hover {
            background-color: transparent;
          }
        }

        [suffix] {
          order: 999;
          color: var(--base-8);
          font: var(--paragraph-30);
          justify-self: flex-end;
          display: inline-flex;
          flex: 1 0;
          justify-content: flex-end;
        }

        sh-icon {
          font-size: p2r(16);
        }

        &.active,
        &:hover {
          background-color: var(--base-2);
          color: var(--base-12);
        }

        &.focused {
          background-color: var(--primary-2);
          color: var(--base-12);

          &:hover {
            background-color: var(--primary-3);
          }
        }
      }
    }
  }
}
