@use '../helpers.scss' as *;

$shipCheckbox: true !default;

@if $shipCheckbox == true {
  sh-checkbox {
    .sh-sheet {
      --box-bw: #{p2r(1)};
      --box-bc: var(--sheet-bc);
      --sheet-s: var(--shape-1);
    }

    display: flex;
    align-items: center;
    gap: p2r(8);
    cursor: pointer;
    user-select: none;
    position: relative;
    border: 0;

    .label {
      &:empty {
        display: none;
      }

      > input {
        appearance: none;
        position: absolute;
        inset: 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    &:has(input[disabled]),
    &[disabled]:not([disabled='false']) {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
      cursor: initial;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: p2r(20);
      height: p2r(20);
      cursor: pointer;
      position: relative;
      border: var(--box-bw) solid var(--box-bc);

      sh-icon {
        opacity: 0;
        font-weight: bold;
        transition: opacity 75ms linear;

        &.indeterminate-indicator {
          display: none;
        }
      }
    }

    &.raised,
    &.flat {
      &:has(input) {
        &:not(:has(input:checked)) .box {
          background: transparent;
          border: 1px solid var(--box-bc);
        }
      }

      &:not(:has(input)) {
        .box:not(.active) {
          background: transparent;
          border: 1px solid var(--box-bc);
        }
      }
    }

    &.indeterminate {
      .box sh-icon {
        &.indeterminate-indicator {
          display: block;
        }

        &.default-indicator {
          display: none;
        }
      }
    }

    &:has(input:checked),
    &.indeterminate,
    &.active {
      .box sh-icon {
        opacity: 1;
      }
    }

    &:hover {
      .box sh-icon {
        opacity: 0.5;
      }
    }
  }
}
