@use '../helpers.scss' as *;
$shipButton: true !default;
$shipButtonShadow: false !default;

@if $shipButton == true {
  [shButton] {
    --btn-h: #{p2r(40)};
    --btn-f: var(--paragraph-20);

    @if $shipButtonShadow != false {
      --btn-bs: var(--box-shadow-10);
    } @else {
      --btn-bs: none;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: p2r(8);
    position: relative;
    padding: p2r(0 12);
    transition: color 80ms linear;
    min-width: auto;
    cursor: pointer;
    outline: none;
    line-height: inherit;
    user-select: none;
    appearance: none;
    overflow: visible;
    vertical-align: middle;
    text-decoration: none;
    height: var(--btn-h);
    box-shadow: var(--btn-bs);
    font: var(--btn-f);

    transition: transform 125ms linear;
    transform: scale(1);

    &:active {
      transform: scale(0.98);
    }

    sh-icon {
      rotate: var(--btn-ir);
      transition: rotate 125ms ease-in-out;
    }

    &:has(sh-icon:first-child) {
      padding-left: p2r(10);
    }

    &:has(sh-icon:last-child) {
      padding-right: p2r(10);
    }

    &.rotated-icon sh-icon {
      --btn-ir: 180deg;
    }

    &.small {
      --btn-h: #{p2r(32)};
      --btn-f: var(--paragraph-30);

      padding: p2r(0 8);
      gap: p2r(4);

      sh-icon {
        font-size: p2r(16);
      }

      &:has(sh-icon:first-child) {
        padding-left: p2r(8);
      }

      &:has(sh-icon:last-child) {
        padding-right: p2r(8);
      }
    }

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
    }

    &[readonly],
    &.readonly {
      pointer-events: none;
      user-select: none;
    }

    &[disabled],
    &[readonly] {
      &:active {
        transform: scale(1);
      }
    }
  }
}
