@use '../helpers.scss' as *;

$spkDatepicker: true !default;

@if $spkDatepicker == true {
  sh-daterange-input,
  sh-datepicker-input {
    sh-form-field-popover {
      .input-wrap {
        .input {
          display: grid;
          grid-template-columns: 1fr auto auto;
          align-items: center;
          margin: 0;
        }

        [suffix] {
          margin-right: p2r(12);
        }
      }

      .masked-value {
        font: var(--paragraph-30B);
        color: var(--base-8);

        + input + input,
        + input {
          opacity: 0;
          height: 0;
          width: 0;
        }
      }

      [suffix] + [suffix].default-indicator {
        display: none;
      }
    }

    sh-datepicker {
      z-index: 10000;
      position: relative;
      --dp-width: #{p2r(240)};
    }
  }

  sh-daterange-input {
    sh-popover .popover {
      --dp-width: #{p2r(300)};
      min-width: var(--dp-width);
    }

    @for $i from 1 through 3 {
      sh-form-field-popover.columns-#{$i} {
        $gap: 1rem;

        sh-popover .popover {
          --dp-width: calc(#{p2r($i * 300)} + #{(($i - 1) * $gap)});
        }
      }
    }
  }

  sh-datepicker {
    --dp-sel-bg: var(--base-8);
    --dp-sel-bw: 0;
    --dp-sel-bc: transparent;
    --dp-sel-c: #fff;
    --dp-day-c: var(--base-8);
    --dp-day-g: #{p2r(4 0)};
    --dp-day-f: var(--paragraph-20);
    --dp-width: #{p2r(300)};

    width: 100%;
    max-width: var(--dp-width);
    display: flex;
    flex-direction: column;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
      cursor: initial;
    }

    @for $i from 1 through 12 {
      &.columns-#{$i} {
        $gap: 1rem;

        --dp-width: calc(#{p2r($i * 300)} + #{(($i - 1) * $gap)});
      }
    }

    &.as-range {
      section {
        .days > div {
          &.sel {
            background: var(--dp-sel-bg);
            opacity: 0.5;
          }

          &.month-start,
          &.week-start,
          &.first {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
          }
          &.month-end,
          &.week-end,
          &.last {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
          }

          &.first,
          &.last {
            opacity: 1;
          }
        }
      }

      .month .days > div.out-of-scope {
        opacity: 0;
        pointer-events: none;
      }
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: p2r(4 0);
      gap: p2r(0);

      .title {
        font: var(--paragraph-20);
      }

      button {
        appearance: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: p2r(32);
        color: var(--base-8);

        &:focus {
          outline: none;
        }
      }
    }

    .months-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
    }

    .month {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr 7fr;
      gap: var(--dp-day-g);
      align-items: flex-start;

      .days,
      .weekdays {
        display: grid;
        grid-column: 1 / -1;
        gap: var(--dp-day-g);
        grid-template-columns: subgrid;
        position: relative;

        > .days {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(7, 1fr);
          gap: var(--dp-day-g);
          z-index: 0;
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1/1;
          cursor: pointer;
          position: relative;
          z-index: 1;
          color: var(--dp-day-c);
          font: var(--dp-day-f);
          user-select: none;

          &.sel {
            color: var(--dp-sel-c);
            transition: color 75ms linear;
          }

          &.out-of-scope {
            opacity: 0.4;
          }

          &.sel-el {
            position: relative;
            top: 0;
            left: 0;
            transition:
              transform 75ms linear,
              opacity 75ms linear;
            background: var(--dp-sel-bg);
            border-radius: 50%;
            border: var(--dp-sel-bw) solid var(--dp-sel-bc);
            opacity: 0;
            box-sizing: border-box;
          }
        }
      }

      .weekdays {
        > div {
          color: var(--base-12);
        }
      }
    }

    &.primary {
      --dp-sel-bg: var(--primary-8);
    }

    &.accent {
      --dp-sel-bg: var(--accent-8);
    }

    &.warn {
      --dp-sel-bg: var(--warn-8);
    }

    &.error {
      --dp-sel-bg: var(--error-8);
    }

    &.success {
      --dp-sel-bg: var(--success-8);
    }

    &.raised {
      --dp-sel-bg: var(--base-g2);

      &.primary {
        --dp-sel-bg: var(--primary-g2);
      }

      &.accent {
        --dp-sel-bg: var(--accent-g2);
      }

      &.warn {
        --dp-sel-bg: var(--warn-g2);
      }

      &.error {
        --dp-sel-bg: var(--error-g2);
      }

      &.success {
        --dp-sel-bg: var(--success-g2);
      }
    }
  }
}
