@use '../helpers.scss' as *;

$spkToggle: true !default;

@if $spkToggle == true {
  sh-toggle {
    --toggle-bg: var(--base-4);
    --toggle-b: 0;
    --togglek-bg: var(--base-2);
    --togglek-bs: var(--box-shadow-20);

    display: flex;
    align-items: center;
    gap: p2r(8);
    cursor: pointer;
    user-select: none;
    position: relative;

    label {
      display: flex;
      align-items: center;
      gap: p2r(8);
      position: relative;
      z-index: 1;
    }

    .box {
      display: block;
      width: p2r(34);
      height: p2r(20);
      cursor: pointer;
      position: relative;
      border-radius: 999px;
      background: var(--toggle-bg);
      border: var(--toggle-b);
      transition: background 150ms linear;
    }

    > input[type='checkbox'] {
      appearance: none;
      position: absolute;
      inset: 0;
      cursor: pointer;
      z-index: 0;
    }

    &:has(input[disabled]),
    &[disabled]:not([disabled='false']) {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
      cursor: initial;
    }

    .knob {
      position: absolute;
      top: p2r(2);
      left: p2r(2);
      width: p2r(16);
      height: p2r(16);
      border-radius: 50%;
      background: var(--togglek-bg);
      box-shadow: var(--togglek-bs);
      box-sizing: border-box;
      transition: left 125ms ease-in-out;
    }

    &:has(input[type='checkbox']:checked),
    &.active {
      --togglek-bg: var(--base-8);

      .knob {
        left: p2r(16);
      }

      &.primary {
        --toggle-bg: var(--primary-3);
        --togglek-bg: var(--primary-8);
      }

      &.accent {
        --toggle-bg: var(--accent-3);
        --togglek-bg: var(--accent-8);
      }

      &.warn {
        --toggle-bg: var(--warn-3);
        --togglek-bg: var(--warn-8);
      }

      &.error {
        --toggle-bg: var(--error-3);
        --togglek-bg: var(--error-8);
      }

      &.success {
        --toggle-bg: var(--success-3);
        --togglek-bg: var(--success-8);
      }
    }

    &.outlined {
      --toggle-bg: var(--base-1);
      --togglek-bg: var(--base-5);
      --togglek-bs: none;
      --toggle-b: 1px solid var(--base-5);

      .knob {
        width: p2r(14);
        height: p2r(14);
      }

      &.active {
        --togglek-bg: var(--base-8);
        --toggle-b: 1px solid var(--base-8);

        &.primary {
          --togglek-bg: var(--primary-8);
          --toggle-b: 1px solid var(--primary-8);
        }

        &.accent {
          --togglek-bg: var(--accent-8);
          --toggle-b: 1px solid var(--accent-8);
        }

        &.warn {
          --togglek-bg: var(--warn-8);
          --toggle-b: 1px solid var(--warn-8);
        }

        &.error {
          --togglek-bg: var(--error-8);
          --toggle-b: 1px solid var(--error-8);
        }

        &.success {
          --togglek-bg: var(--success-8);
          --toggle-b: 1px solid var(--success-8);
        }
      }
    }

    &.simple {
      --togglek-bg: #fff;

      &:has(input[type='checkbox']:checked),
      &.active {
        --togglek-bg: var(--base-8);

        &.primary {
          --togglek-bg: var(--primary-8);
          --toggle-bg: var(--primary-3);
        }

        &.accent {
          --togglek-bg: var(--accent-8);
          --toggle-bg: var(--accent-3);
        }

        &.warn {
          --togglek-bg: var(--warn-8);
          --toggle-bg: var(--warn-3);
        }

        &.error {
          --togglek-bg: var(--error-8);
          --toggle-bg: var(--error-3);
        }

        &.success {
          --togglek-bg: var(--success-8);
          --toggle-bg: var(--success-3);
        }
      }
    }

    &.flat {
      --togglek-bg: #fff;

      &:has(input[type='checkbox']:checked),
      &.active {
        --togglek-bg: #fff;
        --toggle-bg: var(--base-8);

        &.primary {
          --toggle-bg: var(--primary-8);
        }

        &.accent {
          --toggle-bg: var(--accent-8);
        }

        &.warn {
          --toggle-bg: var(--warn-8);
        }

        &.error {
          --toggle-bg: var(--error-8);
        }

        &.success {
          --toggle-bg: var(--success-8);
        }
      }
    }

    &.raised {
      --togglek-bg: #fff;

      &:has(input[type='checkbox']:checked),
      &.active {
        --toggle-bg: var(--base-g2);
        --togglek-bg: #fff;

        &.primary {
          --toggle-bg: var(--primary-g2);
        }

        &.accent {
          --toggle-bg: var(--accent-g2);
        }

        &.warn {
          --toggle-bg: var(--warn-g2);
        }

        &.error {
          --toggle-bg: var(--error-g2);
        }

        &.success {
          --toggle-bg: var(--success-g2);
        }
      }
    }
  }
}
