@use '../../../../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(20);
  padding: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
  border-bottom: var(--border-10);
  padding: p2r(20);
  background-color: var(--base-2);
}

header {
  display: flex;
  flex-direction: column;
  gap: p2r(12);

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: p2r(24);
  }
}

.sandbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: p2r(8);
  padding: p2r(60 20);

  sh-accordion {
    width: 100%;
    max-width: p2r(600);
  }
}
