$matExpansionPanelTheme: true !default;

@if $matExpansionPanelTheme == true {
  body.dark,
  body {
    --expansion-box-shadow: var(--box-shadow-10);
    --mat-expansion-container-shape: var(--shape-2);

    .mat-accordion {
      .mat-expansion-panel {
        margin: p2r(16 0);
        border: 1px solid var(--base-level-40);
        box-shadow: var(--expansion-box-shadow);

        .mat-expansion-panel-header {
          padding: p2r(12);
          height: p2r(46);

          .mat-content.mat-content-hide-toggle {
            margin-right: 0;
          }

          .mat-expansion-indicator {
            width: p2r(16);
            color: var(--base-level-60);
            transform-origin: center center;
            display: grid;
            place-content: center;
          }
        }

        .mat-expansion-panel-header-title {
          font: var(--paragraph-30);
          color: var(--base-level-70);
          margin-right: 0;

          spk-icon {
            font-size: p2r(16);
            line-height: 1em;
            color: var(--base-level-60);
            margin-right: p2r(8);
          }
        }
      }

      .mat-expansion-panel-spacing:first-child {
        margin-top: p2r(16);
      }

      .mat-expansion-panel-spacing:last-child {
        margin-bottom: p2r(16);
      }

      mat-expansion-panel-header:has(.mat-expansion-panel-header-title spk-icon)
        + .mat-expansion-panel-content
        .mat-expansion-panel-body {
        padding: p2r(0 36 12);
      }

      .mat-expansion-panel-body {
        padding: p2r(0 16 16);
        color: var(--base-level-60);
      }

      .mat-expansion-panel:not(.mat-expanded),
      .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
        border-radius: var(--shape-2);
      }
    }
  }
}
