$matChipTheme: true !default;

@if $matChipTheme == true and $initMaterial == true {
  body {
    .mat-mdc-chip {
      --mdc-chip-elevated-container-color: var(--grey-50);
      --mdc-chip-label-text-color: var(--base-level-60);

      --primary-bg: #{light-dark(var(--primary-50), var(--primary-950))};
      --accent-bg: #{light-dark(var(--accent-50), var(--accent-950))};
      --tertiary-bg: #{light-dark(var(--tertiary-50), var(--tertiary-950))};
      --warn-bg: #{light-dark(var(--warn-50), var(--warn-950))};
      --success-bg: #{light-dark(var(--success-50), var(--success-950))};

      display: inline-grid;
      grid-template-areas: 'text';
      justify-content: center;
      align-items: center;
      padding: p2r(0 12);
      height: p2r(32);
      border: 0;
      border-radius: 99px;

      .mdc-evolution-chip__text-label {
        grid-area: text;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: p2r(4);
      }

      .mat-mdc-chip-focus-overlay {
        display: none;
      }

      &.small {
        --mdc-chip-label-text-line-height: #{p2r(14)};
        --mdc-chip-label-text-size: #{p2r(12)};

        padding: p2r(0 8);
        height: p2r(20);

        spk-icon {
          font-size: p2r(16);
        }
      }

      .mdc-evolution-chip__action {
        padding: 0;
        &:before {
          display: none;
        }
      }

      &.mat-primary {
        --mdc-chip-label-text-color: var(--primary-500);

        background-color: var(--primary-bg);
      }

      &.mat-accent {
        --mdc-chip-label-text-color: var(--accent-500);

        background-color: var(--accent-bg);
      }

      &.mat-warning {
        --mdc-chip-label-text-color: var(--tertiary-500);

        background-color: var(--tertiary-bg);
      }

      &.mat-success {
        --mdc-chip-label-text-color: var(--success-500);

        background-color: var(--success-bg);
      }

      &.mat-warn {
        --mdc-chip-label-text-color: var(--warn-500);

        background-color: var(--warn-bg);
      }

      &[disabled] {
        background-color: var(--base-level-30);
        opacity: 0.5;

        .mdc-evolution-chip__text-label {
          color: var(--base-level-50);
        }
      }

      // &.mat-mdc-standard-chip,
      // &.mat-mdc-standard-chip.mdc-evolution-chip--disabled,
      // &.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mdc-evolution-chip--disabled,
      // &.mat-mdc-standard-chip.mat-mdc-chip-highlighted {
      // }
    }
  }
}
