$matFormFieldTheme: true !default;

@if $matFormFieldTheme == true and $initMaterial == true {
  body {
    --mat-input-height: #{p2r(43)};
    --mat-form-field-error-text-color: var(--warn-500);

    .mat-mdc-form-field {
      $label-height: p2r(21);

      padding-top: $label-height;

      &.small {
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
          .mat-mdc-form-field-flex {
            min-height: p2r(33);

            spk-icon {
              color: var(--base-level-60);
              font-size: p2r(16);
              padding: 0;
            }
          }
        }
      }

      &[read-only],
      &[read-only='true'],
      &[readonly='true'],
      &[readonly],
      &.readonly {
        cursor: not-allowed;
        pointer-events: none;
        user-select: none;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &:hover,
        &:focus {
          user-select: none;
        }

        .mdc-floating-label,
        .mat-mdc-form-field-infix {
          opacity: 0.4;
        }

        .mat-mdc-form-field-icon-prefix,
        .mat-mdc-form-field-icon-suffix {
          spk-icon {
            opacity: 0.6;
          }
        }

        mat-label,
        label,
        .mdc-floating-label,
        .mat-mdc-form-field-icon-suffix,
        .mat-mdc-form-field-icon-prefix,
        .mat-mdc-form-field-icon-prefix > *,
        .mat-mdc-form-field-icon-suffix > *,
        > * {
          pointer-events: none;
          user-select: none;
        }
      }

      &:not(:has(.mdc-notched-outline__notch label)) {
        padding-top: 0;
      }

      &.ng-dirty.ng-invalid {
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
          .mat-mdc-form-field-flex {
            border-color: var(--warn-500);
          }
        }
      }

      &.mat-focused {
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
          .mat-mdc-form-field-flex {
            border-color: var(--accent-500);

            input {
              opacity: 1;
            }
          }
        }
      }

      &.mat-mdc-form-field-type-mat-select {
        .mat-mdc-form-field-icon-suffix {
          transform: rotate(0deg);
          transform-origin: center;
          transition: transform 120ms linear;
        }

        &.mat-focused {
          .mat-mdc-form-field-icon-suffix {
            transform: rotate(180deg);
          }
        }
      }

      &.mat-form-field-disabled {
        cursor: not-allowed;

        input {
          cursor: not-allowed;
        }

        .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
          opacity: 0.5;
        }
      }

      .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
        height: auto;
        min-height: var(--custom-mat-form-field-height);
        padding: 0;

        .mat-mdc-form-field-flex {
          height: auto;
          min-height: var(--mat-input-height);
          align-items: center;
          border: 1px solid var(--base-level-40);
          border-radius: var(--shape-2);
          padding: p2r(0 12);

          spk-icon {
            color: var(--base-level-60);
            font-weight: 600;
            font-size: p2r(16);
            padding: 0;
          }

          .mat-mdc-form-field-text-prefix,
          .mat-mdc-form-field-icon-prefix {
            order: 1;
            padding: 0;

            color: var(--base-level-60R);
          }

          &:has(.mat-mdc-form-field-icon-prefix) {
            .mat-mdc-form-field-infix {
              padding-left: p2r(8);
            }
          }
          &:has(.mat-mdc-form-field-icon-suffix) {
            .mat-mdc-form-field-infix {
              padding-right: p2r(8);
            }
          }

          .mat-mdc-form-field-infix {
            order: 5;
            padding: 0;
            display: flex;
            height: var(--custom-mat-form-field-height);
            min-height: var(--custom-mat-form-field-height);
            align-items: center;

            &:has(textarea) {
              height: auto;
              min-height: initial;
            }

            textarea {
              margin: p2r(8 0);
              color: var(--base-level-60);
              min-height: var(--mat-input-height);
              resize: none;
            }

            input {
              color: var(--base-level-60);
            }

            input::placeholder {
              opacity: 0.7;
              font-size: p2r(14);
              color: var(--base-level-60);
            }

            input[type='number'] {
              appearance: textfield;
              text-align: right;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                display: none;
              }
            }
          }

          .mat-mdc-form-field-text-suffix,
          .mat-mdc-form-field-icon-suffix {
            order: 10;
            padding: 0;
            color: var(--base-level-60R);
          }
        }

        .mat-mdc-form-field-infix {
          padding: p2r(8 0);
        }

        .mdc-floating-label {
          top: -$label-height;
          left: 0;
          height: $label-height;
          line-height: $label-height;
          position: absolute;
          display: inline-flex;
          font-size: p2r(14);
          transform: none !important;
          color: var(--custom-mat-label-color);

          .mat-mdc-form-field-required-marker {
            order: 1;
            margin-right: 2px;
          }

          mat-label {
            display: inline-flex;
            gap: p2r(4);
            align-items: center;
            order: 2;
          }

          spk-icon {
            font-size: p2r(16);
            font-weight: 400;
            color: var(--base-level-60);
          }
        }

        .mdc-notched-outline {
          width: 100%;
        }

        .mdc-notched-outline__leading,
        .mdc-notched-outline__trailing {
          border: 0;
        }

        .mdc-notched-outline__notch,
        .mdc-notched-outline__leading,
        .mdc-notched-outline__trailing {
          width: 0;
          border-color: transparent !important;
        }
      }

      .mat-mdc-form-field-hint-wrapper,
      .mat-mdc-form-field-error-wrapper {
        padding: 0;

        .mat-mdc-form-field-hint {
          color: var(--base-level-60R);
        }
      }
    }
  }
}
