body.dark,
body {
  --mat-stepper-background-color: transparent;
  --mat-stepper-header-edit-state-icon-background-color: var(--primary-500);
  --mat-stepper-header-edit-state-icon-foreground-color: #fff;
  --mat-stepper-header-selected-state-icon-background-color: var(--primary-500);
  --mat-stepper-header-selected-state-icon-foreground-color: #fff;
  --mat-stepper-header-icon-foreground-color: #fff;
  --mat-stepper-header-icon-background-color: var(--base-level-60R);
  --mat-stepper-container-color: transparent;

  mat-stepper {
    position: relative;
    overflow: hidden;

    .mat-step-header {
      box-sizing: border-box;
    }

    .mat-vertical-stepper-header {
      height: p2r(48);
      padding: p2r(0 16);
    }

    .mat-vertical-content {
      padding: p2r(32);
    }

    .mat-vertical-content-container {
      margin-left: p2r(28);
    }
  }
}
