$matButtonTheme: true !default;

@if $matButtonTheme == true and $initMaterial == true {
  body {
    .button-group {
      button.mdc-button.mat-mdc-button-base {
        &:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
        }

        &[disabled] {
          opacity: 1;

          spk-icon,
          .mat-icon {
            opacity: 0.5;
          }
        }
      }
    }

    &.dark .mat-mdc-icon-button.mat-mdc-button-base,
    .mat-mdc-icon-button.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: #{p2r(40)};
      --mdc-icon-button-icon-size: #{p2r(16)};

      &.small {
        --mdc-icon-button-state-layer-size: #{p2r(32)};
      }

      padding: p2r(8);
      background: transparent;
      border: 1px solid var(--base-level-40);
      border-radius: var(--shape-2);
      color: var(--base-level-60);
      transition: color 120ms linear;

      &:hover {
        color: var(--base-level-70);
      }

      .mat-mdc-button-persistent-ripple {
        border-radius: inherit;
      }
    }

    .mdc-button {
      .mdc-button__label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: p2r(8);
        font: var(--paragraph-20B);
        flex-wrap: nowrap;
        white-space: nowrap;
        font-weight: 500;
      }
    }

    .mdc-icon-button.mat-mdc-button-base,
    .mdc-button.mat-mdc-button-base {
      --mdc-text-button-container-shape: var(--shape-2);
      --mdc-text-button-container-height: #{p2r(43)};
      --mdc-protected-button-container-shape: var(--shape-2);
      --mdc-protected-button-container-height: #{p2r(43)};
      --mdc-outlined-button-container-shape: var(--shape-2);
      --mdc-outlined-button-container-height: #{p2r(43)};
      --mdc-filled-button-container-shape: var(--shape-2);
      --mdc-filled-button-container-height: #{p2r(43)};

      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: p2r(8);
      position: relative;
      padding: p2r(0 12);
      transition: color 80ms linear;
      min-width: auto;
      border: 1px solid var(--base-level-40);

      &.disable-hover {
        pointer-events: none;
      }

      &.mdc-button--unelevated,
      &.mdc-button--raised {
        padding: p2r(0 13);
      }

      .mat-mdc-button-touch-target {
        top: 50%;
        height: p2r(48);
        left: 50%;
        width: p2r(48);
        transform: translate(-50%, -50%);
      }

      &.loader {
        --mat-button-loader-color: var(--base-level-60);

        width: inherit;
        height: var(--mdc-text-button-container-height);

        &::before {
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border: 2px solid var(--mat-button-loader-color);
          border-bottom-color: transparent;
          height: p2r(24);
          width: p2r(24);
        }

        spk-icon,
        .mat-icon,
        .mdc-button__label {
          opacity: 0;
        }
      }

      [small],
      &.small {
        --mdc-text-button-container-height: #{p2r(33)};
        --mdc-protected-button-container-height: #{p2r(33)};
        --mdc-outlined-button-container-height: #{p2r(33)};
        --mdc-filled-button-container-height: #{p2r(33)};

        padding: p2r(0 8);

        &.mdc-button--unelevated,
        &.mdc-button--raised {
          padding: p2r(0 9);
        }

        &.loader {
          width: inherit;
          height: var(--mdc-text-button-container-height);

          &::before {
            height: p2r(20);
            width: p2r(20);
          }

          .mdc-button__label {
            opacity: 0;
          }
        }

        .mat-mdc-button-touch-target {
          top: 50%;
          height: p2r(38);
          left: 50%;
          width: p2r(38);
          transform: translate(-50%, -50%);
        }

        .mdc-button__label {
          font: var(--paragraph-30);
        }

        > spk-icon,
        > .mat-icon {
          font-size: p2r(16);
        }
      }

      &.active {
        .mat-mdc-button-persistent-ripple::before {
          opacity: 0.04;
        }
      }

      > spk-icon,
      > .mat-icon {
        margin: 0;
        font-size: p2r(18);
        width: 1em;
        height: 1em;
        line-height: 1em;

        &[suffix] {
          order: 999;
        }
      }

      .mdc-button__label:empty {
        display: none;
      }

      &:hover {
        color: var(--base-level-70);
      }

      &[disabled] {
        opacity: 0.5;
      }

      &[read-only],
      &[read-only='true'],
      &[readonly='true'],
      &[readonly],
      &.readonly {
        pointer-events: none;
        user-select: none;
      }
    }

    .mdc-icon-button.mat-mdc-button-base {
      padding: p2r(0 8);

      &[small],
      &.small {
        padding: p2r(0 6);
      }
    }

    .mdc-icon-button.mat-mdc-button-base,
    .mdc-button.mat-mdc-button-base {
      // Base (Colors)
      --btn-base-color: var(--base-level-70);
      --btn-base-bg: var(--base-level-10);
      --btn-base-bg-hover: var(--base-level-20);

      --btn-base-primary-color: var(--primary-500);

      --btn-base-accent-color: var(--accent-500);

      --btn-base-tertiary-color: var(--tertiary-500);

      --btn-base-warn-color: var(--warn-500);

      --btn-base-success-color: var(--success-500);

      // Stroked (Colors)
      --btn-stroked-color: var(--base-level-70);
      --btn-stroked-bg: var(--base-level-20);
      --btn-stroked-bg-hover: var(--base-level-30);

      --btn-stroked-primary-color: var(--primary-500);
      --btn-stroked-primary-bg: var(--primary-level-20);
      --btn-stroked-primary-bg-hover: var(--primary-level-30);
      --btn-stroked-primary-border-color: var(--primary-level-40);

      --btn-stroked-accent-color: var(--accent-500);
      --btn-stroked-accent-bg: var(--accent-level-20);
      --btn-stroked-accent-bg-hover: var(--accent-level-30);
      --btn-stroked-accent-border-color: var(--accent-level-40);

      --btn-stroked-tertiary-color: var(--tertiary-500);
      --btn-stroked-tertiary-bg: var(--tertiary-level-20);
      --btn-stroked-tertiary-bg-hover: var(--tertiary-level-30);
      --btn-stroked-tertiary-border-color: var(--tertiary-level-40);

      --btn-stroked-warn-color: var(--warn-500);
      --btn-stroked-warn-bg: var(--warn-level-20);
      --btn-stroked-warn-bg-hover: var(--warn-level-30);
      --btn-stroked-warn-border-color: var(--warn-level-40);

      --btn-stroked-success-color: var(--success-500);
      --btn-stroked-success-bg: var(--success-level-20);
      --btn-stroked-success-bg-hover: var(--success-level-30);
      --btn-stroked-success-border-color: var(--success-level-40);

      // Flat (Colors)
      --btn-flat-color: #fff;
      --btn-flat-bg: #{light-dark(var(--grey-600), var(--grey-600))};
      --btn-flat-bg-hover: #{light-dark(var(--grey-700), var(--grey-700))};

      --btn-flat-primary-color: var(--primary-contrast-500);
      --btn-flat-primary-bg: var(--primary-500);
      --btn-flat-primary-bg-hover: var(--primary-600);

      --btn-flat-accent-color: var(--accent-contrast-500);
      --btn-flat-accent-bg: var(--accent-500);
      --btn-flat-accent-bg-hover: var(--accent-600);

      --btn-flat-tertiary-color: var(--tertiary-contrast-500);
      --btn-flat-tertiary-bg: var(--tertiary-500);
      --btn-flat-tertiary-bg-hover: var(--tertiary-600);

      --btn-flat-warn-color: var(--warn-contrast-500);
      --btn-flat-warn-bg: var(--warn-500);
      --btn-flat-warn-bg-hover: var(--warn-600);

      --btn-flat-success-color: var(--success-contrast-500);
      --btn-flat-success-bg: var(--success-500);
      --btn-flat-success-bg-hover: var(--success-600);

      // Raised (Gradients)
      --btn-raised-color: var(--grey-contrast-900);
      --btn-raised-bg: var(--base-gradient-60);
      --btn-raised-bg-hover: var(--base-gradient-70);

      --btn-raised-primary-color: var(--primary-contrast-500);
      --btn-raised-primary-bg: var(--primary-gradient-20);
      --btn-raised-primary-bg-hover: var(--primary-gradient-30);

      --btn-raised-accent-color: var(--accent-contrast-500);
      --btn-raised-accent-bg: var(--accent-gradient-20);
      --btn-raised-accent-bg-hover: var(--accent-gradient-30);

      --btn-raised-tertiary-color: var(--tertiary-contrast-500);
      --btn-raised-tertiary-bg: var(--tertiary-gradient-20);
      --btn-raised-tertiary-bg-hover: var(--tertiary-gradient-30);

      --btn-raised-warn-color: var(--warn-contrast-500);
      --btn-raised-warn-bg: var(--warn-gradient-20);
      --btn-raised-warn-bg-hover: var(--warn-gradient-30);

      --btn-raised-success-color: var(--success-contrast-500);
      --btn-raised-success-bg: var(--success-gradient-20);
      --btn-raised-success-bg-hover: var(--success-gradient-30);

      background: var(--btn-base-bg);
      color: var(--btn-base-color);

      spk-icon,
      .mat-icon {
        color: var(--btn-base-color);
      }

      &:hover {
        background: var(--btn-base-bg-hover);
      }

      // Base
      &.mat-primary {
        background: var(--btn-base-primary-bg);

        spk-icon,
        .mat-icon {
          color: var(--btn-base-primary-color);
        }

        &:hover {
          background: var(--btn-base-primary-bg-hover);
        }
      }

      &.mat-accent {
        background: var(--btn-base-accent-bg);

        spk-icon,
        .mat-icon {
          color: var(--btn-base-accent-color);
        }

        &:hover {
          background: var(--btn-base-accent-bg-hover);
        }
      }

      &.mat-tertiary {
        background: var(--btn-base-tertiary-bg);

        spk-icon,
        .mat-icon {
          color: var(--btn-base-tertiary-color);
        }

        &:hover {
          background: var(--btn-base-tertiary-bg-hover);
        }
      }

      &.mat-warn {
        background: var(--btn-base-warn-bg);

        spk-icon,
        .mat-icon {
          color: var(--btn-base-warn-color);
        }

        &:hover {
          background: var(--btn-base-warn-bg-hover);
        }
      }

      &.mat-success {
        background: var(--btn-base-success-bg);

        spk-icon,
        .mat-icon {
          color: var(--btn-base-success-color);
        }

        &:hover {
          background: var(--btn-base-success-bg-hover);
        }
      }

      // Stroked
      &.mdc-icon-button,
      &.mdc-button--outlined {
        transition: color 80ms linear;
        background: var(--btn-stroked-bg);
        color: var(--btn-stroked-color);

        &:hover {
          background: var(--btn-stroked-bg-hover);
        }

        &.mat-primary {
          background: var(--btn-stroked-primary-bg);
          border-color: var(--btn-stroked-primary-border-color);

          spk-icon,
          .mat-icon {
            color: var(--btn-stroked-primary-color);
          }

          &:hover {
            background: var(--btn-stroked-primary-bg-hover);
          }
        }

        &.mat-accent {
          background: var(--btn-stroked-accent-bg);
          border-color: var(--btn-stroked-accent-border-color);

          spk-icon,
          .mat-icon {
            color: var(--btn-stroked-accent-color);
          }

          &:hover {
            background: var(--btn-stroked-accent-bg-hover);
          }
        }

        &.mat-tertiary {
          background: var(--btn-stroked-tertiary-bg);
          border-color: var(--btn-stroked-tertiary-border-color);

          spk-icon,
          .mat-icon {
            color: var(--btn-stroked-tertiary-color);
          }

          &:hover {
            background: var(--btn-stroked-tertiary-bg-hover);
          }
        }

        &.mat-warn {
          background: var(--btn-stroked-warn-bg);
          border-color: var(--btn-stroked-warn-border-color);

          spk-icon,
          .mat-icon {
            color: var(--btn-stroked-warn-color);
          }

          &:hover {
            background: var(--btn-stroked-warn-bg-hover);
          }
        }

        &.mat-success {
          background: var(--btn-stroked-success-bg);
          border-color: var(--btn-stroked-success-border-color);

          spk-icon,
          .mat-icon {
            color: var(--btn-stroked-success-color);
          }

          &:hover {
            background: var(--btn-stroked-success-bg-hover);
          }
        }
      }

      // Flat
      &.mdc-button--unelevated {
        color: var(--btn-flat-color);
        background: var(--btn-flat-bg);
        border: 0;

        spk-icon,
        .mat-icon {
          color: var(--btn-flat-color);
        }

        &.loader {
          --mat-button-loader-color: var(--base-level-10);
        }

        &:hover {
          background: var(--btn-flat-bg-hover);
        }

        &.mat-primary {
          color: var(--btn-flat-primary-color);
          background: var(--btn-flat-primary-bg);

          &:hover {
            background: var(--btn-flat-primary-bg-hover);
          }
        }

        &.mat-accent {
          color: var(--btn-flat-accent-color);
          background: var(--btn-flat-accent-bg);

          &:hover {
            background: var(--btn-flat-accent-bg-hover);
          }
        }

        &.mat-tertiary {
          color: var(--btn-flat-tertiary-color);
          background: var(--btn-flat-tertiary-bg);

          &:hover {
            background: var(--btn-flat-tertiary-bg-hover);
          }
        }

        &.mat-warn {
          color: var(--btn-flat-warn-color);
          background: var(--btn-flat-warn-bg);

          &:hover {
            background: var(--btn-flat-warn-bg-hover);
          }
        }

        &.mat-success {
          color: var(--btn-flat-success-color);
          background: var(--btn-flat-success-bg);

          &:hover {
            background: var(--btn-flat-success-bg-hover);
          }
        }
      }

      // Raised
      &.mdc-button--raised {
        color: var(--btn-raised-color);
        background: var(--btn-raised-bg);
        border: 0;
        box-shadow: none;

        spk-icon,
        .mat-icon {
          color: var(--btn-raised-color);
        }

        &.loader {
          --mat-button-loader-color: var(--base-level-10);
        }

        &:hover {
          background: var(--btn-raised-bg-hover);
        }

        &.mat-primary {
          color: var(--btn-raised-primary-color);
          background: var(--btn-raised-primary-bg);

          &:hover {
            background: var(--btn-raised-primary-bg-hover);
          }
        }

        &.mat-accent {
          color: var(--btn-raised-accent-color);
          background: var(--btn-raised-accent-bg);

          &:hover {
            background: var(--btn-raised-accent-bg-hover);
          }
        }

        &.mat-tertiary {
          color: var(--btn-raised-tertiary-color);
          background: var(--btn-raised-tertiary-bg);

          &:hover {
            background: var(--btn-raised-tertiary-bg-hover);
          }
        }

        &.mat-warn {
          color: var(--btn-raised-warn-color);
          background: var(--btn-raised-warn-bg);

          &:hover {
            background: var(--btn-raised-warn-bg-hover);
          }
        }

        &.mat-success {
          color: var(--btn-raised-success-color);
          background: var(--btn-raised-success-bg);

          &:hover {
            background: var(--btn-raised-success-bg-hover);
          }
        }
      }
    }
  }
}
