$matMenuTheme: true !default;

@if $matMenuTheme == true {
  html body,
  html body.dark {
    --mat-menu-container-shape: var(--shape-2);
    --mat-menu-divider-bottom-spacing: 0;
    --mat-menu-divider-top-spacing: 0;
    --mat-menu-item-spacing: #{p2r(6)};
    --mat-menu-item-icon-size: #{p2r(16)};
    --mat-menu-item-leading-spacing: #{p2r(8)};
    --mat-menu-item-trailing-spacing: #{p2r(8)};
    --mat-menu-item-with-icon-leading-spacing: #{p2r(8)};
    --mat-menu-item-with-icon-trailing-spacing: #{p2r(8)};
    --mat-menu-item-hover-state-layer-color: var(--base-level-30);

    // Custom variables
    --mat-menu-item-shape: var(--shape-2);
    --mat-menu-title-color: var(--base-level-60);
    --mat-menu-hotkey-color: var(--base-level-60);
  }

  body {
    [mat-menu-title] {
      font: var(--paragraph-30);
      color: var(--mat-menu-title-color);
      padding: p2r(8);
      margin: p2r(0 8);
      width: calc(100% - 16px);
      user-select: none;
    }

    .mat-mdc-menu-item {
      min-height: p2r(32);
      margin: p2r(0 8);
      width: calc(100% - #{p2r(16)});
      border-radius: var(--mat-menu-item-shape);

      &[disabled] {
        opacity: 0.3;
      }

      &.secondary {
        color: var(--base-level-60);
      }

      .mat-icon {
        font-size: p2r(16);
      }

      .mat-mdc-menu-item-text {
        --mat-menu-item-label-text-weight: 500;
      }

      &:after {
        content: attr(mat-menu-hotkey);
        display: inline-flex;
        color: var(--mat-menu-hotkey-color);
        font: var(--paragraph-30);
      }
    }

    .mat-mdc-menu-panel {
      background-color: var(--base-level-10);
      border: 1px solid var(--base-level-40);

      &.mat-elevation-z8 {
        box-shadow: none;
      }

      &.mat-menu-above {
        margin-bottom: p2r(8);
      }

      &.mat-menu-below {
        margin-top: p2r(8);
      }

      mat-divider {
        background-color: var(--base-level-40);
        margin: p2r(8 0);
        border: 0;
        height: 1px;
        width: 100%;
      }
    }

    .mat-mdc-menu-content {
      padding: p2r(8 0);
      position: relative;
      min-width: p2r(180);

      p {
        font: var(--paragraph-30);
        color: var(--base-level-60);
        padding: p2r(4 12);
      }

      .mat-divider {
        margin: p2r(8 0);
      }
    }
  }
}
