$matTabTheme: true !default;

@if $matTabTheme == true {
  body.dark,
  body {
    .mat-mdc-tab-group,
    .mat-mdc-tab-nav-bar {
      flex: 1 0;

      .mat-mdc-tab-header {
        .mdc-tab {
          .mdc-tab__ripple {
            display: none;
          }
        }

        .mat-mdc-tab-links {
          height: calc(100% - 1px);
          border-bottom: 1px solid var(--base-level-40);
        }
      }

      .mat-mdc-tab-list {
        border-bottom: 1px solid var(--base-level-40);
      }

      .mat-mdc-tab-links {
        gap: p2r(24);
        padding: p2r(0 8);
      }

      &.spaced {
        .mat-mdc-tab-labels {
          padding: p2r(0 24);
          gap: p2r(16);
        }
      }

      .mdc-tab {
        font: var(--paragraph-30);
        min-width: 0;
        padding: 0;

        .mdc-tab__text-label {
          color: var(--base-level-60);
        }

        &:hover .mdc-tab__text-label {
          color: var(--base-level-70);
        }

        .mat-ripple,
        .mdc-tab__ripple {
          display: none;
        }
      }

      .mdc-tab__text-label {
        display: flex;
        gap: p2r(8);

        span {
          @include breakpoint(-milli) {
            display: none;
          }
        }
      }
    }
  }
}
