$matCardSparkleTheme: true !default;

@if $matCardSparkleTheme == true {
  body {
    --mat-card-container-shape: var(--shape-2);
    --mdc-elevated-card-container-color: var(--base-level-10);

    .mat-mdc-card {
      position: relative;
      background-color: var(--base-level-10);
      border: 1px solid var(--base-level-30);
      border-radius: var(--mat-card-container-shape);
      box-shadow: var(--box-shadow-10);

      &:after {
        display: none;
      }
    }
  }
}
