$matSelectTheme: true !default;

@if $matSelectTheme == true {
  body.dark,
  body {
    .mat-mdc-select {
      .mat-mdc-select-arrow-wrapper {
        display: none;
      }

      .mat-mdc-select-value {
        color: var(--base-level-60);
      }
      
      .mat-mdc-select-placeholder {
        color: var(--base-level-60R);
      }
    }
    .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
    .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
      color: var(--success-500);
    }
  }

  body.dark,
  body.dark .cdk-overlay-pane,
  body .cdk-overlay-pane,
  body {
    div.mat-mdc-select-panel {
      padding: p2r(8);
      border-radius: var(--shape-2);
      background-color: var(--base-level-10);
      border: 1px solid var(--base-level-40);
      box-shadow: var(--box-shadow-20);
      transform: translateY(#{p2r(8)});
      display: flex;
      flex-direction: column;
      gap: p2r(4);

      .mat-mdc-option {
        min-height: p2r(32);
        border-radius: var(--shape-2);
        padding: p2r(0 8);
      }
    }
  }
}
