$matListTheme: true !default;

@if $matListTheme == true {
  body.dark,
  body {
    --list-item-height: #{p2r(38)};
    --list-shape: var(--shape-2);
    --list-selected-bg: var(--base-level-10);
    --list-focused-bg: var(--base-level-10);
    --list-selected-shadow: var(--box-shadow-20);

    .mdc-list {
      width: 100%;
      padding: p2r(20 16);
      gap: p2r(8);
      display: flex;
      flex-direction: column;
      overflow: hidden;

      > h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: var(--base-level-60R);
        margin: p2r(0 12);
        font: var(--paragraph-30);
        line-height: p2r(20);
      }

      .mdc-list-item {
        border-radius: var(--list-shape);
        padding: p2r(0 12);
        height: var(--list-item-height);
        font: var(--paragraph-30);

        &:hover {
          .mdc-list-item__primary-text {
            color: var(--base-level-70);

            .mat-icon {
              color: var(--primary-500);
            }
          }
        }

        &:before {
          display: none;
        }

        &.mdc-list-item--focused,
        &.mdc-list-item--selected {
          background-color: var(--list-selected-bg);
          box-shadow: var(--list-selected-shadow);

          .mdc-list-item__primary-text {
            color: var(--base-level-70);

            .mat-icon {
              color: var(--primary-500);
            }
          }
        }

        .mdc-list-item__primary-text.mat-icon,
        .mdc-list-item__primary-text {
          transition: color 125ms linear;
        }

        .mat-mdc-list-item-unscoped-content {
          display: flex;
          align-items: center;
          gap: p2r(12);
          color: var(--base-level-60);
        }
      }
    }
  }
}
