@use 'sass:map';
@use '../../variables' as var;

@function color($type: primary, $level: 500) {
  $colorPalettes: map.get(var.$light-theme, 'color');

  @if ($colorPalettes == null) {
    @debug 'Theme: ' + var.$light-theme;
    @debug 'Color palettes: ' + $colorPalettes;
    @error 'No color palettes found in theme.';
  }

  $colorPalette: map.get($colorPalettes, $type);

  @if ($colorPalette == null) {
    @debug 'Palette name: ' + $type;
    @debug 'Color palette: ' + $colorPalette;
    @error 'No color palette found in theme.';
  }

  $color: map.get($colorPalette, $level);

  @if ($color == null) {
    @debug 'Color: ' + $color;
    @debug 'Level: ' + $level;
    @error 'No color found in theme.';
  }

  @return $color;
}

@function color-contrast($type: primary, $level: 500) {
  $contrastList: color($type, contrast);

  @if ($contrastList == null) {
    @debug 'Contrast list: ' + $contrastList;
    @error 'No contrast list found in theme.';
  }

  $contrast: map.get($contrastList, $level);

  @if ($contrast == null) {
    @debug 'Contrast: ' + $contrast;
    @debug 'Level: ' + $level;
    @error 'No contrast found in theme.';
  }

  @return $contrast;
}
