// @use 'index' as * with (
//   $initMaterial: false,
// );

@use '../../sparkle-ui/styles/index.scss' as * with (
  $initMaterial: false,
  $sparkleButton: true,
  $sparkleToggle: true,
  $sparkleProgressBar: true,
  $sparkleCheckbox: true,
  $sparkleAlert: true,
  $sparkleMenu: true,
  $sparkleDivider: true,
  $sparkleIcon: true,
  $sparkleChip: true,
  $sparkleFormField: true,
  $sparkleRadio: true,
  $sparkleList: true,
  $sparkleSidenav: true,
  $sparkleButtonGroup: true,
  $sparkleRangeSlider: true,
  $sparkleTooltip: true,
  $sparkleSelect: true,
  $sparkleCard: true,
  // $sparkleTabs: true,
  // $sparkleDialog: true,
  // $sparkleDatepicker: true
);
