@use '../../ship-ui/styles/index.scss' with (
  $useApexcharts: true,
  $useInterTight: true,
  $shipFormFieldShadow: true,
  $shipButtonShadow: true
);

@use '../../ship-ui/styles/helpers.scss' as *;

// Only for styling projected content
app-property-viewer {
  section {
    display: flex;
    flex-direction: column;
    gap: p2r(6);
    padding: p2r(14) p2r(16);
    background-color: var(--base-2);
    border-radius: var(--shape-2);
  }

  h4 {
    font: var(--paragraph-20B);
    color: var(--base-12);
    margin: 0;
  }

  p {
    font: var(--paragraph-30);
    line-height: 1.6;
    color: var(--base-9);
    margin: 0;
  }

  code {
    font: var(--code-30);
    color: var(--base-12);
    background-color: var(--base-4);
    padding: p2r(2 5);
    border-radius: var(--shape-1);
  }

  b,
  strong {
    color: var(--base-11);
  }
}

html.sh-config-open,
body.sh-config-open {
  overflow: hidden;
  height: 100%;
  overscroll-behavior: none;
}
