@use '../../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: block;
  width: 100%;
  position: relative;

  &.hidden {
    display: none;
  }

  &.small {
    pre {
      code {
        font-size: p2r(10);
      }
    }
  }
}

button {
  position: absolute;
  top: p2r(6);
  right: p2r(6);
}

pre {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  overflow: auto;

  code {
    border-radius: var(--shape-2);
  }
}
