:host {
  display: block;
  padding: 60px;
}

spk-list {
  width: 500px;
  gap: 8px;

  spk-checkbox {
    margin-left: auto;
  }
}

.example {
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column sizing as needed */
  gap: 10px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: move; /* Indicate draggability */
}
