<spk-list>
  @for (todo of todos(); track $index) {
    <div spk-action-item [class.active]="todo.done" (click)="toggleTodo($index)">
      <spk-checkbox [class.active]="todo.done" class="primary raised" />
      {{ todo.title }}
    </div>
  }
</spk-list>

<div class="example">
  <spk-list class="primary" spkSortable (afterDrop)="reorder($event)">
    @for (item of items(); track $index) {
      <div [attr.draggable]="true" spk-list-item>
        <spk-icon>circle</spk-icon>
        {{ item.header }} - {{ item.id }}
      </div>
    }
  </spk-list>
</div>
