<section>
  <div class="example-label">Basic</div>
  <ul>
    <li>
      <spk-progress-bar class="indeterminate" />
    </li>
    <li>
      <spk-progress-bar class="indeterminate accent" />
    </li>
    <li>
      <spk-progress-bar class="indeterminate warn" />
    </li>
    <li>
      <spk-progress-bar class="indeterminate error" />
    </li>
    <li>
      <spk-progress-bar class="indeterminate success" />
    </li>
    <li>
      <spk-progress-bar [value]="0" />
    </li>
    <li>
      <spk-progress-bar [value]="25" class="primary" />
    </li>
    <li>
      <spk-progress-bar [value]="50" class="accent" />
    </li>
    <li>
      <spk-progress-bar [value]="75" class="warn" />
    </li>
    <li>
      <spk-progress-bar [value]="80" class="error" />
    </li>
    <li>
      <spk-progress-bar [value]="90" class="success" />
    </li>
  </ul>
</section>

<section>
  <div class="example-label">Outlined</div>
  <ul>
    <li>
      <spk-progress-bar class="outlined indeterminate" />
    </li>
    <li>
      <spk-progress-bar class="outlined indeterminate accent" />
    </li>
    <li>
      <spk-progress-bar class="outlined indeterminate warn" />
    </li>
    <li>
      <spk-progress-bar class="outlined indeterminate error" />
    </li>
    <li>
      <spk-progress-bar class="outlined indeterminate success" />
    </li>
    <li>
      <spk-progress-bar [value]="0" class="outlined" />
    </li>
    <li>
      <spk-progress-bar [value]="25" class="outlined primary" />
    </li>
    <li>
      <spk-progress-bar [value]="50" class="outlined accent" />
    </li>
    <li>
      <spk-progress-bar [value]="75" class="outlined warn" />
    </li>
    <li>
      <spk-progress-bar [value]="80" class="outlined error" />
    </li>
    <li>
      <spk-progress-bar [value]="90" class="outlined success" />
    </li>
  </ul>
</section>

<section>
  <div class="example-label">Flat</div>
  <ul>
    <li>
      <spk-progress-bar class="flat indeterminate" />
    </li>
    <li>
      <spk-progress-bar class="flat indeterminate accent" />
    </li>
    <li>
      <spk-progress-bar class="flat indeterminate warn" />
    </li>
    <li>
      <spk-progress-bar class="flat indeterminate error" />
    </li>
    <li>
      <spk-progress-bar class="flat indeterminate success" />
    </li>
    <li>
      <spk-progress-bar [value]="0" class="flat" />
    </li>
    <li>
      <spk-progress-bar [value]="25" class="flat primary" />
    </li>
    <li>
      <spk-progress-bar [value]="50" class="flat accent" />
    </li>
    <li>
      <spk-progress-bar [value]="75" class="flat warn" />
    </li>
    <li>
      <spk-progress-bar [value]="80" class="flat error" />
    </li>
    <li>
      <spk-progress-bar [value]="90" class="flat success" />
    </li>
  </ul>
</section>

<section>
  <div class="example-label">Raised</div>
  <ul>
    <li>
      <spk-progress-bar class="raised indeterminate" />
    </li>
    <li>
      <spk-progress-bar class="raised indeterminate accent" />
    </li>
    <li>
      <spk-progress-bar class="raised indeterminate warn" />
    </li>
    <li>
      <spk-progress-bar class="raised indeterminate error" />
    </li>
    <li>
      <spk-progress-bar class="raised indeterminate success" />
    </li>
    <li>
      <spk-progress-bar [value]="0" class="raised" />
    </li>
    <li>
      <spk-progress-bar [value]="25" class="raised primary" />
    </li>
    <li>
      <spk-progress-bar [value]="50" class="raised accent" />
    </li>
    <li>
      <spk-progress-bar [value]="75" class="raised warn" />
    </li>
    <li>
      <spk-progress-bar [value]="80" class="raised error" />
    </li>
    <li>
      <spk-progress-bar [value]="90" class="raised success" />
    </li>
  </ul>
</section>

<!-- <sp-progress-spinner /> -->
