@use 'helpers' as *;

sh-sheet-select-editor {
  display: flex;
  min-width: 0;

  .shs-select-menu {
    flex: 1;
    min-width: 0;

    [trigger] {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .shs-select-current {
    flex: 1;
    min-width: 0;
    padding: 0 var(--pad-x-2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .shs-select-clear {
    color: var(--base-10);
  }
}
