<button shButton class="outlined">
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="outlined">
  <sh-icon>circle</sh-icon>
  Basic
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="outlined primary">
  <sh-icon>circle</sh-icon>
  Primary
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="outlined accent">
  <sh-icon>circle</sh-icon>
  Accent
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="outlined warn">
  <sh-icon>circle</sh-icon>
  Warn
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="outlined error">
  <sh-icon>circle</sh-icon>
  Error
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="outlined success">
  <sh-icon>circle</sh-icon>
  Success
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="outlined" disabled>
  <sh-icon>circle</sh-icon>
  Disabled
  <sh-icon>circle</sh-icon>
</button>

<a shButton class="outlined" href="https://www.google.com/" target="_blank">Link</a>
