<button sh-button class="outlined">
  <sh-icon>circle</sh-icon>
</button>

<button sh-button class="outlined">
  <sh-icon>circle</sh-icon>
  Basic
  <sh-icon>circle</sh-icon>
</button>

<button sh-button class="outlined primary">
  <sh-icon>circle</sh-icon>
  Primary
  <sh-icon>circle</sh-icon>
</button>

<button sh-button class="outlined accent">
  <sh-icon>circle</sh-icon>
  Accent
  <sh-icon>circle</sh-icon>
</button>

<button sh-button class="outlined warn">
  <sh-icon>circle</sh-icon>
  Warn
  <sh-icon>circle</sh-icon>
</button>

<button sh-button class="outlined error">
  <sh-icon>circle</sh-icon>
  Error
  <sh-icon>circle</sh-icon>
</button>

<button sh-button class="outlined success">
  <sh-icon>circle</sh-icon>
  Success
  <sh-icon>circle</sh-icon>
</button>

<button sh-button class="outlined" disabled>
  <sh-icon>circle</sh-icon>
  Disabled
  <sh-icon>circle</sh-icon>
</button>

<a sh-button class="outlined" href="https://www.google.com/" target="_blank">Link</a>
