<div>
  <h5>Signal radios (single)</h5>
  <p>
    Selected:
    <b>{{ selected() }}</b>
  </p>

  @for (value of values; track value) {
    <sh-radio
      [variant]="variant()"
      [color]="color()"
      [disabled]="disabled()"
      [checked]="selected() === value"
      (click)="selected.set(value)"
      name="signal-group">
      {{ value }}
    </sh-radio>
  }
</div>
<div>
  <h5>NgModel radios (grouped)</h5>
  <p>
    Selected:
    <b>{{ model() }}</b>
  </p>

  @for (value of values; track value) {
    <sh-radio [variant]="variant()" [color]="color()">
      {{ value }}
      <input type="radio" name="model-group" [disabled]="disabled()" [(ngModel)]="model" [value]="value" />
    </sh-radio>
  }
</div>

<div>
  <h5>Reactive form radios (grouped)</h5>
  <p>
    Form value:
    <b>{{ formCtrl.value }}</b>
  </p>

  @for (value of values; track value) {
    <sh-radio [variant]="variant()" [color]="color()">
      {{ value }}
      <input type="radio" name="form-group" [formControl]="formCtrl" [value]="value" />
    </sh-radio>
  }
</div>

<div>
  <h5>Signal form radios (grouped)</h5>
  <p>
    Form value:
    <b>{{ formFieldAsForm().value() }}</b>
  </p>

  @for (value of values; track value) {
    <sh-radio [variant]="variant()" [color]="color()">
      {{ value }}
      <input type="radio" [formField]="formFieldAsForm" [value]="value" />
    </sh-radio>
  }
</div>
