<sh-event-card class="raised">
  <h3>Default</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="raised primary">
  <h3>Primary</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="raised accent">
  <h3>Accent</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="raised warn">
  <h3>Warn</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="raised error">
  <h3>Error</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>

<sh-event-card class="raised success">
  <h3>Success</h3>
  <p>and description</p>
  <button shButton>Action 1</button>
</sh-event-card>
