<div class="board">
  <sh-card class="column">
    <h3>To Do</h3>
    <div [shSortable]="manager" sortableGroup="todo" class="sortable-list">
      @for (item of todoList(); track item; let i = $index) {
        <div class="item" draggable="true">
          {{ item }}
        </div>
      }
    </div>
  </sh-card>

  <sh-card class="column">
    <h3>In Progress</h3>
    <div [shSortable]="manager" sortableGroup="inProgress" class="sortable-list">
      @for (item of inProgressList(); track item; let i = $index) {
        <div class="item" draggable="true">
          {{ item }}
        </div>
      }
    </div>
  </sh-card>

  <sh-card class="column">
    <h3>Done</h3>
    <div [shSortable]="manager" sortableGroup="done" class="sortable-list">
      @for (item of doneList(); track item; let i = $index) {
        <div class="item" draggable="true">
          {{ item }}
        </div>
      }
    </div>
  </sh-card>
</div>
