@use 'helpers' as *;

:host {
  display: block;
}

.palettes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;

  h1 {
    margin: 0 0 20px;
  }

  h4 {
    margin: 0 0 20px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.palette {
  padding: 20px 0;
}

.colors {
  display: flex;
  height: 80px;
  overflow: hidden;
  border-radius: var(--shape-2);
  width: 700px;
}

.color {
  display: flex;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-weight: 600;
}

// Create classes based on this template
// 'palette-' + palette + '-l-' + color

@each $palette in $palettes {
  @each $color in $colors {
    // @warn 'palette-#{$palette}-#{$color}';
    .palette-#{$palette}-#{$color} {
      background-color: var(--#{$palette}-#{$color});
      color: var(--#{$palette}-contrast-#{$color});
    }
  }
}

$base-level-colors: (10, 20, 30, 40, 50, 60, 70);

@each $color in $base-level-colors {
  .base-level-#{$color} {
    background-color: var(--base-level-#{$color});
  }
}

$shadows: (10, 20, 30, 40, 50, 60);

.shapes,
.shadows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.shape,
.shadow {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-level-10);
}

@each $shadow in $shadows {
  .box-shadow-#{$shadow} {
    box-shadow: var(--box-shadow-#{$shadow});
  }
}

$shapes: (1, 2, 3);

@each $shape in $shapes {
  .shape-#{$shape} {
    border: 1px solid var(--base-level-40);
    border-radius: var(--shape-#{$shape});
  }
}
