<h1>Icons</h1>

<app-property-viewer>
  <section>
    <h4>Sizes</h4>
    <p>
      Icons can be set to different sizes using the class
      <code>class="small"</code>
      or
      <code>class="large"</code>
      or
      <code>class="inherit"</code>
    </p>
  </section>

  <section>
    <h4>Colors</h4>
    <p>
      Chip colors can be set through the class ex
      <code>class="primary"</code>
      takes
      <b>primary</b>
      ,
      <b>accent</b>
      ,
      <b>warn</b>
      ,
      <b>error</b>
      and
      <b>success</b>
    </p>

    <p>
      Color can also be overridden with css color variables both like this below or in the scss file.
      <code>{{ `\<sh-icon [style.--icon-c]="'blue'">cloud-warning\</sh-icon>` }}</code>
    </p>
  </section>

  <section>
    <h4>Icon packs</h4>
    <p>Currently we only support phospher icons, but we are working on adding more.</p>
    <a shButton class="primary raised small" href="https://phosphoricons.com/#toolbar" target="_blank">
      Search Phosphor Icons
      <sh-icon>arrow-square-out</sh-icon>
    </a>
    <p>But we do support follow icon variation types:</p>
    <ul>
      <li>
        <b>Regular (default)</b>
      </li>
      <li>
        <b>Thin</b>
      </li>
      <li>
        <b>Light</b>
      </li>
      <li>
        <b>Fill</b>
      </li>
      <li>
        <b>Bold</b>
      </li>
    </ul>
    <p>So the way you access the icon we use ligatures like this:</p>
    <p>
      <code>&lt;sh-icon&gt;cloud-warning&lt;/sh-icon&gt;</code>
    </p>
    <p>
      <code>&lt;sh-icon&gt;cloud-warning-thin&lt;/sh-icon&gt;</code>
    </p>
    <p>
      <code>&lt;sh-icon&gt;cloud-warning-light&lt;/sh-icon&gt;</code>
    </p>
    <p>
      <code>&lt;sh-icon&gt;cloud-warning-fill&lt;/sh-icon&gt;</code>
    </p>
    <p>
      <code>&lt;sh-icon&gt;cloud-warning-bold&lt;/sh-icon&gt;</code>
    </p>
  </section>

  <section>
    <h4>Icon CLI</h4>
    <p>
      We have a CLI tool that can help you generate icon fonts so you dont ship all 9000+ icons but only the ones you
      use.
    </p>
    <p>
      To generate the icon font you can run the following command:
      <br />
      <code>ship-fg --src='./src' --out='./src/assets' --rootPath='./'</code>
    </p>
    <p>
      <br />
      To watch the files and generate the icon font on change you can run the following command:
      <code>ship-fg --src='./src' --out='./src/assets' --rootPath='./' --watch</code>
    </p>

    <ul>
      <li>
        <b>--src</b>
        Are the src folder of your code where you use the icons.
      </li>
      <li>
        <b>--out</b>
        Are the out folder of your project we will generate the icon font here
      </li>
      <li>
        <b>--rootPath</b>
        Are the root path of your project we will use this to generate the correct path to the icons
      </li>
      <li>
        <b>--watch</b>
        Are the watch flag we will watch the files and generate the icon font on change
      </li>
    </ul>

    <p>
      The output will be a
      <b>woff2</b>
      file and a
      <b>css</b>
      file that you can use to import the icon font, that just need to be
      <b>added to your index.html</b>
      .
    </p>
  </section>
</app-property-viewer>

<div class="content">
  <h3>Variations</h3>

  <app-previewer path="/icons/examples/sandbox-icon/sandbox-icon.component" title="Base">
    <app-sandbox-icon class="example" />
  </app-previewer>
</div>
