:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

.example {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;

  h3 {
    margin: 0;
  }
}
