@use 'helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(40);
  padding: p2r(40);
}

.example {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;

  h3 {
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: p2r(20);
}
