<sh-toggle [class.active]="active()" (click)="active.set(!active())" class="outlined" />
<sh-toggle [class.active]="active()" (click)="active.set(!active())" class="outlined primary" />
<sh-toggle [class.active]="active()" (click)="active.set(!active())" class="outlined accent" />
<sh-toggle [class.active]="active()" (click)="active.set(!active())" class="outlined warn" />
<sh-toggle [class.active]="active()" (click)="active.set(!active())" class="outlined error" />
<sh-toggle [class.active]="active()" (click)="active.set(!active())" class="outlined success" />
<sh-toggle [class.active]="active()" (click)="active.set(!active())" class="outlined" disabled />
