<h1>Buttons</h1>

<!-- <button shButton class="raised primary experimental-border">Experimental button</button> -->

<app-property-viewer>
  <section>
    <h4>Variants</h4>
    <p>
      Button variants can be set through the class ex
      <code>class="simple"</code>
      takes
      <b>simple</b>
      ,
      <b>outlined</b>
      ,
      <b>flat</b>
      and
      <b>raised</b>
    </p>
  </section>

  <section>
    <h4>Sizes</h4>
    <p>
      Button sizes can be set through the class ex
      <code>class="small"</code>
    </p>
  </section>

  <section>
    <h4>Colors</h4>
    <p>
      Chip colors can be set through the class ex
      <code>class="primary"</code>
      takes
      <b>primary</b>
      ,
      <b>accent</b>
      ,
      <b>warn</b>
      ,
      <b>error</b>
      and
      <b>success</b>
    </p>
  </section>

  <section>
    <h4>Loading</h4>
    <p>
      The button can be set to loading trough the class ex
      <code>class="loading"</code>
    </p>
  </section>

  <section>
    <h4>Readonly</h4>
    <p>
      The button can be set to readonly trough the attribute ex
      <code>[attr.readonly]</code>
      or
      <code>readonly</code>
    </p>
  </section>

  <section>
    <h4>Rotate icon</h4>
    <p>
      The button icons can be rotated trough the class ex
      <code>class="rotated-icon"</code>
    </p>
  </section>

  <section>
    <h4>Disabled</h4>
    <p>
      The button can be set to disabled trough the attribute ex
      <code>[disabled]</code>
    </p>
  </section>
</app-property-viewer>

<div class="sandbox-example">
  <app-previewer path="/buttons/examples/button-sandbox/button-sandbox" title="Sandbox" class="no-space">
    <app-button-sandbox />
  </app-previewer>
</div>

<h3>Variantions</h3>

<div class="content">
  <app-previewer path="/buttons/examples/base-button/base-button" title="Base">
    <app-base-button class="example" />
  </app-previewer>

  <app-previewer path="/buttons/examples/simple-button/simple-button" title="Simple">
    <app-simple-button class="example" />
  </app-previewer>

  <app-previewer path="/buttons/examples/outlined-button/outlined-button" title="Outlined">
    <app-outlined-button class="example" />
  </app-previewer>

  <app-previewer path="/buttons/examples/flat-button/flat-button" title="Flat">
    <app-flat-button class="example" />
  </app-previewer>

  <app-previewer path="/buttons/examples/raised-button/raised-button" title="Raised">
    <app-raised-button class="example" />
  </app-previewer>
</div>
