<sh-chip class="simple">
  <sh-icon>circle</sh-icon>
</sh-chip>

<sh-chip class="simple">
  <sh-icon>circle</sh-icon>
  Basic
  <sh-icon suffix>circle</sh-icon>
</sh-chip>

<sh-chip class="simple primary">
  <sh-icon>circle</sh-icon>
  Primary
  <sh-icon suffix>circle</sh-icon>
</sh-chip>

<sh-chip class="simple accent">
  <sh-icon>circle</sh-icon>
  Accent
  <sh-icon suffix>circle</sh-icon>
</sh-chip>

<sh-chip class="simple warn">
  <sh-icon>circle</sh-icon>
  Warn
  <sh-icon suffix>circle</sh-icon>
</sh-chip>

<sh-chip class="simple error">
  <sh-icon>circle</sh-icon>
  Error
  <sh-icon suffix>circle</sh-icon>
</sh-chip>

<sh-chip class="simple success">
  <sh-icon>circle</sh-icon>
  Success
  <sh-icon suffix>circle</sh-icon>
</sh-chip>

<sh-chip disabled class="simple">
  <sh-icon>circle</sh-icon>
  Disabled
  <sh-icon suffix>circle</sh-icon>
</sh-chip>
