<section>
  <h3>Flat chips</h3>
  <div class="example-chip-row">
    <mat-chip>
      <spk-icon>circle</spk-icon>
    </mat-chip>

    <mat-chip>
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip color="primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip color="success">
      <spk-icon>circle</spk-icon>
      Success
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip color="warning">
      <spk-icon>circle</spk-icon>
      Warning
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip color="accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip color="warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>
  </div>
</section>

<section>
  <h3>Flat chips small</h3>

  <div class="example-chip-row">
    <mat-chip class="small">
      <spk-icon>circle</spk-icon>
    </mat-chip>

    <mat-chip class="small">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip class="small" highlighted color="primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip class="small" highlighted color="success">
      <spk-icon>circle</spk-icon>
      Success
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip class="small" highlighted color="warning">
      <spk-icon>circle</spk-icon>
      Warning
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip class="small" highlighted color="accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip class="small" highlighted color="warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip class="small" highlighted disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>
  </div>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Flat chips</h3>
  <div class="example-chip-row">
    <mat-chip selected flat-chip>
      <spk-icon>circle</spk-icon>
    </mat-chip>

    <mat-chip selected flat-chip>
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip selected flat-chip color="primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip selected flat-chip color="accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip selected flat-chip color="warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>

    <mat-chip selected flat-chip disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon suffix>circle</spk-icon>
    </mat-chip>
  </div>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Chips with avatar</h3>
  <mat-chip-set aria-label="Dog selection">
    <mat-chip>
      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
      Dog one
    </mat-chip>
    <mat-chip color="primary">
      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
      Dog two
    </mat-chip>
    <mat-chip color="accent">
      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
      Dog three
    </mat-chip>
  </mat-chip-set>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Chips with icon</h3>
  <mat-chip-set aria-label="Dog selection">
    <mat-chip>
      <spk-icon>circle</spk-icon>
      hello
    </mat-chip>
    <mat-chip color="primary">
      <spk-icon>circle</spk-icon>
      world
      <spk-icon>circle</spk-icon>
    </mat-chip>
    <mat-chip color="accent">
      yes
      <spk-icon>circle</spk-icon>
    </mat-chip>
  </mat-chip-set>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Chips listbox</h3>
  <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option>One fish</mat-chip-option>
    <mat-chip-option>Two fish</mat-chip-option>
    <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
    <mat-chip-option color="warn">Warn fish</mat-chip-option>
  </mat-chip-listbox>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Chips listbox stacked</h3>
  <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
    @for (chip of availableColors; track chip) {
      <mat-chip-option selected [color]="chip.color">
        {{ chip.name }}
      </mat-chip-option>
    }
  </mat-chip-listbox>
</section>
