$violet-palette: (
  50: (
    #f5f3ff,
    '245,243,255',
    dark,
  ),
  100: (
    #ede9fe,
    '237,233,254',
    dark,
  ),
  200: (
    #ddd6fe,
    '221,214,254',
    dark,
  ),
  300: (
    #c4b5fd,
    '196,181,253',
    dark,
  ),
  400: (
    #a78bfa,
    '167,139,250',
    dark,
  ),
  500: (
    #8b5cf6,
    '139,92,246',
    light,
  ),
  600: (
    #7c3aed,
    '124,58,237',
    light,
  ),
  700: (
    #6d28d9,
    '109,40,217',
    light,
  ),
  800: (
    #5b21b6,
    '91,33,182',
    light,
  ),
  900: (
    #4c1d95,
    '76,29,149',
    light,
  ),
  950: (
    #2e1065,
    '46,16,101',
    light,
  ),
);

$topaz-palette: (
  50: (
    #eff6ff,
    '239,246,255',
    dark,
  ),
  100: (
    #dbeafe,
    '219,234,254',
    dark,
  ),
  200: (
    #bfdbfe,
    '191,219,254',
    dark,
  ),
  300: (
    #93c5fd,
    '147,197,253',
    dark,
  ),
  400: (
    #60a5fa,
    '96,165,250',
    dark,
  ),
  500: (
    #3b82f6,
    '59,130,246',
    light,
  ),
  600: (
    #2563eb,
    '37,99,235',
    light,
  ),
  700: (
    #1d4ed8,
    '29,78,216',
    light,
  ),
  800: (
    #1e40af,
    '30,64,175',
    light,
  ),
  900: (
    #1e3a8a,
    '30,58,138',
    light,
  ),
  950: (
    #172554,
    '23,37,84',
    light,
  ),
);

$ruby-palette: (
  50: (
    #fef2f2,
    '254,242,242',
    dark,
  ),
  100: (
    #fee2e2,
    '254,226,226',
    dark,
  ),
  200: (
    #fecaca,
    '254,202,202',
    dark,
  ),
  300: (
    #fca5a5,
    '252,165,165',
    dark,
  ),
  400: (
    #f87171,
    '248,113,113',
    light,
  ),
  500: (
    #ef4444,
    '239,68,68',
    light,
  ),
  600: (
    #dc2626,
    '220,38,38',
    light,
  ),
  700: (
    #b91c1c,
    '185,28,28',
    light,
  ),
  800: (
    #991b1b,
    '153,27,27',
    light,
  ),
  900: (
    #7f1d1d,
    '127,29,29',
    light,
  ),
  950: (
    #450a0a,
    '69,10,10',
    light,
  ),
);

$mono-palette: (
  50: (
    #fafafa,
    '250,250,250',
    dark,
  ),
  100: (
    #f4f4f5,
    '244,244,245',
    dark,
  ),
  200: (
    #e4e4e7,
    '228,228,231',
    dark,
  ),
  300: (
    #d4d4d8,
    '212,212,216',
    dark,
  ),
  400: (
    #a1a1aa,
    '161,161,170',
    dark,
  ),
  500: (
    #71717a,
    '113,113,122',
    light,
  ),
  600: (
    #52525b,
    '82,82,91',
    light,
  ),
  700: (
    #3f3f46,
    '63,63,70',
    light,
  ),
  750: (
    #2f2f31,
    '47,47,49',
    light,
  ),
  800: (
    #27272a,
    '39,39,42',
    light,
  ),
  900: (
    #18181b,
    '24,24,27',
    light,
  ),
  950: (
    #09090b,
    '9,9,11',
    light,
  ),
);

$emerald-palette: (
  50: (
    #ecfdf5,
    '236,253,245',
    dark,
  ),
  100: (
    #d1fae5,
    '209,250,229',
    dark,
  ),
  200: (
    #a7f3d0,
    '167,243,208',
    dark,
  ),
  300: (
    #6ee7b7,
    '110,231,183',
    dark,
  ),
  400: (
    #34d399,
    '52,211,153',
    light,
  ),
  500: (
    #10b981,
    '16,185,129',
    light,
  ),
  600: (
    #059669,
    '5,150,105',
    light,
  ),
  700: (
    #047857,
    '4,120,87',
    light,
  ),
  800: (
    #065f46,
    '6,95,70',
    light,
  ),
  900: (
    #064e3b,
    '6,78,59',
    light,
  ),
  950: (
    #022c22,
    '2,44,34',
    light,
  ),
);

$amber-palette: (
  50: (
    #fffbeb,
    '255,251,235',
    dark,
  ),
  100: (
    #fef3c7,
    '254,243,199',
    dark,
  ),
  200: (
    #fde68a,
    '253,230,138',
    dark,
  ),
  300: (
    #fcd34d,
    '252,211,77',
    dark,
  ),
  400: (
    #fbbf24,
    '251,191,36',
    light,
  ),
  500: (
    #f59e0b,
    '245,158,11',
    light,
  ),
  600: (
    #d97706,
    '217,119,6',
    light,
  ),
  700: (
    #b45309,
    '180,83,9',
    light,
  ),
  800: (
    #92400e,
    '146,64,14',
    light,
  ),
  900: (
    #78350f,
    '120,53,15',
    light,
  ),
  950: (
    #451a03,
    '69,26,3',
    light,
  ),
);
