@use 'sass:list';
@use '../../helpers.scss' as *;
@use './palette-variables.scss' as palettes;

@mixin palette($palette, $name) {
  @each $key, $value in $palette {
    --#{"" + $name}-#{$key}: #{list.nth($value, 1)};

    @if ($key == 500) {
      --#{"" + $name}-contrast-#{$key}: var(--#{list.nth($value, 3)}-primary-text);
    }
  }
}

:root {
  --font-size: 16px;
  font-size: var(--font-size);
}

html body {
  --sparkle-light: initial;
  --sparkle-dark: ;
  color-scheme: light dark;

  --primary-1: #{light-dark(hsl(217, 91%, 95%), hsl(217, 91%, 9.5%))};
  --primary-2: #{light-dark(hsl(217, 91%, 90%), hsl(217, 91%, 15%))};
  --primary-3: #{light-dark(hsl(217, 91%, 85%), hsl(217, 91%, 22.5%))};
  --primary-4: #{light-dark(hsl(217, 91%, 80%), hsl(217, 91%, 30%))};
  --primary-5: #{light-dark(hsl(217, 91%, 75%), hsl(217, 91%, 37.5%))};
  --primary-6: #{light-dark(hsl(217, 91%, 70%), hsl(217, 91%, 45%))};
  --primary-7: #{light-dark(hsl(217, 91%, 65%), hsl(217, 91%, 52.5%))};
  --primary-8: #{light-dark(hsl(217, 91%, 60%), hsl(217, 91%, 60%))};
  --primary-9: #{light-dark(hsl(217, 91%, 46.5%), hsl(217, 91%, 70%))};
  --primary-10: #{light-dark(hsl(217, 91%, 33%), hsl(217, 91%, 80%))};
  --primary-11: #{light-dark(hsl(217, 91%, 19.5%), hsl(217, 91%, 90%))};
  --primary-12: #{light-dark(hsl(217, 91%, 6%), hsl(217, 91%, 100%))};
  --primary-g2: linear-gradient(180deg, hsl(217, 91%, 70%) 0%, hsl(217, 91%, 60%) 50%);
  --primary-g3: linear-gradient(180deg, hsl(217, 91%, 80%) 0%, hsl(217, 91%, 60%) 50%);

  --accent-1: #{light-dark(hsl(258, 90%, 95.75%), hsl(258, 90%, 9.25%))};
  --accent-2: #{light-dark(hsl(258, 90%, 91.5%), hsl(258, 90%, 16.5%))};
  --accent-3: #{light-dark(hsl(258, 90%, 87.25%), hsl(258, 90%, 24.75%))};
  --accent-4: #{light-dark(hsl(258, 90%, 83%), hsl(258, 90%, 33%))};
  --accent-5: #{light-dark(hsl(258, 90%, 78.75%), hsl(258, 90%, 41.25%))};
  --accent-6: #{light-dark(hsl(258, 90%, 74.5%), hsl(258, 90%, 49.5%))};
  --accent-7: #{light-dark(hsl(258, 90%, 70.25%), hsl(258, 90%, 57.75%))};
  --accent-8: #{light-dark(hsl(258, 90%, 66%), hsl(258, 90%, 66%))};
  --accent-9: #{light-dark(hsl(258, 90%, 51.15%), hsl(258, 90%, 74.5%))};
  --accent-10: #{light-dark(hsl(258, 90%, 36.3%), hsl(258, 90%, 83%))};
  --accent-11: #{light-dark(hsl(258, 90%, 21.45%), hsl(258, 90%, 91.5%))};
  --accent-12: #{light-dark(hsl(258, 90%, 6.6%), hsl(258, 90%, 100%))};
  --accent-g2: linear-gradient(180deg, hsl(258, 90%, 74.5%) 0%, hsl(258, 90%, 66%) 50%);
  --accent-g3: linear-gradient(180deg, hsl(258, 90%, 83%) 0%, hsl(258, 90%, 66%) 50%);

  --warn-1: #{light-dark(hsl(37, 92%, 93.75%), hsl(37, 92%, 9.25%))};
  --warn-2: #{light-dark(hsl(37, 92%, 87.5%), hsl(37, 92%, 12.5%))};
  --warn-3: #{light-dark(hsl(37, 92%, 81.25%), hsl(37, 92%, 18.75%))};
  --warn-4: #{light-dark(hsl(37, 92%, 75%), hsl(37, 92%, 25%))};
  --warn-5: #{light-dark(hsl(37, 92%, 68.75%), hsl(37, 92%, 31.25%))};
  --warn-6: #{light-dark(hsl(37, 92%, 62.5%), hsl(37, 92%, 37.5%))};
  --warn-7: #{light-dark(hsl(37, 92%, 56.25%), hsl(37, 92%, 43.75%))};
  --warn-8: #{light-dark(hsl(37, 92%, 50%), hsl(37, 92%, 50%))};
  --warn-9: #{light-dark(hsl(37, 92%, 38.75%), hsl(37, 92%, 62.5%))};
  --warn-10: #{light-dark(hsl(37, 92%, 27.5%), hsl(37, 92%, 75%))};
  --warn-11: #{light-dark(hsl(37, 92%, 16.25%), hsl(37, 92%, 87.5%))};
  --warn-12: #{light-dark(hsl(37, 92%, 5%), hsl(37, 92%, 100%))};
  --warn-g2: linear-gradient(180deg, hsl(37, 92%, 62.5%) 0%, hsl(37, 92%, 50%) 50%);
  --warn-g3: linear-gradient(180deg, hsl(37, 92%, 75%) 0%, hsl(37, 92%, 50%) 50%);

  --error-1: #{light-dark(hsl(0, 84%, 95%), hsl(0, 84%, 7.5%))};
  --error-2: #{light-dark(hsl(0, 84%, 90%), hsl(0, 84%, 15%))};
  --error-3: #{light-dark(hsl(0, 84%, 85%), hsl(0, 84%, 22.5%))};
  --error-4: #{light-dark(hsl(0, 84%, 80%), hsl(0, 84%, 30%))};
  --error-5: #{light-dark(hsl(0, 84%, 75%), hsl(0, 27%, 10%))};
  --error-6: #{light-dark(hsl(0, 84%, 70%), hsl(0, 84%, 45%))};
  --error-7: #{light-dark(hsl(0, 84%, 65%), hsl(0, 84%, 52.5%))};
  --error-8: #{light-dark(hsl(0, 84%, 60%), hsl(0, 84%, 60%))};
  --error-9: #{light-dark(hsl(0, 84%, 46.5%), hsl(0, 84%, 70%))};
  --error-10: #{light-dark(hsl(0, 84%, 33%), hsl(0, 84%, 80%))};
  --error-11: #{light-dark(hsl(0, 84%, 19.5%), hsl(0, 84%, 90%))};
  --error-12: #{light-dark(hsl(0, 84%, 6%), hsl(0, 84%, 100%))};
  --error-g2: linear-gradient(180deg, hsl(0, 84%, 70%) 0%, hsl(0, 84%, 60%) 50%);
  --error-g3: linear-gradient(180deg, hsl(0, 84%, 80%) 0%, hsl(0, 84%, 60%) 50%);

  --success-1: #{light-dark(hsl(160, 84%, 92.38%), hsl(160, 84%, 7.88%))};
  --success-2: #{light-dark(hsl(160, 84%, 84.75%), hsl(160, 3%, 17%))};
  --success-3: #{light-dark(hsl(160, 84%, 77.13%), hsl(160, 84%, 14.63%))};
  --success-4: #{light-dark(hsl(160, 84%, 69.5%), hsl(160, 84%, 19.5%))};
  --success-5: #{light-dark(hsl(160, 84%, 61.88%), hsl(160, 84%, 24.38%))};
  --success-6: #{light-dark(hsl(160, 84%, 54.25%), hsl(160, 84%, 29.25%))};
  --success-7: #{light-dark(hsl(160, 84%, 46.63%), hsl(160, 84%, 34.13%))};
  --success-8: #{light-dark(hsl(160, 84%, 39%), hsl(160, 84%, 39%))};
  --success-9: #{light-dark(hsl(160, 84%, 30.23%), hsl(160, 84%, 54.25%))};
  --success-10: #{light-dark(hsl(160, 84%, 21.45%), hsl(160, 84%, 69.5%))};
  --success-11: #{light-dark(hsl(160, 84%, 12.67%), hsl(160, 84%, 84.75%))};
  --success-12: #{light-dark(hsl(160, 84%, 3.9%), hsl(160, 84%, 100%))};
  --success-g2: linear-gradient(180deg, hsl(160, 84%, 54.25%) 0%, hsl(160, 84%, 39%) 50%);
  --success-g3: linear-gradient(180deg, hsl(160, 84%, 69.5%) 0%, hsl(160, 84%, 39%) 50%);

  --base-1: #{light-dark(#fff, hsl(0, 0%, 5.75%))};
  --base-2: #{light-dark(hsl(0, 0%, 98.05%), hsl(0, 0%, 8.75%))};
  --base-3: #{light-dark(hsl(0, 0%, 94.5%), hsl(0, 0%, 11.5%))};
  --base-4: #{light-dark(hsl(0, 0%, 84.75%), hsl(0, 0%, 17.25%))};
  --base-5: #{light-dark(hsl(0, 0%, 79.75%), hsl(0, 0%, 17.25%))};
  --base-6: #{light-dark(hsl(0, 0%, 66.25%), hsl(0, 0%, 28.75%))};
  --base-7: #{light-dark(hsl(0, 0%, 54.5%), hsl(0, 0%, 34.5%))};
  --base-8: #{light-dark(hsl(0, 0%, 46%), hsl(0, 0%, 46%))};
  --base-9: #{light-dark(hsl(0, 0%, 35.65%), hsl(0, 0%, 59.5%))};
  --base-10: #{light-dark(hsl(0, 0%, 25.3%), hsl(0, 0%, 73%))};
  --base-11: #{light-dark(hsl(0, 0%, 14.95%), hsl(0, 0%, 86.5%))};
  --base-12: #{light-dark(hsl(0, 0%, 4.6%), hsl(0, 0%, 100%))};

  --base-g2: linear-gradient(180deg, hsl(0, 0%, 66.25%) 0%, hsl(0, 0%, 46%) 50%);
  --base-g3: linear-gradient(180deg, hsl(0, 0%, 73%) 0%, hsl(0, 0%, 46%) 50%);
  --base-g6: linear-gradient(180deg, hsl(0, 0%, 25.3%) 0%, hsl(0, 0%, 14.95%) 50%);
  --base-g7: linear-gradient(180deg, hsl(0, 0%, 35.65%) 0%, hsl(0, 0%, 14.95%) 50%);

  --primary-c8: var(--light-text);
  --accent-c8: var(--light-text);
  --warn-c8: var(--light-text);
  --error-c8: var(--light-text);
  --success-c8: var(--light-text);

  --display-10: 600 #{p2r(80)} / normal Inter Tight, sans-serif;
  --display-20: 600 #{p2r(72)} / normal Inter Tight, sans-serif;
  --display-30: 600 #{p2r(64)} / normal Inter Tight, sans-serif;
  --display-40: 600 #{p2r(56)} / normal Inter Tight, sans-serif;
  --display-50: 600 #{p2r(48)} / normal Inter Tight, sans-serif;

  --title-10: 500 #{p2r(40)} / normal Inter Tight, sans-serif;
  --title-20: 500 #{p2r(32)} / normal Inter Tight, sans-serif;
  --title-30: 500 #{p2r(24)} / normal Inter Tight, sans-serif;

  --title-10B: 600 #{p2r(40)} / normal Inter Tight, sans-serif;
  --title-20B: 600 #{p2r(32)} / normal Inter Tight, sans-serif;
  --title-30B: 600 #{p2r(24)} / normal Inter Tight, sans-serif;

  --paragraph-10: 500 #{p2r(18)} / normal Inter Tight, sans-serif;
  --paragraph-20: 500 #{p2r(16)} / normal Inter Tight, sans-serif;
  --paragraph-30: 500 #{p2r(14)} / normal Inter Tight, sans-serif;
  --paragraph-40: 500 #{p2r(12)} / normal Inter Tight, sans-serif;

  --paragraph-10B: 600 #{p2r(18)} / normal Inter Tight, sans-serif;
  --paragraph-20B: 600 #{p2r(16)} / normal Inter Tight, sans-serif;
  --paragraph-30B: 600 #{p2r(14)} / #{p2r(18)} Inter Tight, sans-serif;
  --paragraph-40B: 600 #{p2r(12)} / normal Inter Tight, sans-serif;

  --shape-1: #{p2r(4)};
  --shape-2: #{p2r(8)};
  --shape-3: #{p2r(12)};
  --shape-4: #{p2r(16)};
  --shape-5: #{p2r(20)};

  --box-shadow-10: 0 1px 2px 0 rgba(18, 18, 23, 0.07);
  --box-shadow-20: 0 1px 3px 0 rgba(18, 18, 23, 0.1);
  --box-shadow-30: 0 1px 4px -1px rgba(18, 18, 23, 0.08);
  --box-shadow-35: 0 4px 6px -1px rgba(18, 18, 23, 0.08);
  --box-shadow-40: 0 10px 15px -3px rgba(18, 18, 23, 0.08);
  --box-shadow-50: 0 20px 25px -5px rgba(18, 18, 23, 0.1);
  --box-shadow-60: 0 25px 50px -12px rgba(18, 18, 23, 0.25);

  --dark-text: #000;
  --light-text: #fff;

  &.dark {
    --sparkle-light: ;
    --sparkle-dark: initial;
    color-scheme: dark;
  }

  // TODO add a good way to toggle between light and dark mode served from the ui lib
  //
  // @media (prefers-color-scheme: dark) {
  //   --sparkle-light: ;
  //   --sparkle-dark: initial;
  //   color-scheme: dark;

  //   &.light {
  //     --sparkle-light: initial;
  //     --sparkle-dark: ;
  //     color-scheme: light;
  //   }
  // }
}
