@use '../../../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: flex;
  gap: p2r(8);
  // flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: p2r(60 20);
}
