<sh-form-field [variant]="variant()">
  @if (showLabel()) {
    <label>{{ label() }}</label>
  }
  @if (showPrefix()) {
    <ng-container prefix>{{ prefix() }}</ng-container>
  }
  @if (showSuffix()) {
    <ng-container suffix>{{ suffix() }}</ng-container>
  }
  @if (inputType() === 'text') {
    <input [placeholder]="placeholder()" [(ngModel)]="value" [disabled]="disabled()" />
  } @else if (inputType() === 'number') {
    <input type="number" [placeholder]="placeholder()" [(ngModel)]="value" [disabled]="disabled()" />
  } @else if (inputType() === 'textarea') {
    <textarea [placeholder]="placeholder()" [(ngModel)]="value" [disabled]="disabled()"></textarea>
  }
  @if (showHint()) {
    <span hint>{{ hint() }}</span>
  }
  @if (showError()) {
    <span error>{{ error() }}</span>
  }
</sh-form-field>
