@use '../showcase' as *;
:host {
  @extend %showcase-host;
  @include wrapper();
}

sh-list {
  width: 500px;
}

.example {
  padding: 40px;
}

.l20-example {
  padding: 40px;
  background-color: var(--base-2);
}

.tab-content {
  margin-top: p2r(24);
  display: flex;
  flex-direction: column;
  gap: p2r(24);
}
