<h1>List</h1>

<app-property-viewer>
  <section>
    <h4>item</h4>
    <p>
      Add the
      <code>item</code>
      attribute to a child element of
      <code>sh-list</code>
      to make it a list item.
    </p>
  </section>
  <section>
    <h4>action</h4>
    <p>
      Add the
      <code>action</code>
      attribute to a child element of
      <code>sh-list</code>
      to make it an actionable item (e.g., clickable).
    </p>
  </section>
  <section>
    <h4>suffix</h4>
    <p>
      Add the
      <code>suffix</code>
      attribute to an element inside a list item to align it to the right.
    </p>
  </section>
</app-property-viewer>

<app-previewer path="/lists/examples/base-list-example/base-list-example" title="Base">
  <base-list-example class="example" />
</app-previewer>
