<h3>
  Alerts
  <button spk-button class="outlined small" (click)="addAlert()">
    <spk-icon>plus</spk-icon>
  </button>
</h3>

<spk-divider />

<spk-alert type="question">Write a message in this alert area.</spk-alert>

<spk-alert type="primary">Write a message in this alert area.</spk-alert>

<spk-alert type="accent">Write a message in this alert area.</spk-alert>

<spk-alert type="success">Write a message in this alert area.</spk-alert>

<spk-alert type="error">Write a message in this alert area.</spk-alert>

<spk-alert type="warning">Write a message in this alert area.</spk-alert>

<spk-divider />

<h4>Icon overrides</h4>

<spk-alert type="question">
  <spk-icon icon>circle</spk-icon>
  Write a message in this alert area.
</spk-alert>

<spk-alert type="primary">
  <spk-icon icon>circle</spk-icon>
  Write a message in this alert area.
</spk-alert>

<spk-divider />

<h4>Descriptive</h4>

<spk-alert type="question">
  Write a message in this alert area.

  <div content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</spk-alert>

<spk-alert type="primary">
  Write a message in this alert area.

  <div content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</spk-alert>

<spk-alert type="accent">
  Write a message in this alert area.

  <div content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</spk-alert>

<spk-alert type="success">
  Write a message in this alert area.

  <div content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</spk-alert>

<spk-alert type="error">
  Write a message in this alert area.

  <div content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</spk-alert>

<spk-alert type="warning">
  Write a message in this alert area.

  <div content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</spk-alert>
