<h3>
  Alerts
  <button spk-button class="outlined small" (click)="addAlert()">
    <spk-icon>plus</spk-icon>
  </button>
</h3>

<spk-divider />

<section>
  <h3>Base alerts</h3>

  <spk-alert class="question">Write a message in this alert area.</spk-alert>

  <spk-alert class="primary">Write a message in this alert area.</spk-alert>

  <spk-alert class="accent">Write a message in this alert area.</spk-alert>

  <spk-alert class="warn">Write a message in this alert area.</spk-alert>

  <spk-alert class="error">Write a message in this alert area.</spk-alert>

  <spk-alert class="success">Write a message in this alert area.</spk-alert>
</section>

<spk-divider />

<section>
  <h3>Simple alerts</h3>

  <spk-alert class="question simple">Write a message in this alert area.</spk-alert>

  <spk-alert class="primary simple">Write a message in this alert area.</spk-alert>

  <spk-alert class="accent simple">Write a message in this alert area.</spk-alert>

  <spk-alert class="warn simple">Write a message in this alert area.</spk-alert>

  <spk-alert class="error simple">Write a message in this alert area.</spk-alert>

  <spk-alert class="success simple">Write a message in this alert area.</spk-alert>
</section>

<spk-divider />

<section>
  <h3>Flat alerts</h3>

  <spk-alert class="question flat">Write a message in this alert area.</spk-alert>

  <spk-alert class="primary flat">Write a message in this alert area.</spk-alert>

  <spk-alert class="accent flat">Write a message in this alert area.</spk-alert>

  <spk-alert class="warn flat">Write a message in this alert area.</spk-alert>

  <spk-alert class="error flat">Write a message in this alert area.</spk-alert>

  <spk-alert class="success flat">Write a message in this alert area.</spk-alert>
</section>

<spk-divider />

<section>
  <h3>raised alerts</h3>

  <spk-alert class="question raised">Write a message in this alert area.</spk-alert>

  <spk-alert class="primary raised">Write a message in this alert area.</spk-alert>

  <spk-alert class="accent raised">Write a message in this alert area.</spk-alert>

  <spk-alert class="warn raised">Write a message in this alert area.</spk-alert>

  <spk-alert class="error raised">Write a message in this alert area.</spk-alert>

  <spk-alert class="success raised">Write a message in this alert area.</spk-alert>
</section>

<spk-divider />

<section>
  <h3>Icon overrides</h3>

  <spk-alert class="question">
    <spk-icon icon>warning-bold</spk-icon>
    Write a message in this alert area.
  </spk-alert>

  <spk-alert class="primary">
    <spk-icon icon>circle</spk-icon>
    Write a message in this alert area.
  </spk-alert>

  <spk-alert class="accent">
    <spk-icon icon>circle</spk-icon>
    Write a message in this alert area.
  </spk-alert>

  <spk-alert class="warn">
    <spk-icon icon>circle</spk-icon>
    Write a message in this alert area.
  </spk-alert>

  <spk-alert class="error">
    <spk-icon icon>circle</spk-icon>
    Write a message in this alert area.
  </spk-alert>

  <spk-alert class="success">
    <spk-icon icon>circle</spk-icon>
    Write a message in this alert area.
  </spk-alert>
</section>

<spk-divider />

<section>
  <h3>Descriptive alerts - base</h3>

  <spk-alert class="question">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="primary">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="accent">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="warn">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="error">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="success">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>
</section>

<spk-divider />

<section>
  <h3>Descriptive alerts - outlined</h3>

  <spk-alert class="question outlined">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="primary outlined">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="accent outlined">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="warn outlined">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="error outlined">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="success outlined">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>
</section>

<spk-divider />

<section>
  <h3>Descriptive alerts - simple</h3>

  <spk-alert class="question simple">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="primary simple">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="accent simple">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="warn simple">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="error simple">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="success simple">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>
</section>

<spk-divider />

<section>
  <h3>Descriptive alerts - flat</h3>

  <spk-alert class="question flat">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="primary flat">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="accent flat">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="warn flat">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="error flat">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="success flat">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>
</section>

<spk-divider />

<section>
  <h3>Descriptive alerts - raised</h3>

  <spk-alert class="question raised">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="primary raised">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="accent raised">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="warn raised">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="error raised">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>

  <spk-alert class="success raised">
    Write a message in this alert area.

    <div content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
      dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
    </div>
  </spk-alert>
</section>
