@use 'helpers' as *;

sh-color-picker {
  --cp-checker-d: color-mix(in srgb, var(--light-text) 50%, var(--dark-text));
  --cp-checker-l: color-mix(in srgb, var(--light-text) 80%, var(--dark-text));
  position: relative;
  display: block;
  width: p2r(300);
  aspect-ratio: 1 / 1;

  canvas {
    background-image:
      linear-gradient(45deg, var(--cp-checker-d) 25%, transparent 25%), linear-gradient(-45deg, var(--cp-checker-d) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--cp-checker-d) 75%), linear-gradient(-45deg, transparent 75%, var(--cp-checker-d) 75%);
    background-size: 20px 20px;
    background-position:
      0 0,
      0 10px,
      10px -10px,
      -10px 0px;
  }

  &.hsl canvas {
    border-radius: 100%;
    overflow: hidden;
  }

  &.rgb {
    border-radius: p2r(2);

    // canvas {
    //   border-radius: p2r(2);
    // }
  }

  &.saturation:not(.vertical),
  &.hue:not(.vertical),
  &.alpha:not(.vertical) {
    height: p2r(20);
    aspect-ratio: auto;
    border-radius: p2r(2);

    canvas {
      border-radius: p2r(2);
    }

    .marker {
      top: 50% !important;
    }
  }

  &.saturation.vertical,
  &.hue.vertical,
  &.alpha.vertical {
    width: p2r(20);
    height: p2r(300);
    aspect-ratio: auto;
    border-radius: p2r(2);

    canvas {
      border-radius: p2r(2);
    }

    .marker {
      left: 50% !important;
    }
  }

  canvas {
    width: 100%;
    height: 100%;

    border: 2px solid var(--base-1);
    outline: var(--border-10);
  }

  .marker {
    position: absolute;
    inset: 0;
    width: p2r(20);
    height: p2r(20);
    border-radius: 50%;
    border: 1px solid var(--light-text);
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 4px rgb(from var(--dark-text) r g b / 30%);
  }
}
