<div class="controls">
  <header>
    <div class="column">
      <p>Controls (spk-card)</p>
      <spk-button-group class="small">
        <button [class.active]="cardType() === 'default'" (click)="cardType.set('default')">Default</button>
        <button [class.active]="cardType() === 'type-a'" (click)="cardType.set('type-a')">Type A</button>
        <button [class.active]="cardType() === 'type-b'" (click)="cardType.set('type-b')">Type B</button>
        <button [class.active]="cardType() === 'type-c'" (click)="cardType.set('type-c')">Type C</button>
      </spk-button-group>
    </div>

    <div class="column">
      <p>Controls (spk-toggle-card)</p>
      <spk-toggle
        [class.active]="disallowToggle()"
        class="primary raised"
        (click)="disallowToggle.set(!disallowToggle())">
        Disallow Toggle
      </spk-toggle>
    </div>
  </header>
</div>

<div class="sandbox">
  <spk-card [class]="cardClass()">Hello world (spk-card)</spk-card>

  <spk-toggle-card [class]="cardClass()" [disallowToggle]="disallowToggle()">
    <ng-container title>Advanced options</ng-container>
    <p>Hello world (spk-toggle-card)</p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
  </spk-toggle-card>
</div>
