<spk-radio [class.active]="active()" (click)="active.set(!active())" class="raised" />
<spk-radio [class.active]="active()" (click)="active.set(!active())" class="raised primary" />
<spk-radio [class.active]="active()" (click)="active.set(!active())" class="raised accent" />
<spk-radio [class.active]="active()" (click)="active.set(!active())" class="raised warn" />
<spk-radio [class.active]="active()" (click)="active.set(!active())" class="raised error" />
<spk-radio [class.active]="active()" (click)="active.set(!active())" class="raised success" />
<spk-radio [class.active]="active()" (click)="active.set(!active())" class="raised" disabled />
