<h3>Sparkle Theme Editor</h3>

<!-- <spk-color-picker renderingType="hue" (currentColor)="selectedHue.set($event.hue)"></spk-color-picker> -->
<spk-color-picker
  renderingType="saturation"
  [hue]="satHue()"
  (currentColor)="updateSaturation($event.saturation)"></spk-color-picker>

<spk-color-picker
  [renderingType]="'hsl'"
  [showDarkColors]="false"
  [selectedColor]="rgbStartColor()"
  (currentColor)="updateHsl($event.hsl)"></spk-color-picker>

<spk-menu [openIndicator]="true" [closeOnClick]="false">
  <button spk-button>
    {{ inputName() }}
  </button>

  <ng-container menu>
    @for (value of ['primary', 'accent', 'warn', 'error', 'success']; track $index) {
      <button item (click)="setInputName(value)">
        <spk-radio [class.active]="inputName() === value" class="primary raised">
          {{ value }}
        </spk-radio>
      </button>
    }
  </ng-container>
</spk-menu>

<div class="theme-column">
  @let _inputName = inputName();

  <div class="theme-row">
    @for (color of ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']; track $index) {
      <div class="color-box" [style]="'background-color: var(--' + _inputName + '-' + color + ');'"></div>
    }
  </div>
  <div class="theme-row flip">
    @for (color of ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']; track $index) {
      <div class="color-box" [style]="'background-color: var(--' + _inputName + '-' + color + ');'"></div>
    }
  </div>
</div>

<pre>{{ outputString() }}</pre>
<!-- <app-spk-buttons></app-spk-buttons> -->
