<section>
  <h3>Menu example</h3>

  <spk-dialog [isOpen]="false">
    <spk-menu>
      <button spk-button class="outlined">Open menu</button>

      <ng-container menu>
        <div title>Section 1</div>

        <button item (click)="fireHello()">
          <spk-icon>circle</spk-icon>
          Item 1
          <span suffix>⌘O</span>
        </button>

        <button item (click)="fireHello()">
          <spk-icon>circle</spk-icon>
          Item 2
          <span suffix>⌘K</span>
        </button>
        <spk-divider />

        <button item (click)="fireHello()" disabled>
          <spk-icon>circle</spk-icon>
          Item 3
          <span suffix>⌘L</span>
        </button>
      </ng-container>
    </spk-menu>
  </spk-dialog>

  <div class="wrap">
    <spk-menu>
      <button spk-button class="outlined">Open menu</button>

      <ng-container menu>
        <div title>Section 1</div>

        <button item (click)="fireHello()">
          <spk-icon>circle</spk-icon>
          Item 1
          <span suffix>⌘O</span>
        </button>

        <button item (click)="fireHello()">
          <spk-icon>circle</spk-icon>
          Item 2
          <span suffix>⌘K</span>
        </button>
        <spk-divider />

        <button item (click)="fireHello()" disabled>
          <spk-icon>circle</spk-icon>
          Item 3
          <span suffix>⌘L</span>
        </button>
      </ng-container>
    </spk-menu>
  </div>
</section>
