<section>
  <h3>Menu example</h3>

  <button spk-button class="outlined" (click)="addOption()">Add option</button>

  <div class="wrap">
    <spk-menu class="stretch" [disabled]="false" [openIndicator]="true">
      <button spk-button class="outlined">Open menu</button>

      <ng-container menu>
        <button (click)="fireHello(1)">
          <spk-icon>circle</spk-icon>
          Item 1
          <span suffix>⌘O</span>
        </button>

        <button (click)="fireHello(2)">
          <spk-icon>circle</spk-icon>
          Item 2
          <span suffix>⌘K</span>
        </button>

        <spk-menu class="stretch" [asMultiLayer]="true" [disabled]="false" [openIndicator]="true">
          <button class="outlined">Open menu</button>

          <ng-container menu>
            <button (click)="fireHello(123)">
              <spk-icon>circle</spk-icon>
              Hello 123
              <span suffix>⌘O</span>
            </button>

            <button (click)="fireHello(456)">
              <spk-icon>circle</spk-icon>
              World 456
              <span suffix>⌘K</span>
            </button>
          </ng-container>
        </spk-menu>
      </ng-container>
    </spk-menu>
  </div>

  <div class="wrap">
    <spk-menu [searchable]="true">
      <button spk-button class="outlined">
        Open menu
        <spk-icon>dots-three-vertical</spk-icon>
      </button>

      <ng-container menu>
        <div title>Section 1</div>

        <button (click)="fireHello(1)">
          <spk-icon>circle</spk-icon>
          Item 1
          <span suffix>⌘O</span>
        </button>

        <button (click)="fireHello(2)">
          <spk-icon>circle</spk-icon>
          Item 2
          <span suffix>⌘K</span>
        </button>
        <spk-divider />

        <button (click)="fireHello(3)" disabled>
          <spk-icon>circle</spk-icon>
          Item 3
          <span suffix>⌘L</span>
        </button>

        <button (click)="fireHello(3)" [attr.disabled]="true">
          <spk-icon>circle</spk-icon>
          Item 4
          <span suffix>⌘L</span>
        </button>

        @for (item of menuItems(); track $index) {
          <button (click)="fireHello($index)" [attr.disabled]="$index % 2 === 0 ? '' : null">
            <spk-icon>circle</spk-icon>
            Item {{ $index }}
            <span suffix>⌘L</span>
          </button>
        }
      </ng-container>
    </spk-menu>
  </div>

  <div class="wrap">
    <spk-menu [closeOnClick]="false">
      <button spk-button class="outlined">Open menu ({{ activeItems().length }} selected)</button>

      <ng-container menu>
        <div title>Section 1</div>

        @for (item of menuItems(); track $index) {
          @if ($index % 10 === 0) {
            <div title>Section {{ $index / 10 }}</div>
          }
          <button (click)="toggleActive($index)" [attr.disabled]="$index % 2 === 0 ? '' : null">
            <spk-checkbox class="primary raised" [class.active]="activeItems().includes($index)" />
            Item {{ $index }}
            <span suffix>⌘L</span>
          </button>
        }
      </ng-container>
    </spk-menu>
  </div>
</section>
