<h1>Menu</h1>

<app-property-viewer>
  <section>
    <h4>asMultiLayer</h4>
    <p>Enable multi-layer (nested) menu support.</p>
  </section>

  <section>
    <h4>searchable</h4>
    <p>Show a search input to filter menu options it's a wildcard search.</p>
  </section>

  <section>
    <h4>closeOnClick</h4>
    <p>
      Close the menu when an option is clicked (default is true), good when you want to keep the menu open for selecting
      multiple options.
    </p>
  </section>

  <section>
    <h4>disabled</h4>
    <p>Disable the menu trigger and menu.</p>
  </section>

  <section>
    <h4>Suffix</h4>
    <p>You can add a suffix attribute to an element inside the option to show a hotkey, icon, etc.</p>
  </section>
</app-property-viewer>

<div class="content">
  <h3>Examples</h3>

  <app-previewer path="/spk-menu/examples/base-menu-example/base-menu-example.component" title="Base Menu">
    <base-menu-example class="example" />
  </app-previewer>

  <app-previewer path="/spk-menu/examples/icon-suffix-menu/icon-suffix-menu.component" title="Icon Suffix Menu">
    <spk-icon-suffix-menu class="example" />
  </app-previewer>

  <app-previewer
    path="/spk-menu/examples/multi-layer-menu-example/multi-layer-menu-example.component"
    title="Multi Layer Menu">
    <spk-multi-layer-menu-example class="example" />
  </app-previewer>

  <app-previewer path="/spk-menu/examples/search-menu-example/search-menu-example.component" title="Searchable Menu">
    <spk-search-menu-example class="example" />
  </app-previewer>

  <app-previewer
    path="/spk-menu/examples/toggle-select-menu-example/toggle-select-menu-example.component"
    title="Toggle Select Menu">
    <spk-toggle-select-menu-example class="example" />
  </app-previewer>
</div>
