<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="simple" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="simple primary" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="simple accent" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="simple warn" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="simple error" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="simple success" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="simple" disabled />
