<div class="controls">
  <div class="row">
    <spk-checkbox class="primary raised" [class.active]="showLabel()" (click)="showLabel.set(!showLabel())">
      Label
    </spk-checkbox>
    <spk-checkbox class="primary raised" [class.active]="showPrefix()" (click)="showPrefix.set(!showPrefix())">
      Prefix
    </spk-checkbox>
    <spk-checkbox class="primary raised" [class.active]="showSuffix()" (click)="showSuffix.set(!showSuffix())">
      Suffix
    </spk-checkbox>
    <spk-checkbox class="primary raised" [class.active]="showHint()" (click)="showHint.set(!showHint())">
      Hint
    </spk-checkbox>
    <spk-checkbox class="primary raised" [class.active]="showError()" (click)="showError.set(!showError())">
      Error
    </spk-checkbox>
    <spk-checkbox class="primary raised" [class.active]="disabled()" (click)="disabled.set(!disabled())">
      Disabled
    </spk-checkbox>
  </div>

  <div class="row">
    <spk-button-group class="small">
      <button type="button" [class.active]="inputType() === 'text'" (click)="inputType.set('text')">Text</button>
      <button type="button" [class.active]="inputType() === 'number'" (click)="inputType.set('number')">Number</button>
      <button type="button" [class.active]="inputType() === 'textarea'" (click)="inputType.set('textarea')">
        Textarea
      </button>
    </spk-button-group>

    <spk-button-group class="small">
      <button type="button" [class.active]="size() === ''" (click)="size.set('')">Default</button>
      <button type="button" [class.active]="size() === 'small'" (click)="size.set('small')">Small</button>
      <button type="button" [class.active]="size() === 'autosize'" (click)="size.set('autosize')">Autosize</button>
      <button type="button" [class.active]="size() === 'center'" (click)="size.set('center')">Center</button>
    </spk-button-group>
  </div>
  <div class="row">
    @if (showLabel()) {
      <spk-form-field><input [(ngModel)]="label" placeholder="Label text" /></spk-form-field>
    }
    @if (showPrefix()) {
      <spk-form-field><input [(ngModel)]="prefix" placeholder="Prefix content" /></spk-form-field>
    }
    @if (showSuffix()) {
      <spk-form-field><input [(ngModel)]="suffix" placeholder="Suffix content" /></spk-form-field>
    }
    @if (showHint()) {
      <spk-form-field><input [(ngModel)]="hint" placeholder="Hint text" /></spk-form-field>
    }
    @if (showError()) {
      <spk-form-field><input [(ngModel)]="error" placeholder="Error text" /></spk-form-field>
    }
    <spk-form-field><input [(ngModel)]="placeholder" placeholder="Placeholder" /></spk-form-field>
  </div>
</div>

<div class="sandbox">
  <spk-form-field [class]="size()">
    @if (showLabel()) {
      <label>{{ label() }}</label>
    }
    @if (showPrefix()) {
      <ng-container prefix>{{ prefix() }}</ng-container>
    }
    @if (showSuffix()) {
      <ng-container suffix>{{ suffix() }}</ng-container>
    }
    @if (inputType() === 'text') {
      <input [placeholder]="placeholder()" [(ngModel)]="value" [disabled]="disabled()" />
    } @else if (inputType() === 'number') {
      <input type="number" [placeholder]="placeholder()" [(ngModel)]="value" [disabled]="disabled()" />
    } @else if (inputType() === 'textarea') {
      <textarea [placeholder]="placeholder()" [(ngModel)]="value" [disabled]="disabled()"></textarea>
    }
    @if (showHint()) {
      <span hint>{{ hint() }}</span>
    }
    @if (showError()) {
      <span error>{{ error() }}</span>
    }
  </spk-form-field>
</div>
