@use '../../../../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: flex;
  position: relative;
  width: 100%;
  height: p2r(500);
  background-color: var(--base-3);

  sh-sidenav {
    border: var(--border-10);
  }
}
