<h3>
  Snackbar
  <button mat-stroked-button class="small" (click)="addAlert()">
    <mat-icon>plus</mat-icon>
  </button>
</h3>

<mat-divider></mat-divider>

<sparkle-alert-container></sparkle-alert-container>

<mat-divider></mat-divider>

<sparkle-alert type="question">Write a message in this alert area.</sparkle-alert>

<sparkle-alert type="primary">Write a message in this alert area.</sparkle-alert>

<sparkle-alert type="accent">Write a message in this alert area.</sparkle-alert>

<sparkle-alert type="success">Write a message in this alert area.</sparkle-alert>

<sparkle-alert type="error">Write a message in this alert area.</sparkle-alert>

<sparkle-alert type="warning">Write a message in this alert area.</sparkle-alert>

<mat-divider></mat-divider>

<sparkle-alert type="question">
  <mat-icon sparkle-alert-icon>circle</mat-icon>
  Write a message in this alert area.
</sparkle-alert>

<mat-divider></mat-divider>

<sparkle-alert type="question">
  Write a message in this alert area.

  <div sparkle-alert-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</sparkle-alert>

<sparkle-alert type="primary">
  Write a message in this alert area.

  <div sparkle-alert-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</sparkle-alert>

<sparkle-alert type="accent">
  Write a message in this alert area.

  <div sparkle-alert-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</sparkle-alert>

<sparkle-alert type="success">
  Write a message in this alert area.

  <div sparkle-alert-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</sparkle-alert>

<sparkle-alert type="error">
  Write a message in this alert area.

  <div sparkle-alert-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</sparkle-alert>

<sparkle-alert type="warning">
  Write a message in this alert area.

  <div sparkle-alert-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus eius in eligendi architecto quia
    dignissimos tempora voluptates voluptatem culpa at a nesciunt dolore, impedit alias sequi numquam voluptas fugiat!
  </div>
</sparkle-alert>
