<spk-toggle [class.active]="active()" (click)="active.set(!active())" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="primary" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="accent" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="warn" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="error" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" class="success" />
<spk-toggle [class.active]="active()" (click)="active.set(!active())" disabled />
