@use '../../../../../../../ship-ui/styles/helpers.scss' as *;

:host {
  display: flex;
  gap: p2r(8);
  flex-wrap: wrap;
  height: p2r(500);
  padding: p2r(20);
  background-color: var(--base-3);

  sh-sidenav {
    max-width: p2r(860);
    border: var(--border-10);
  }
}
