<sh-form-field>
  <input placeholder="Placeholder no label..." />
  <div boxPrefix>
    Hello
    <sh-icon>circle</sh-icon>
  </div>

  <div boxSuffix>hello 123</div>
</sh-form-field>

<sh-form-field>
  <input placeholder="Placeholder no label..." />
  <sh-icon prefix>circle</sh-icon>

  <ng-container suffix>hello 123</ng-container>
</sh-form-field>

<sh-form-field class="autosize">
  <input type="time" />
  <div boxPrefix>
    <sh-icon>clock</sh-icon>
  </div>
</sh-form-field>

<sh-form-field>
  <label>
    Label
    <sh-icon>question</sh-icon>
  </label>
  <input placeholder="Placeholder..." />
</sh-form-field>

<sh-form-field>
  <label>
    Label
    <sh-icon>question</sh-icon>
  </label>
  <input placeholder="Placeholder..." />
  <sh-icon prefix>circle</sh-icon>
  <sh-icon>circle</sh-icon>
</sh-form-field>

<sh-icon>circle</sh-icon>

<sh-form-field>
  <label>
    Label
    <sh-icon>question</sh-icon>
  </label>
  <input [formControl]="disabledCtrl" placeholder="Placeholder..." />
  <sh-icon prefix>circle</sh-icon>
  <sh-icon>circle</sh-icon>
</sh-form-field>

<sh-form-field>
  <label>
    Label
    <sh-icon>question</sh-icon>
    <sh-icon class="error" shTooltip="hello world">acorn-bold</sh-icon>
  </label>
  <input [formControl]="baseCtrl" placeholder="Placeholder..." #input />
  <span hint>Hint</span>

  <span hint>{{ baseCtrl.value?.length ?? 0 }}/10</span>

  @if ((baseCtrl.value?.length ?? 0) > 10) {
    <span error>Write a message in this alert area</span>
  }
</sh-form-field>

<sh-form-field>
  <label>
    Error without hint
    <sh-icon>question</sh-icon>
  </label>

  <input placeholder="Placeholder with error ..." [formControl]="errorCtrl1" />

  <sh-icon prefix>circle</sh-icon>
  <sh-icon suffix>circle</sh-icon>

  @if (errorCtrl1.invalid && errorCtrl1.touched) {
    <span error>Write a message in this alert area</span>
  }
</sh-form-field>

<sh-form-field>
  <label>
    Label
    <sh-icon>question</sh-icon>
  </label>

  <input placeholder="Placeholder with error ..." [formControl]="errorCtrl" />

  <sh-icon prefix>circle</sh-icon>
  <sh-icon suffix>circle</sh-icon>

  @if (errorCtrl.invalid && errorCtrl.touched) {
    <span error>Write a message in this alert area</span>
  }

  <span hint>{{ errorCtrl.value?.length ?? 0 }}/10</span>
</sh-form-field>

<sh-form-field class="center autosize">
  <label>
    Number without suffix auto
    <sh-icon>question</sh-icon>
  </label>
  <input type="number" placeholder="0" />
  <sh-icon prefix>circle</sh-icon>
  <span textPrefix>Hello</span>
</sh-form-field>

<sh-form-field class="center autosize">
  <label>
    Number without suffix
    <sh-icon>question</sh-icon>
  </label>
  <input type="number" placeholder="0" />
</sh-form-field>

<sh-form-field class="auto-width">
  <label>
    Label
    <sh-icon>question</sh-icon>
  </label>
  <input type="number" placeholder="0" />
  <sh-icon prefix>circle</sh-icon>
  <span textPrefix>Hello</span>
  <span textSuffix>.00</span>
</sh-form-field>

<sh-form-field>
  <label>
    Label
    <sh-icon>question</sh-icon>
  </label>
  <input type="number" placeholder="0" />
  <span textPrefix>$&nbsp;</span>
  <span textSuffix>.00</span>
</sh-form-field>

<sh-form-field>
  <label>
    Label
    <sh-icon>question</sh-icon>
  </label>
  <input [formControl]="disabledCtrl" type="number" placeholder="0" />
  <span textPrefix>$&nbsp;</span>
  <span textSuffix>.00</span>
</sh-form-field>

<sh-form-field>
  <label>Textarea</label>
  <textarea></textarea>
</sh-form-field>

<sh-form-field>
  <label>Textarea</label>
  <textarea>
with some value very long text with some value very long text with some value very long text with some value very long text with some value very long text </textarea
  >
</sh-form-field>

<sh-form-field>
  <label>Textarea</label>
  <textarea [formControl]="disabledCtrl"></textarea>
</sh-form-field>
