:host {
  display: block;
  padding: 40px;
}

h1 {
  font: var(--title-20B);
}

section {
  display: grid;
  grid-template-columns: 120px 1fr;
  max-width: 900px;
  // border-bottom: 1px solid var(--base-4);

  // &:first-of-type {
  //   border-top: 1px solid var(--base-4);
  // }

  .example-label {
    padding: 40px;
  }

  .example {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    gap: 8px;
  }
}
