<h1>Buttons</h1>

<spk-button-group class="small">
  <button [class.active]="!isSmall()" (click)="isSmall.set(!isSmall())">Regular size</button>
  <button [class.active]="isSmall()" (click)="isSmall.set(!isSmall())">Small size</button>
</spk-button-group>

<div class="content">
  <section>
    <div class="example-label">Base</div>
    <app-previewer path="/spk-buttons/examples/base-button/base-button">
      <app-base-button class="example" [isSmall]="isSmall()" />
    </app-previewer>
  </section>

  <section>
    <div class="example-label">Simple</div>
    <app-simple-button class="example" [isSmall]="isSmall()" />
  </section>

  <section>
    <div class="example-label">Outlined</div>
    <app-outlined-button class="example" [isSmall]="isSmall()" />
  </section>

  <section>
    <div class="example-label">Flat</div>
    <app-flat-button class="example" [isSmall]="isSmall()" />
  </section>

  <section>
    <div class="example-label">Raised</div>
    <app-raised-button class="example" [isSmall]="isSmall()" />
  </section>

  <section>
    <div class="example-label">Icon</div>
    <app-icon-button class="example" [isSmall]="isSmall()" />
  </section>
</div>
