<h1>Standard size</h1>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button spk-button [class.rotated-icon]="rotated()" (click)="rotated.set(!rotated())">
      <spk-icon>caret-down</spk-icon>
    </button>
    <button spk-button [class.rotated-icon]="rotated()">
      <spk-icon>caret-down</spk-icon>
    </button>
    <button spk-button>
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button spk-button class="outlined">
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="outlined">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="outlined primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="outlined accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="outlined tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="outlined warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="outlined" disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button class="outlined" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button spk-button class="flat">
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="flat">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="flat primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="flat accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="flat tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="flat warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="flat" disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button class="flat" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button spk-button class="raised">
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="raised">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="raised primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="raised accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="raised tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="raised warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="raised" disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button class="raised" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button spk-button class="icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="icon" aria-label="Example icon button with a vertical three dot icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="icon primary" aria-label="Example icon button with a home icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="icon accent" aria-label="Example icon button with a menu icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="icon tertiary" aria-label="Example icon button with a menu icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="icon warn" aria-label="Example icon button with a heart icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="icon" disabled aria-label="Example icon button with a open in new tab icon">
        <spk-icon>circle</spk-icon>
      </button>
    </div>
  </div>
</section>

<h1>Small size</h1>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button spk-button class="small">
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small" disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button class="small" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button spk-button class="small outlined">
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small outlined">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small outlined primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small outlined accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small outlined tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small outlined warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small outlined" disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button class="small outlined" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button spk-button class="small flat">
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small flat">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small flat primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small flat accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small flat tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small flat warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small flat" disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button class="small flat" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button spk-button class="small raised">
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small raised">
      <spk-icon>circle</spk-icon>
      Basic
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small raised primary">
      <spk-icon>circle</spk-icon>
      Primary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small raised accent">
      <spk-icon>circle</spk-icon>
      Accent
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small raised tertiary">
      <spk-icon>circle</spk-icon>
      Tertiary
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small raised warn">
      <spk-icon>circle</spk-icon>
      Warn
      <spk-icon>circle</spk-icon>
    </button>
    <button spk-button class="small raised" disabled>
      <spk-icon>circle</spk-icon>
      Disabled
      <spk-icon>circle</spk-icon>
    </button>
    <a spk-button class="small raised" href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<spk-divider />
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button spk-button class="small icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="small icon" aria-label="Example icon button with a vertical three dot icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="small icon primary" aria-label="Example icon button with a home icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="small icon accent" aria-label="Example icon button with a menu icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="small icon tertiary" aria-label="Example icon button with a menu icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="small icon warn" aria-label="Example icon button with a heart icon">
        <spk-icon>circle</spk-icon>
      </button>
      <button spk-button class="small icon" disabled aria-label="Example icon button with a open in new tab icon">
        <spk-icon>circle</spk-icon>
      </button>
    </div>
  </div>
</section>
