@use '../showcase' as *;

:host {
  @extend %tab-host;
}

h3 {
  margin: 0;
  font: var(--title-30);
}

.content {
  display: flex;
  flex-direction: column;
  gap: p2r(20);
}

.example {
  display: flex;
  flex-direction: column;
  gap: p2r(16);
  width: 100%;
  max-width: p2r(480);
}
