<h1>Hello and welcome to ✨SparkleUI!</h1>

<p>
  Sparkle UI is a UI library for
  <a href="https://angular.io/" target="_blank">Angular.</a>
  It's built to have a minimal set of dependencies and use the cutting edge features of angular.
</p>

<p>Sparkle UI are signal based and Zoneless compliant.</p>

<p>
  Nothing is perfect from the beginning this is why SparkleUI have been developed while also being used in a range of
  applications like
  <a href="https://duplicati.com/" target="_blank" rel="noopener noreferrer">Duplicati</a>
  its used in their console and client.
</p>

<p>
  We will keep developing more smaller apps and maintain their codebases so you have some open source examples on how to
  build different types of applications with SparkleUI.
</p>

<p>
  There are a couple of reasons why SparkleUI came to be, first and foremost the design
  <a href="https://x.com/mortenpx" target="_blank" rel="noopener noreferrer">&#x40;mortenpx</a>
  and I
  <a href="https://x.com/SimonBitwise" target="_blank" rel="noopener noreferrer">&#x40;simonbitwise</a>
  have been frustrated that most UI look clunky and many teams fail to ship good looking products we both have more than
  15years of experience in our respective fields. So in the end of 2023 to start 2024 we decided to do something about
  it. SparkleUI are a product of a share frustration from a developer perspektive i feel most UI libs comes with
  inconsistent API design, many dependencies, lacking key feature and ships monstrosities of a css file.
</p>

<p>
  We wanted to make something that was agile enough so you could adapt it for your product, but also something that was
  simple and consistent to use.
</p>

<p>
  Sparkle will never be finished and we have a loooong list of components and features we wanna ship swing by the
  <a href="https://github.com/sparkle-ui/core" target="_blank" rel="noopener noreferrer">README.MD</a>
  on our github repo to read more about what kind if UI elements we wanna ship but also what kind of features we wanna
  add.
</p>

<p>
  It's gonna be in a public pre-release beta for a while because we wanna be able to rewrite how components are used
  completely.
</p>
