<h1>Alerts</h1>

<app-property-viewer>
  <section>
    <h4>Variants</h4>
    <p>
      Alert variants can be set through the class ex
      <code>class="simple"</code>
      takes
      <b>simple</b>
      ,
      <b>outlined</b>
      ,
      <b>flat</b>
      , and
      <b>raised</b>
    </p>
  </section>
  <section>
    <h4>Colors</h4>
    <p>
      Alert colors can be set through the class ex
      <code>class="primary"</code>
      takes
      <b>primary</b>
      ,
      <b>accent</b>
      ,
      <b>warn</b>
      ,
      <b>error</b>
      , and
      <b>success</b>
    </p>
  </section>
</app-property-viewer>

<div class="sandbox-example">
  <app-previewer path="/sh-alerts/examples/alerts-sandbox/alerts-sandbox.component" title="Sandbox" class="no-space">
    <app-alerts-sandbox />
  </app-previewer>
</div>

<h3>Variations</h3>

<div class="content">
  <app-previewer path="/sh-alerts/examples/base-alert/base-alert.component" title="Base">
    <app-base-alert class="example" />
  </app-previewer>
  <app-previewer path="/sh-alerts/examples/simple-alert/simple-alert.component" title="Simple">
    <app-simple-alert class="example" />
  </app-previewer>
  <app-previewer path="/sh-alerts/examples/outlined-alert/outlined-alert.component" title="Outlined">
    <app-outlined-alert class="example" />
  </app-previewer>
  <app-previewer path="/sh-alerts/examples/flat-alert/flat-alert.component" title="Flat">
    <app-flat-alert class="example" />
  </app-previewer>
  <app-previewer path="/sh-alerts/examples/raised-alert/raised-alert.component" title="Raised">
    <app-raised-alert class="example" />
  </app-previewer>
</div>
