<section>
  <h3>Button Group</h3>

  <spk-button-group>
    @for (item of items(); track $index) {
      <button [class.active]="activeIndex() === $index" (click)="updateActiveIndex($index)">
        <spk-icon>circle</spk-icon>
        Hello
      </button>
    }
  </spk-button-group>
</section>

<section>
  <h3>Button Group - small</h3>

  <spk-button-group class="small">
    @for (item of items(); track $index) {
      <button [class.active]="activeIndex() === $index" (click)="updateActiveIndex($index)">
        <spk-icon>circle</spk-icon>
        Hello
      </button>
    }
  </spk-button-group>
</section>
