<!-- Primary themed tooltip -->
<button shButton class="primary" [shTooltip]="'Primary themed tooltip'">
  <sh-icon>check</sh-icon>
  Primary
</button>

<!-- Accent themed tooltip -->
<button shButton class="accent" [shTooltip]="'Accent themed tooltip'">
  <sh-icon>star</sh-icon>
  Accent
</button>

<!-- Warn themed tooltip -->
<button shButton class="warn" [shTooltip]="'Warning themed tooltip'">
  <sh-icon>warning</sh-icon>
  Warning
</button>

<!-- Error themed tooltip -->
<button shButton class="error" [shTooltip]="'Error themed tooltip'">
  <sh-icon>warning-octagon</sh-icon>
  Error
</button>

<!-- Success themed tooltip -->
<button shButton class="success" [shTooltip]="'Success themed tooltip'">
  <sh-icon>check-circle</sh-icon>
  Success
</button>

<!-- Icon themed tooltips -->
<sh-icon class="primary" [shTooltip]="'Primary icon tooltip'">info</sh-icon>
<sh-icon class="accent" [shTooltip]="'Accent icon tooltip'">star</sh-icon>
<sh-icon class="warn" [shTooltip]="'Warning icon tooltip'">warning</sh-icon>
<sh-icon class="error" [shTooltip]="'Error icon tooltip'">warning-octagon</sh-icon>
<sh-icon class="success" [shTooltip]="'Success icon tooltip'">check-circle</sh-icon>
