<!-- Primary themed tooltip -->
<button sh-button class="primary" [spkTooltip]="'Primary themed tooltip'">
  <sh-icon>check</sh-icon>
  Primary
</button>

<!-- Accent themed tooltip -->
<button sh-button class="accent" [spkTooltip]="'Accent themed tooltip'">
  <sh-icon>star</sh-icon>
  Accent
</button>

<!-- Warn themed tooltip -->
<button sh-button class="warn" [spkTooltip]="'Warning themed tooltip'">
  <sh-icon>warning</sh-icon>
  Warning
</button>

<!-- Error themed tooltip -->
<button sh-button class="error" [spkTooltip]="'Error themed tooltip'">
  <sh-icon>warning-octagon</sh-icon>
  Error
</button>

<!-- Success themed tooltip -->
<button sh-button class="success" [spkTooltip]="'Success themed tooltip'">
  <sh-icon>check-circle</sh-icon>
  Success
</button>

<!-- Icon themed tooltips -->
<sh-icon class="primary" [spkTooltip]="'Primary icon tooltip'">info</sh-icon>
<sh-icon class="accent" [spkTooltip]="'Accent icon tooltip'">star</sh-icon>
<sh-icon class="warn" [spkTooltip]="'Warning icon tooltip'">warning</sh-icon>
<sh-icon class="error" [spkTooltip]="'Error icon tooltip'">warning-octagon</sh-icon>
<sh-icon class="success" [spkTooltip]="'Success icon tooltip'">check-circle</sh-icon>
