<section>
  <h3>Menus</h3>
  <div class="example">
    <button mat-button [class.active]="true">
      Some active menu button
      <spk-icon>circle</spk-icon>
    </button>
    <div
      class="mat-mdc-menu-panel mat-mdc-elevation-specific ng-trigger ng-trigger-transformMenu mat-menu-after mat-menu-below"
      id="mat-menu-panel-0">
      <div class="mat-mdc-menu-content">
        <div mat-menu-title>Section title 1.</div>
        <button mat-menu-item mat-menu-hotkey="⌘O">
          <spk-icon>circle</spk-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item mat-menu-hotkey="⌘O">
          <spk-icon>circle</spk-icon>
          <span>Redial</span>
        </button>

        <mat-divider />

        <div mat-menu-title>Section title 2.</div>
        <button mat-menu-item mat-menu-hotkey="⌘O">
          <spk-icon>circle</spk-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item mat-menu-hotkey="⌘O" disabled>
          <spk-icon>circle</spk-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item mat-menu-hotkey="⌘O">
          <spk-icon>circle</spk-icon>
          <span>Disable alerts</span>
        </button>
      </div>
    </div>
  </div>

  <div class="example">
    <button
      mat-button
      [class.active]="languageMenuTrigger.menuOpen"
      [matMenuTriggerFor]="languageMenu"
      #languageMenuTrigger="matMenuTrigger">
      Language
      <spk-icon>circle</spk-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item>English</button>
      <button mat-menu-item>Spanish</button>
      <button mat-menu-item>French</button>
    </mat-menu>
  </div>
</section>
