@use 'helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(40);
  padding: p2r(40);

  @include breakpoint(-milli) {
    gap: p2r(20);
    padding: p2r(20);
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: p2r(40);
  padding: p2r(40);

  @include breakpoint(-milli) {
    gap: p2r(20);
    padding: p2r(20);
  }
}
