<section>
  <h3>New select</h3>

  <spk-select-new
    [isClearable]="true"
    [options]="options()"
    value="id"
    [optionTemplate]="optionTemplate"
    placeholder="Select some option NOW!!">
    <label>Reactive Form and optionTemplate Select</label>
    <input type="text" [formControl]="inputCtrlNew1" />
  </spk-select-new>

  <spk-select-new
    [isClearable]="true"
    [selectMultiple]="true"
    [options]="options()"
    value="id"
    class="primary raised"
    [optionTemplate]="optionTemplate"
    placeholder="Select some option NOW!!">
    <label>Reactive Form and optionTemplate Select</label>
    <input type="text" [formControl]="inputCtrlNew1Multiple" />
  </spk-select-new>

  <spk-select-new [isClearable]="true" [options]="flatOptions()" [placeholderTemplate]="placeholderTemplate">
    <label>Inline Template flat options</label>
    <input type="text" [formControl]="inputCtrlNew2" />

    <ng-template let-option>
      <div class="custom-option">{{ option }} 🙂‍↔️🙂‍↔️</div>
    </ng-template>
  </spk-select-new>

  <spk-select-new
    [options]="options()"
    label="hello.world.value"
    [readonly]="true"
    value="id"
    [inlineSearch]="true"
    [(selectedOptions)]="selectedOption">
    <label>Searchable Select</label>
    <input type="text" />
  </spk-select-new>

  <spk-select-new
    [(selectedOptions)]="lazySearchableSelectedOption"
    [options]="lazyOptions()"
    [isLoading]="lazyLoading()"
    [isClearable]="true"
    label="hello.world.value"
    value="id"
    [debugRef]="4"
    [lazySearch]="true">
    <label>Searchable Select</label>
    <input type="text" [(ngModel)]="lazySearchableOption" />
  </spk-select-new>

  <!-- Option Template -->
  <ng-template #optionTemplate let-option>
    <div>🙂‍↔️🙂‍↔️ ID: {{ option.id }}, Name: {{ option.name }}</div>
  </ng-template>

  <ng-template let-option #placeholderTemplate>
    <div class="custom-option">Hell im a custom placeholder template 🙂‍↔️🙂‍↔️</div>
  </ng-template>

  <pre>
    form control value - inputCtrlNew1: {{ inputCtrlNew1.value | json }} - {{ inputCtrlNew1.valid }}
    form control value - inputCtrlNew1Multiple: {{ inputCtrlNew1Multiple.value | json }} - {{ inputCtrlNew1Multiple.valid }}
    form control value - inputCtrlNew2: {{ inputCtrlNew2.value | json }} - {{ inputCtrlNew2.valid }}
    spk-select-new selected option: {{ selectedOption() | json }}
    lazy selected option: {{ lazySearchableSelectedOption() | json }} - {{ lazySearchableOption() }} - {{ typeof lazySearchableOption() }}
    <!-- lazy selected option: {{ lazySearchableSelectedOption() | json }}  -->
  </pre>
</section>

<section>
  <h3>Basic</h3>

  <pre>
    search: {{ this.search() }}
    inputCtrl: {{ inputCtrl.value }}
    inputCtrl2: {{ inputCtrl2.value }}
    inputSearchCtrl: {{ inputSearchCtrl.value }}
    some {{ some() }}
  </pre>
  <spk-icon>x-bold</spk-icon>
  <spk-icon>magnifying-glass</spk-icon>

  <!-- <spk-new-select>
    <label for="search">New search</label>
    <input type="search" id="search" [formControl]="inputSearchCtrl" />

    
      @for (food of foods(); track $index) {
        <spk-option [value]="food.value">{{ food.label }} - ({{ $index }})</spk-option>
      }
    
  </spk-new-select> -->

  <!-- <spk-dialog [isOpen]="true">
    <spk-select [displayFn]="displayFn(foods())" class="primary">
      <label for="text">Simple select one from list</label>
      <input type="text" id="text" [formControl]="inputCtrl" />

      @for (food of foods(); track $index) {
        <spk-option [value]="food.value">{{ food.label }} - ({{ $index }})</spk-option>
      }
    </spk-select>
  </spk-dialog> -->

  <spk-select [displayFn]="displayFn(foods())" class="primary" [readonly]="true">
    <label for="text">Simple select one from list</label>
    <input type="text" id="text" [formControl]="inputCtrl" />

    @for (food of foods(); track $index) {
      <spk-option [value]="food.value">{{ food.label }} - ({{ $index }})</spk-option>
    }
  </spk-select>

  <spk-select [displayFn]="displayFn(foods())" class="primary">
    <label for="text">Simple select one from list</label>
    <input type="text" id="text" [formControl]="inputSearchCtrl2" />

    @for (food of foods(); track $index) {
      <spk-option [value]="food.value">{{ food.label }}</spk-option>
    }
  </spk-select>

  <!-- <spk-select [displayFn]="displayFn(foods())" class="primary">
    <label for="search">Select one from filtered list</label>
    <input type="search" id="search" [formControl]="inputSearchCtrl" />

    <option deselect>Hello remove me</option>

    @for (food of localFilteredFoods(); track $index) {
      <spk-option [value]="food.value">{{ food.label }} - ({{ $index }})</spk-option>
    }
  </spk-select> -->

  <spk-select [isFreeText]="true" class="primary">
    <label for="search">Select one from filtered list</label>
    <input type="search" id="search" [formControl]="inputSearchCtrl" />

    <!-- <option deselect>Hello remove me</option> -->

    @for (food of localFilteredFoods(); track $index) {
      <spk-option [value]="food.value">{{ food.label }} - ({{ $index }})</spk-option>
    }
  </spk-select>

  <spk-select [selectMultiple]="true" [displayFn]="displayFn(foods())" class="primary">
    <label for="text">Multiple select with search</label>
    <input type="text" id="text" tabindex="1" placeholder="Text..." [formControl]="inputCtrl2" />

    <spk-option deselect>Hello remove me</spk-option>

    @for (food of foods(); track $index) {
      <spk-option [value]="food.value">
        {{ food.label }} - ({{ $index }})

        <spk-checkbox class="raised primary" [class.active]="inputCtrl2.value?.includes(food.value)" />
      </spk-option>
    }

    <spk-icon open-indicator>acorn</spk-icon>
  </spk-select>

  <!-- <spk-select [displayFn]="displayFn(foods())" class="primary">
    <label for="search">Multiple select with search</label>
    <input type="search" id="search" tabindex="1" placeholder="Search..." [formControl]="inputSearchCtrl" />

    

      @for (food of localFilteredFoods(); track $index) {
        <spk-option [value]="food.value">
          {{ food.label }} - ({{ $index }})

        </spk-option>
      }
    
  </spk-select> -->

  <!-- <spk-select>
    <label for="search">Search</label>
    <input type="search" id="search" tabindex="1" placeholder="Search..." [formControl]="inputSearchCtrl" />

    
      @for (food of localFilteredFoods(); track $index) {
        <option [value]="food.value">{{ food.label }} - ({{ $index }})</option>
      }
    
  </spk-select> -->

  <!-- <spk-multi-select [selectMultiple]="false" [displayFn]="displayFn(foods())" class="primary">
    <input type="text" tabindex="2" placeholder="Search hi..." [formControl]="inputSearchCtrl2" />

    
      @for (food of foods(); track $index) {
        <option [value]="food.value">{{ food.label }} - ({{ $index }})</option>
      }
    
  </spk-multi-select>

  <spk-select>
    <input type="text" tabindex="2" placeholder="Search hi..." [formControl]="inputSearchCtrl2" />

    
      @for (food of foods(); track $index) {
        <option [value]="food.value">{{ food.label }} - ({{ $index }})</option>
      }
    
  </spk-select>

  <spk-select>
    <input type="search" tabindex="2" placeholder="Search hi..." [formControl]="inputSearchCtrl2" />

    
      @for (food of otherFilteredFoods(); track $index) {
        <option [value]="food.value">{{ food.label }} - ({{ $index }})</option>
      }
    
  </spk-select> -->

  <!-- <spk-select [displayFn]="displayFn(foods())" (inputValueChange)="valueChange($event)">
    <input type="text" placeholder="Select an option..." [formControl]="inputCtrl" />

    
      @for (food of foods(); track $index) {
        <option [value]="food.value">{{ food.label }} - ({{ $index }})</option>
      }
    
  </spk-select> -->

  <!-- <spk-select [displayValue]="displayFn(inputCtrl.value ?? '')">
    <input type="text" placeholder="Select an option..." [formControl]="inputCtrl" />

    
      @for (food of foods(); track $index) {
        <option [value]="food.value">{{ food.label }} - ({{ $index }})</option>
      }
    
  </spk-select>

  <spk-select [displayValue]="displayFn(inputSearchCtrl3.value ?? '')">
    <input type="search" tabindex="3" placeholder="Search..." [formControl]="inputSearchCtrl3" />

    
      @for (foodGroup of filteredFoodGroups(); track $index) {
        <div spk-title>{{ foodGroup.label }}</div>

        @for (food of foodGroup.foods; track $index) {
          <option [value]="food.value">{{ food.label }}</option>
        }
      }
    
  </spk-select> -->
</section>
