<section>
  <h3>Basic</h3>

  <pre>{{ this.search() }}</pre>
  <spk-select>
    <spk-icon open-indicator>circle</spk-icon>
    <input type="search" [(ngModel)]="search" />
    @for (food of filteredFoods(); track $index) {
      <option option [value]="food.value" (click)="search.set(food.value)">{{ food.label }}</option>
    }
  </spk-select>

  <spk-select [displayValue]="displayFn(inputCtrl.value ?? '')" [displayString]="'el.label (el.value)'">
    <input type="text" [formControl]="inputCtrl" />
    @for (food of foods(); track $index) {
      <option option [value]="food.value" (click)="inputCtrl.setValue(food.value)">{{ food.label }}</option>
    }
  </spk-select>
</section>
