<spk-alert [class.active]="active()" (click)="active.set(!active())" class="raised">Raised alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="raised primary">
  Primary raised alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="raised accent">
  Accent raised alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="raised warn">Warn raised alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="raised error">Error raised alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="raised success">
  Success raised alert
</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="raised" disabled>
  Disabled raised alert
</spk-alert>
