<button spk-button class="outlined">
  <spk-icon>circle</spk-icon>
</button>

<button spk-button class="outlined">
  <spk-icon>circle</spk-icon>
  Basic
  <spk-icon>circle</spk-icon>
</button>

<button spk-button class="outlined primary">
  <spk-icon>circle</spk-icon>
  Primary
  <spk-icon>circle</spk-icon>
</button>

<button spk-button class="outlined accent">
  <spk-icon>circle</spk-icon>
  Accent
  <spk-icon>circle</spk-icon>
</button>

<button spk-button class="outlined warn">
  <spk-icon>circle</spk-icon>
  Warn
  <spk-icon>circle</spk-icon>
</button>

<button spk-button class="outlined error">
  <spk-icon>circle</spk-icon>
  Error
  <spk-icon>circle</spk-icon>
</button>

<button spk-button class="outlined success">
  <spk-icon>circle</spk-icon>
  Success
  <spk-icon>circle</spk-icon>
</button>

<button spk-button class="outlined" disabled>
  <spk-icon>circle</spk-icon>
  Disabled
  <spk-icon>circle</spk-icon>
</button>

<a spk-button class="outlined" href="https://www.google.com/" target="_blank">Link</a>
