<section>
  <h3>Basic</h3>
  <spk-button-group class="small">
    <button [class.active]="colorClass() === ''" (click)="colorClass.set('')">Default</button>
    <button [class.active]="colorClass() === 'primary'" (click)="colorClass.set('primary')">Primary</button>
    <button [class.active]="colorClass() === 'accent'" (click)="colorClass.set('accent')">Accent</button>
    <button [class.active]="colorClass() === 'warn'" (click)="colorClass.set('warn')">Warn</button>
    <button [class.active]="colorClass() === 'error'" (click)="colorClass.set('error')">Error</button>
    <button [class.active]="colorClass() === 'success'" (click)="colorClass.set('success')">Success</button>
  </spk-button-group>
  <spk-stepper [class]="colorClass()">
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-1">
      <spk-radio />
      Step 1
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-2">
      <spk-radio />
      Step 2
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-3">
      <spk-radio />
      Step 3
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-4">
      <spk-radio />
      Step 4
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-5">
      <spk-radio />
      Step 5
    </div>
  </spk-stepper>

  <router-outlet />
</section>

<section>
  <h3>Basic</h3>
  <spk-stepper [class]="colorClass()">
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-1">
      <spk-radio />
      Step 1
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-2">
      <spk-radio />
      Step 2
    </div>
  </spk-stepper>

  <router-outlet />
</section>
