<section>
  <h3>Basic</h3>
  <spk-stepper>
    <div spk-step>
      <spk-radio routerLinkActive="active" routerLink="/spk-stepper/step-1" />
      Step 1
    </div>
    <div spk-step>
      <spk-radio routerLinkActive="active" routerLink="/spk-stepper/step-2" />
      Step 2
    </div>
    <div spk-step>
      <spk-radio routerLinkActive="active" routerLink="/spk-stepper/step-3" />
      Step 3
    </div>
    <div spk-step>
      <spk-radio routerLinkActive="active" routerLink="/spk-stepper/step-4" />
      Step 4
    </div>
    <div spk-step>
      <spk-radio routerLinkActive="active" routerLink="/spk-stepper/step-5" />
      Step 5
    </div>
  </spk-stepper>

  <router-outlet />
</section>
