<section>
  <h3>Basic</h3>
  <spk-stepper>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-1">
      <spk-radio />
      Step 1
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-2">
      <spk-radio />
      Step 2
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-3">
      <spk-radio />
      Step 3
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-4">
      <spk-radio />
      Step 4
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-5">
      <spk-radio />
      Step 5
    </div>
  </spk-stepper>

  <router-outlet />
</section>

<section>
  <h3>Basic</h3>
  <spk-stepper>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-1">
      <spk-radio />
      Step 1
    </div>
    <div step routerLinkActive="active" routerLink="/spk-stepper/step-2">
      <spk-radio />
      Step 2
    </div>
  </spk-stepper>

  <router-outlet />
</section>
