<h1>Radios</h1>

<app-property-viewer>
  <section>
    <h4>Variants</h4>
    <p>
      Radio variants can be set through the class ex
      <code>class="simple"</code>
      takes
      <b>simple</b>
      ,
      <b>outlined</b>
      ,
      <b>flat</b>
      , and
      <b>raised</b>
    </p>
  </section>
  <section>
    <h4>Colors</h4>
    <p>
      Radio colors can be set through the class ex
      <code>class="primary"</code>
      takes
      <b>primary</b>
      ,
      <b>accent</b>
      ,
      <b>warn</b>
      ,
      <b>error</b>
      , and
      <b>success</b>
    </p>
  </section>
  <section>
    <h4>Disabled</h4>
    <p>
      The radio can be set to disabled through the attribute ex
      <code>[disabled]</code>
    </p>
  </section>
</app-property-viewer>

<div class="sandbox-example">
  <app-previewer path="/spk-radio/examples/radio-sandbox/radio-sandbox.component" title="Sandbox" class="no-space">
    <app-radio-sandbox />
  </app-previewer>
</div>

<h3>Variations</h3>

<div class="content">
  <app-previewer path="/spk-radio/examples/base-radio/base-radio.component" title="Base">
    <app-base-radio class="example" />
  </app-previewer>
  <app-previewer path="/spk-radio/examples/simple-radio/simple-radio.component" title="Simple">
    <app-simple-radio class="example" />
  </app-previewer>
  <app-previewer path="/spk-radio/examples/outlined-radio/outlined-radio.component" title="Outlined">
    <app-outlined-radio class="example" />
  </app-previewer>
  <app-previewer path="/spk-radio/examples/flat-radio/flat-radio.component" title="Flat">
    <app-flat-radio class="example" />
  </app-previewer>
  <app-previewer path="/spk-radio/examples/raised-radio/raised-radio.component" title="Raised">
    <app-raised-radio class="example" />
  </app-previewer>
</div>
