:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

.wrap {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  gap: 40px;
}

.elements {
  display: grid;
  grid-template-columns: 34px 34px;
  gap: 20px 10px;
}

.example-checkbox-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
