<h1>Toggles</h1>

<app-property-viewer>
  <section>
    <h4>Variants</h4>
    <p>
      Toggle variants can be set through the class ex
      <code>class="simple"</code>
      takes
      <b>simple</b>
      ,
      <b>outlined</b>
      ,
      <b>flat</b>
      , and
      <b>raised</b>
    </p>
  </section>
  <section>
    <h4>Colors</h4>
    <p>
      Toggle colors can be set through the class ex
      <code>class="primary"</code>
      takes
      <b>primary</b>
      ,
      <b>accent</b>
      ,
      <b>warn</b>
      ,
      <b>error</b>
      , and
      <b>success</b>
    </p>
  </section>
  <section>
    <h4>Disabled</h4>
    <p>
      The toggle can be set to disabled through the attribute ex
      <code>[disabled]</code>
    </p>
  </section>
</app-property-viewer>

<div class="sandbox-example">
  <app-previewer path="/spk-toggle/examples/toggle-sandbox/toggle-sandbox.component" title="Sandbox" class="no-space">
    <app-toggle-sandbox />
  </app-previewer>
</div>

<h3>Variations</h3>

<div class="content">
  <app-previewer path="/spk-toggle/examples/base-toggle/base-toggle.component" title="Base">
    <app-base-toggle class="example" />
  </app-previewer>
  <app-previewer path="/spk-toggle/examples/simple-toggle/simple-toggle.component" title="Simple">
    <app-simple-toggle class="example" />
  </app-previewer>
  <app-previewer path="/spk-toggle/examples/outlined-toggle/outlined-toggle.component" title="Outlined">
    <app-outlined-toggle class="example" />
  </app-previewer>
  <app-previewer path="/spk-toggle/examples/flat-toggle/flat-toggle.component" title="Flat">
    <app-flat-toggle class="example" />
  </app-previewer>
  <app-previewer path="/spk-toggle/examples/raised-toggle/raised-toggle.component" title="Raised">
    <app-raised-toggle class="example" />
  </app-previewer>
</div>
