@use 'helpers' as *;

:host {
  display: block;
  padding: p2r(40);
}

section {
  display: flex;
  flex-direction: column;
  gap: p2r(20);
}

sh-form-field-experimental {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
  max-width: 300px;
}
