<button shButton class="simple">
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="simple">
  <sh-icon>circle</sh-icon>
  Basic
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="simple primary">
  <sh-icon>circle</sh-icon>
  Primary
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="simple accent">
  <sh-icon>circle</sh-icon>
  Accent
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="simple warn">
  <sh-icon>circle</sh-icon>
  Warn
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="simple error">
  <sh-icon>circle</sh-icon>
  Error
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="simple success">
  <sh-icon>circle</sh-icon>
  Success
  <sh-icon>circle</sh-icon>
</button>

<button shButton class="simple" disabled>
  <sh-icon>circle</sh-icon>
  Disabled
  <sh-icon>circle</sh-icon>
</button>

<a shButton class="simple" href="https://www.google.com/" target="_blank">Link</a>
