@use 'helpers' as *;

@layer ship {
  sh-event-card {
    --ec-py: var(--pad-y-5);
    --ec-px: var(--pad-x-5);

    display: flex;
    gap: var(--gap-x-2);
    width: 100%;
    padding: var(--ec-py) var(--ec-px);

    .content {
      display: flex;
      flex-direction: column;
      gap: var(--gap-y-1);
      flex: 1;

      > * {
        color: var(--sheet-c);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font: var(--paragraph-20B);
      }
    }

    .actions [actions],
    .actions {
      display: flex;
      gap: var(--gap-x-2);
      align-items: center;

      [shButton] {
        --btn-bs: none;
      }
    }

    &:before {
      content: '';
      display: block;
      border-radius: p2r(3);
      width: p2r(6);
      background: var(--sheet-ic);
    }
  }
}
