<h1>Button Group</h1>

<app-property-viewer>
  <section>
    <h4>class.small on button group</h4>
    <p>
      Add the
      <code>class.small</code>
      attribute to the button group to make it smaller.
    </p>
  </section>

  <section>
    <h4>class.active on button</h4>
    <p>
      Add the
      <code>class.active</code>
      attribute to a button to make it active.
    </p>
  </section>
</app-property-viewer>

<div>
  <sh-button-group [class.small]="small()">
    <button [class.active]="!small()" (click)="small.set(false)">Normal (default)</button>
    <button [class.active]="small()" (click)="small.set(true)">Small</button>
  </sh-button-group>
</div>

<app-previewer path="/sh-sortable/examples/base-sortable/base-sortable.component" title="Base">
  <app-base-button-group class="example" [small]="small()" />
</app-previewer>
