@use '../../helpers.scss' as *;

.loader {
  width: p2r(48);
  height: p2r(48);
  display: grid;
  place-content: center;
  color: var(--base-8);
}

.loader,
.loading {
  position: relative;

  &:after {
    content: '';
    width: 1em;
    height: 1em;
    border: 2px solid var(--loader-c);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: flex;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
    inset: 0;
    position: absolute;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
