@use '../showcase' as *;
:host {
  @extend %showcase-host;
}

section {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: p2r(16);
}
