:host {
  display: block;
}

.wm {
  width: 760px;
  height: 400px;
  border: 1px solid var(--base-4);
  border-radius: var(--shape-3);
  background: var(--base-2);
  padding: 6px;
}

.win-body {
  padding: 16px;
  font: var(--paragraph-20);
  color: var(--base-10);
}
