<spk-alert [class.active]="active()" (click)="active.set(!active())">Base alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="primary">Primary alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="accent">Accent alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="warn">Warn alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="error">Error alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" class="success">Success alert</spk-alert>
<spk-alert [class.active]="active()" (click)="active.set(!active())" disabled>Disabled alert</spk-alert>
