<button spk-button [class.small]="isSmall()" class="flat">
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="flat">
  <spk-icon>circle</spk-icon>
  Basic
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="flat primary">
  <spk-icon>circle</spk-icon>
  Primary
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="flat accent">
  <spk-icon>circle</spk-icon>
  Accent
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="flat warn">
  <spk-icon>circle</spk-icon>
  Warn
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="flat error">
  <spk-icon>circle</spk-icon>
  Error
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="flat success">
  <spk-icon>circle</spk-icon>
  Success
  <spk-icon>circle</spk-icon>
</button>
<button spk-button [class.small]="isSmall()" class="flat" disabled>
  <spk-icon>circle</spk-icon>
  Disabled
  <spk-icon>circle</spk-icon>
</button>
<a spk-button [class.small]="isSmall()" class="flat" href="https://www.google.com/" target="_blank">Link</a>
